// Code generated by Fern. DO NOT EDIT.

package gradientaiplatform

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all agents, send a GET request to `/v2/gen-ai/agents`.
func (c *Client) GenaiListAgents(
	ctx context.Context,
	request *godonext.GenaiListAgentsRequest,
	opts ...option.RequestOption,
) (*godonext.APIListAgentsOutputPublic, error) {
	response, err := c.WithRawResponse.GenaiListAgents(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a new agent, send a POST request to `/v2/gen-ai/agents`. The response body contains a JSON object with the newly created agent object.
func (c *Client) GenaiCreateAgent(
	ctx context.Context,
	request *godonext.APICreateAgentInputPublic,
	opts ...option.RequestOption,
) (*godonext.APICreateAgentOutput, error) {
	response, err := c.WithRawResponse.GenaiCreateAgent(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all agent API keys, send a GET request to `/v2/gen-ai/agents/{agent_uuid}/api_keys`.
func (c *Client) GenaiListAgentAPIKeys(
	ctx context.Context,
	request *godonext.GenaiListAgentAPIKeysRequest,
	opts ...option.RequestOption,
) (*godonext.APIListAgentAPIKeysOutput, error) {
	response, err := c.WithRawResponse.GenaiListAgentAPIKeys(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create an agent API key, send a POST request to `/v2/gen-ai/agents/{agent_uuid}/api_keys`.
func (c *Client) GenaiCreateAgentAPIKey(
	ctx context.Context,
	request *godonext.APICreateAgentAPIKeyInputPublic,
	opts ...option.RequestOption,
) (*godonext.APICreateAgentAPIKeyOutput, error) {
	response, err := c.WithRawResponse.GenaiCreateAgentAPIKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update an agent API key, send a PUT request to `/v2/gen-ai/agents/{agent_uuid}/api_keys/{api_key_uuid}`.
func (c *Client) GenaiUpdateAgentAPIKey(
	ctx context.Context,
	request *godonext.APIUpdateAgentAPIKeyInputPublic,
	opts ...option.RequestOption,
) (*godonext.APIUpdateAgentAPIKeyOutput, error) {
	response, err := c.WithRawResponse.GenaiUpdateAgentAPIKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete an API key for an agent, send a DELETE request to `/v2/gen-ai/agents/{agent_uuid}/api_keys/{api_key_uuid}`.
func (c *Client) GenaiDeleteAgentAPIKey(
	ctx context.Context,
	request *godonext.GenaiDeleteAgentAPIKeyRequest,
	opts ...option.RequestOption,
) (*godonext.APIDeleteAgentAPIKeyOutput, error) {
	response, err := c.WithRawResponse.GenaiDeleteAgentAPIKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To regenerate an agent API key, send a PUT request to `/v2/gen-ai/agents/{agent_uuid}/api_keys/{api_key_uuid}/regenerate`.
func (c *Client) GenaiRegenerateAgentAPIKey(
	ctx context.Context,
	request *godonext.GenaiRegenerateAgentAPIKeyRequest,
	opts ...option.RequestOption,
) (*godonext.APIRegenerateAgentAPIKeyOutput, error) {
	response, err := c.WithRawResponse.GenaiRegenerateAgentAPIKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a function route for an agent, send a POST request to `/v2/gen-ai/agents/{agent_uuid}/functions`.
func (c *Client) GenaiAttachAgentFunction(
	ctx context.Context,
	request *godonext.APILinkAgentFunctionInputPublic,
	opts ...option.RequestOption,
) (*godonext.APILinkAgentFunctionOutput, error) {
	response, err := c.WithRawResponse.GenaiAttachAgentFunction(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update the function route, send a PUT request to `/v2/gen-ai/agents/{agent_uuid}/functions/{function_uuid}`.
func (c *Client) GenaiUpdateAgentFunction(
	ctx context.Context,
	request *godonext.APIUpdateAgentFunctionInputPublic,
	opts ...option.RequestOption,
) (*godonext.APIUpdateAgentFunctionOutput, error) {
	response, err := c.WithRawResponse.GenaiUpdateAgentFunction(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a function route from an agent, send a DELETE request to `/v2/gen-ai/agents/{agent_uuid}/functions/{function_uuid}`.
func (c *Client) GenaiDetachAgentFunction(
	ctx context.Context,
	request *godonext.GenaiDetachAgentFunctionRequest,
	opts ...option.RequestOption,
) (*godonext.APIUnlinkAgentFunctionOutput, error) {
	response, err := c.WithRawResponse.GenaiDetachAgentFunction(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To attach guardrails to an agent, send a POST request to `/v2/gen-ai/agents/{agent_uuid}/guardrails`.
func (c *Client) GenaiAttachAgentGuardrails(
	ctx context.Context,
	request *godonext.APILinkAgentGuardrailsInputPublic,
	opts ...option.RequestOption,
) (*godonext.APILinkAgentGuardrailOutput, error) {
	response, err := c.WithRawResponse.GenaiAttachAgentGuardrails(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To detach a guardrail from an agent, send a DELETE request to `/v2/gen-ai/agents/{agent_uuid}/guardrails/{guardrail_uuid}`.
func (c *Client) GenaiDetachAgentGuardrail(
	ctx context.Context,
	request *godonext.GenaiDetachAgentGuardrailRequest,
	opts ...option.RequestOption,
) (*godonext.APIUnlinkAgentGuardrailOutput, error) {
	response, err := c.WithRawResponse.GenaiDetachAgentGuardrail(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To attach knowledge bases to an agent, send a POST request to `/v2/gen-ai/agents/{agent_uuid}/knowledge_bases`
func (c *Client) GenaiAttachKnowledgeBases(
	ctx context.Context,
	request *godonext.GenaiAttachKnowledgeBasesRequest,
	opts ...option.RequestOption,
) (*godonext.APILinkKnowledgeBaseOutput, error) {
	response, err := c.WithRawResponse.GenaiAttachKnowledgeBases(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To attach a knowledge base to an agent, send a POST request to `/v2/gen-ai/agents/{agent_uuid}/knowledge_bases/{knowledge_base_uuid}`
func (c *Client) GenaiAttachKnowledgeBase(
	ctx context.Context,
	request *godonext.GenaiAttachKnowledgeBaseRequest,
	opts ...option.RequestOption,
) (*godonext.APILinkKnowledgeBaseOutput, error) {
	response, err := c.WithRawResponse.GenaiAttachKnowledgeBase(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To detach a knowledge base from an agent, send a DELETE request to `/v2/gen-ai/agents/{agent_uuid}/knowledge_bases/{knowledge_base_uuid}`.
func (c *Client) GenaiDetachKnowledgeBase(
	ctx context.Context,
	request *godonext.GenaiDetachKnowledgeBaseRequest,
	opts ...option.RequestOption,
) (*godonext.APIUnlinkKnowledgeBaseOutput, error) {
	response, err := c.WithRawResponse.GenaiDetachKnowledgeBase(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To add an agent route to an agent, send a POST request to `/v2/gen-ai/agents/{parent_agent_uuid}/child_agents/{child_agent_uuid}`.
func (c *Client) GenaiAttachAgent(
	ctx context.Context,
	request *godonext.APILinkAgentInputPublic,
	opts ...option.RequestOption,
) (*godonext.APILinkAgentOutput, error) {
	response, err := c.WithRawResponse.GenaiAttachAgent(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update an agent route for an agent, send a PUT request to `/v2/gen-ai/agents/{parent_agent_uuid}/child_agents/{child_agent_uuid}`.
func (c *Client) GenaiUpdateAttachedAgent(
	ctx context.Context,
	request *godonext.APIUpdateLinkedAgentInputPublic,
	opts ...option.RequestOption,
) (*godonext.APIUpdateLinkedAgentOutput, error) {
	response, err := c.WithRawResponse.GenaiUpdateAttachedAgent(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete an agent route from a parent agent, send a DELETE request to `/v2/gen-ai/agents/{parent_agent_uuid}/child_agents/{child_agent_uuid}`.
func (c *Client) GenaiDetachAgent(
	ctx context.Context,
	request *godonext.GenaiDetachAgentRequest,
	opts ...option.RequestOption,
) (*godonext.APIUnlinkAgentOutput, error) {
	response, err := c.WithRawResponse.GenaiDetachAgent(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve details of an agent, GET request to `/v2/gen-ai/agents/{uuid}`. The response body is a JSON object containing the agent.
func (c *Client) GenaiGetAgent(
	ctx context.Context,
	request *godonext.GenaiGetAgentRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetAgentOutput, error) {
	response, err := c.WithRawResponse.GenaiGetAgent(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update an agent, send a PUT request to `/v2/gen-ai/agents/{uuid}`. The response body is a JSON object containing the agent.
func (c *Client) GenaiUpdateAgent(
	ctx context.Context,
	request *godonext.APIUpdateAgentInputPublic,
	opts ...option.RequestOption,
) (*godonext.APIUpdateAgentOutput, error) {
	response, err := c.WithRawResponse.GenaiUpdateAgent(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete an agent, send a DELETE request to `/v2/gen-ai/agents/{uuid}`.
func (c *Client) GenaiDeleteAgent(
	ctx context.Context,
	request *godonext.GenaiDeleteAgentRequest,
	opts ...option.RequestOption,
) (*godonext.APIDeleteAgentOutput, error) {
	response, err := c.WithRawResponse.GenaiDeleteAgent(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To view agent routes for an agent, send a GET requtest to `/v2/gen-ai/agents/{uuid}/child_agents`.
func (c *Client) GenaiGetAgentChildren(
	ctx context.Context,
	request *godonext.GenaiGetAgentChildrenRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetChildrenOutput, error) {
	response, err := c.WithRawResponse.GenaiGetAgentChildren(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Check whether an agent is public or private. To update the agent status, send a PUT request to `/v2/gen-ai/agents/{uuid}/deployment_visibility`.
func (c *Client) GenaiUpdateAgentDeploymentVisibility(
	ctx context.Context,
	request *godonext.APIUpdateAgentDeploymentVisibilityInputPublic,
	opts ...option.RequestOption,
) (*godonext.APIUpdateAgentDeploymentVisbilityOutput, error) {
	response, err := c.WithRawResponse.GenaiUpdateAgentDeploymentVisibility(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get agent usage, send a GET request to `/v2/gen-ai/agents/{uuid}/usage`. Returns usage metrics for the specified agent within the provided time range.
func (c *Client) GenaiGetAgentUsage(
	ctx context.Context,
	request *godonext.GenaiGetAgentUsageRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetAgentUsageOutput, error) {
	response, err := c.WithRawResponse.GenaiGetAgentUsage(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all agent versions, send a GET request to `/v2/gen-ai/agents/{uuid}/versions`.
func (c *Client) GenaiListAgentVersions(
	ctx context.Context,
	request *godonext.GenaiListAgentVersionsRequest,
	opts ...option.RequestOption,
) (*godonext.APIListAgentVersionsOutput, error) {
	response, err := c.WithRawResponse.GenaiListAgentVersions(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update to a specific agent version, send a PUT request to `/v2/gen-ai/agents/{uuid}/versions`.
func (c *Client) GenaiRollbackToAgentVersion(
	ctx context.Context,
	request *godonext.APIRollbackToAgentVersionInputPublic,
	opts ...option.RequestOption,
) (*godonext.APIRollbackToAgentVersionOutput, error) {
	response, err := c.WithRawResponse.GenaiRollbackToAgentVersion(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all Anthropic API keys, send a GET request to `/v2/gen-ai/anthropic/keys`.
func (c *Client) GenaiListAnthropicAPIKeys(
	ctx context.Context,
	request *godonext.GenaiListAnthropicAPIKeysRequest,
	opts ...option.RequestOption,
) (*godonext.APIListAnthropicAPIKeysOutput, error) {
	response, err := c.WithRawResponse.GenaiListAnthropicAPIKeys(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create an Anthropic API key, send a POST request to `/v2/gen-ai/anthropic/keys`.
func (c *Client) GenaiCreateAnthropicAPIKey(
	ctx context.Context,
	request *godonext.APICreateAnthropicAPIKeyInputPublic,
	opts ...option.RequestOption,
) (*godonext.APICreateAnthropicAPIKeyOutput, error) {
	response, err := c.WithRawResponse.GenaiCreateAnthropicAPIKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve details of an Anthropic API key, send a GET request to `/v2/gen-ai/anthropic/keys/{api_key_uuid}`.
func (c *Client) GenaiGetAnthropicAPIKey(
	ctx context.Context,
	request *godonext.GenaiGetAnthropicAPIKeyRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetAnthropicAPIKeyOutput, error) {
	response, err := c.WithRawResponse.GenaiGetAnthropicAPIKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update an Anthropic API key, send a PUT request to `/v2/gen-ai/anthropic/keys/{api_key_uuid}`.
func (c *Client) GenaiUpdateAnthropicAPIKey(
	ctx context.Context,
	request *godonext.APIUpdateAnthropicAPIKeyInputPublic,
	opts ...option.RequestOption,
) (*godonext.APIUpdateAnthropicAPIKeyOutput, error) {
	response, err := c.WithRawResponse.GenaiUpdateAnthropicAPIKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete an Anthropic API key, send a DELETE request to `/v2/gen-ai/anthropic/keys/{api_key_uuid}`.
func (c *Client) GenaiDeleteAnthropicAPIKey(
	ctx context.Context,
	request *godonext.GenaiDeleteAnthropicAPIKeyRequest,
	opts ...option.RequestOption,
) (*godonext.APIDeleteAnthropicAPIKeyOutput, error) {
	response, err := c.WithRawResponse.GenaiDeleteAnthropicAPIKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// List Agents by Anthropic Key.
func (c *Client) GenaiListAgentsByAnthropicKey(
	ctx context.Context,
	request *godonext.GenaiListAgentsByAnthropicKeyRequest,
	opts ...option.RequestOption,
) (*godonext.APIListAgentsByAnthropicKeyOutput, error) {
	response, err := c.WithRawResponse.GenaiListAgentsByAnthropicKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list custom models, send a GET request to `/v2/gen-ai/custom_models`.
func (c *Client) GenaiListCustomModels(
	ctx context.Context,
	request *godonext.GenaiListCustomModelsRequest,
	opts ...option.RequestOption,
) (*godonext.APIListCustomModelsOutputPublic, error) {
	response, err := c.WithRawResponse.GenaiListCustomModels(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To import a custom model, send a POST request to `/v2/gen-ai/custom_models/import`.
func (c *Client) GenaiImportCustomModel(
	ctx context.Context,
	request *godonext.APIImportCustomModelInputPublic,
	opts ...option.RequestOption,
) (*godonext.APIImportCustomModelOutputPublic, error) {
	response, err := c.WithRawResponse.GenaiImportCustomModel(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve details of a custom model, send a GET request to `/v2/gen-ai/custom_models/{uuid}`.
func (c *Client) GenaiGetCustomModel(
	ctx context.Context,
	request *godonext.GenaiGetCustomModelRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetCustomModelOutputPublic, error) {
	response, err := c.WithRawResponse.GenaiGetCustomModel(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a custom model, send a DELETE request to `/v2/genai/custom_models/{uuid}`.
func (c *Client) GenaiDeleteCustomModel(
	ctx context.Context,
	request *godonext.GenaiDeleteCustomModelRequest,
	opts ...option.RequestOption,
) (*godonext.APIDeleteCustomModelOutputPublic, error) {
	response, err := c.WithRawResponse.GenaiDeleteCustomModel(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update custom model metadata, send a PATCH request to `/v2/gen-ai/custom_models/{uuid}/metadata`.
func (c *Client) GenaiUpdateCustomModelMetadata(
	ctx context.Context,
	request *godonext.APIUpdateCustomModelMetadataInputPublic,
	opts ...option.RequestOption,
) (*godonext.APIUpdateCustomModelMetadataOutputPublic, error) {
	response, err := c.WithRawResponse.GenaiUpdateCustomModelMetadata(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list evaluation datasets, send a GET request to `/v2/gen-ai/evaluation_datasets`.
func (c *Client) GenaiListEvaluationDatasets(
	ctx context.Context,
	request *godonext.GenaiListEvaluationDatasetsRequest,
	opts ...option.RequestOption,
) (*godonext.APIListEvaluationDatasetsOutput, error) {
	response, err := c.WithRawResponse.GenaiListEvaluationDatasets(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create an evaluation dataset, send a POST request to `/v2/gen-ai/evaluation_datasets`.
func (c *Client) GenaiCreateEvaluationDataset(
	ctx context.Context,
	request *godonext.APICreateEvaluationDatasetInputPublic,
	opts ...option.RequestOption,
) (*godonext.APICreateEvaluationDatasetOutput, error) {
	response, err := c.WithRawResponse.GenaiCreateEvaluationDataset(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create presigned URLs for evaluation dataset file upload, send a POST request to `/v2/gen-ai/evaluation_datasets/file_upload_presigned_urls`.
func (c *Client) GenaiCreateEvaluationDatasetFileUploadPresignedURLs(
	ctx context.Context,
	request *godonext.APICreateDataSourceFileUploadPresignedURLsInputPublic,
	opts ...option.RequestOption,
) (*godonext.APICreateDataSourceFileUploadPresignedURLsOutput, error) {
	response, err := c.WithRawResponse.GenaiCreateEvaluationDatasetFileUploadPresignedURLs(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get a presigned download URL for an evaluation dataset, send a GET request to `/v2/genai/evaluation_datasets/{dataset_uuid}/download_url`.
func (c *Client) GenaiGetEvaluationDatasetDownloadURL(
	ctx context.Context,
	request *godonext.GenaiGetEvaluationDatasetDownloadURLRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetEvaluationDatasetDownloadURLOutput, error) {
	response, err := c.WithRawResponse.GenaiGetEvaluationDatasetDownloadURL(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all evaluation metrics, send a GET request to `/v2/gen-ai/evaluation_metrics`.
func (c *Client) GenaiListEvaluationMetrics(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.APIListEvaluationMetricsOutput, error) {
	response, err := c.WithRawResponse.GenaiListEvaluationMetrics(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To run an evaluation test case, send a POST request to `/v2/gen-ai/evaluation_runs`.
func (c *Client) GenaiRunEvaluationTestCase(
	ctx context.Context,
	request *godonext.APIRunEvaluationTestCaseInputPublic,
	opts ...option.RequestOption,
) (*godonext.APIRunEvaluationTestCaseOutput, error) {
	response, err := c.WithRawResponse.GenaiRunEvaluationTestCase(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrive information about an existing evaluation run, send a GET request to `/v2/gen-ai/evaluation_runs/{evaluation_run_uuid}`.
func (c *Client) GenaiGetEvaluationRun(
	ctx context.Context,
	request *godonext.GenaiGetEvaluationRunRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetEvaluationRunOutput, error) {
	response, err := c.WithRawResponse.GenaiGetEvaluationRun(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve results of an evaluation run, send a GET request to `/v2/gen-ai/evaluation_runs/{evaluation_run_uuid}/results`.
func (c *Client) GenaiGetEvaluationRunResults(
	ctx context.Context,
	request *godonext.GenaiGetEvaluationRunResultsRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetEvaluationRunResultsOutput, error) {
	response, err := c.WithRawResponse.GenaiGetEvaluationRunResults(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve results of an evaluation run, send a GET request to `/v2/gen-ai/evaluation_runs/{evaluation_run_uuid}/results/{prompt_id}`.
func (c *Client) GenaiGetEvaluationRunPromptResults(
	ctx context.Context,
	request *godonext.GenaiGetEvaluationRunPromptResultsRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetEvaluationRunPromptResultsOutput, error) {
	response, err := c.WithRawResponse.GenaiGetEvaluationRunPromptResults(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all evaluation test cases, send a GET request to `/v2/gen-ai/evaluation_test_cases`.
func (c *Client) GenaiListEvaluationTestCases(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.APIListEvaluationTestCasesOutput, error) {
	response, err := c.WithRawResponse.GenaiListEvaluationTestCases(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create an evaluation test-case send a POST request to `/v2/gen-ai/evaluation_test_cases`.
func (c *Client) GenaiCreateEvaluationTestCase(
	ctx context.Context,
	request *godonext.APICreateEvaluationTestCaseInputPublic,
	opts ...option.RequestOption,
) (*godonext.APICreateEvaluationTestCaseOutput, error) {
	response, err := c.WithRawResponse.GenaiCreateEvaluationTestCase(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all evaluation runs by test case, send a GET request to `/v2/gen-ai/evaluation_test_cases/{evaluation_test_case_uuid}/evaluation_runs`.
func (c *Client) GenaiListEvaluationRunsByTestCase(
	ctx context.Context,
	request *godonext.GenaiListEvaluationRunsByTestCaseRequest,
	opts ...option.RequestOption,
) (*godonext.APIListEvaluationRunsByTestCaseOutput, error) {
	response, err := c.WithRawResponse.GenaiListEvaluationRunsByTestCase(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrive information about an existing evaluation test case, send a GET request to `/v2/gen-ai/evaluation_test_case/{test_case_uuid}`.
func (c *Client) GenaiGetEvaluationTestCase(
	ctx context.Context,
	request *godonext.GenaiGetEvaluationTestCaseRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetEvaluationTestCaseOutput, error) {
	response, err := c.WithRawResponse.GenaiGetEvaluationTestCase(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update an evaluation test-case send a PUT request to `/v2/gen-ai/evaluation_test_cases/{test_case_uuid}`.
func (c *Client) GenaiUpdateEvaluationTestCase(
	ctx context.Context,
	request *godonext.APIUpdateEvaluationTestCaseInputPublic,
	opts ...option.RequestOption,
) (*godonext.APIUpdateEvaluationTestCaseOutput, error) {
	response, err := c.WithRawResponse.GenaiUpdateEvaluationTestCase(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all indexing jobs for a knowledge base, send a GET request to `/v2/gen-ai/indexing_jobs`.
func (c *Client) GenaiListIndexingJobs(
	ctx context.Context,
	request *godonext.GenaiListIndexingJobsRequest,
	opts ...option.RequestOption,
) (*godonext.APIListKnowledgeBaseIndexingJobsOutput, error) {
	response, err := c.WithRawResponse.GenaiListIndexingJobs(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To start an indexing job for a knowledge base, send a POST request to `/v2/gen-ai/indexing_jobs`.
func (c *Client) GenaiCreateIndexingJob(
	ctx context.Context,
	request *godonext.APIStartKnowledgeBaseIndexingJobInputPublic,
	opts ...option.RequestOption,
) (*godonext.APIStartKnowledgeBaseIndexingJobOutput, error) {
	response, err := c.WithRawResponse.GenaiCreateIndexingJob(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all datasources for an indexing job, send a GET request to `/v2/gen-ai/indexing_jobs/{indexing_job_uuid}/data_sources`.
func (c *Client) GenaiListIndexingJobDataSources(
	ctx context.Context,
	request *godonext.GenaiListIndexingJobDataSourcesRequest,
	opts ...option.RequestOption,
) (*godonext.APIListIndexingJobDataSourcesOutput, error) {
	response, err := c.WithRawResponse.GenaiListIndexingJobDataSources(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get a signed URL for indexing job details, send a GET request to `/v2/gen-ai/indexing_jobs/{uuid}/details_signed_url`.
func (c *Client) GenaiGetIndexingJobDetailsSignedURL(
	ctx context.Context,
	request *godonext.GenaiGetIndexingJobDetailsSignedURLRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetIndexingJobDetailsSignedURLOutput, error) {
	response, err := c.WithRawResponse.GenaiGetIndexingJobDetailsSignedURL(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get status of an indexing Job for a knowledge base, send a GET request to `/v2/gen-ai/indexing_jobs/{uuid}`.
func (c *Client) GenaiGetIndexingJob(
	ctx context.Context,
	request *godonext.GenaiGetIndexingJobRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetKnowledgeBaseIndexingJobOutput, error) {
	response, err := c.WithRawResponse.GenaiGetIndexingJob(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To cancel an indexing job for a knowledge base, send a PUT request to `/v2/gen-ai/indexing_jobs/{uuid}/cancel`.
func (c *Client) GenaiCancelIndexingJob(
	ctx context.Context,
	request *godonext.APICancelKnowledgeBaseIndexingJobInputPublic,
	opts ...option.RequestOption,
) (*godonext.APICancelKnowledgeBaseIndexingJobOutput, error) {
	response, err := c.WithRawResponse.GenaiCancelIndexingJob(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all knowledge bases, send a GET request to `/v2/gen-ai/knowledge_bases`.
func (c *Client) GenaiListKnowledgeBases(
	ctx context.Context,
	request *godonext.GenaiListKnowledgeBasesRequest,
	opts ...option.RequestOption,
) (*godonext.APIListKnowledgeBasesOutput, error) {
	response, err := c.WithRawResponse.GenaiListKnowledgeBases(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a knowledge base, send a POST request to `/v2/gen-ai/knowledge_bases`.
func (c *Client) GenaiCreateKnowledgeBase(
	ctx context.Context,
	request *godonext.APICreateKnowledgeBaseInputPublic,
	opts ...option.RequestOption,
) (*godonext.APICreateKnowledgeBaseOutput, error) {
	response, err := c.WithRawResponse.GenaiCreateKnowledgeBase(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create presigned URLs for knowledge base data source file upload, send a POST request to `/v2/gen-ai/knowledge_bases/data_sources/file_upload_presigned_urls`.
func (c *Client) GenaiCreateDataSourceFileUploadPresignedURLs(
	ctx context.Context,
	request *godonext.APICreateDataSourceFileUploadPresignedURLsInputPublic,
	opts ...option.RequestOption,
) (*godonext.APICreateDataSourceFileUploadPresignedURLsOutput, error) {
	response, err := c.WithRawResponse.GenaiCreateDataSourceFileUploadPresignedURLs(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all data sources for a knowledge base, send a GET request to `/v2/gen-ai/knowledge_bases/{knowledge_base_uuid}/data_sources`.
func (c *Client) GenaiListKnowledgeBaseDataSources(
	ctx context.Context,
	request *godonext.GenaiListKnowledgeBaseDataSourcesRequest,
	opts ...option.RequestOption,
) (*godonext.APIListKnowledgeBaseDataSourcesOutput, error) {
	response, err := c.WithRawResponse.GenaiListKnowledgeBaseDataSources(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To add a data source to a knowledge base, send a POST request to `/v2/gen-ai/knowledge_bases/{knowledge_base_uuid}/data_sources`.
func (c *Client) GenaiCreateKnowledgeBaseDataSource(
	ctx context.Context,
	request *godonext.APICreateKnowledgeBaseDataSourceInputPublic,
	opts ...option.RequestOption,
) (*godonext.APICreateKnowledgeBaseDataSourceOutput, error) {
	response, err := c.WithRawResponse.GenaiCreateKnowledgeBaseDataSource(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update a data source (e.g. chunking options), send a PUT request to `/v2/gen-ai/knowledge_bases/{knowledge_base_uuid}/data_sources/{data_source_uuid}`.
func (c *Client) GenaiUpdateKnowledgeBaseDataSource(
	ctx context.Context,
	request *godonext.APIUpdateKnowledgeBaseDataSourceInputPublic,
	opts ...option.RequestOption,
) (*godonext.APIUpdateKnowledgeBaseDataSourceOutput, error) {
	response, err := c.WithRawResponse.GenaiUpdateKnowledgeBaseDataSource(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a data source from a knowledge base, send a DELETE request to `/v2/gen-ai/knowledge_bases/{knowledge_base_uuid}/data_sources/{data_source_uuid}`.
func (c *Client) GenaiDeleteKnowledgeBaseDataSource(
	ctx context.Context,
	request *godonext.GenaiDeleteKnowledgeBaseDataSourceRequest,
	opts ...option.RequestOption,
) (*godonext.APIDeleteKnowledgeBaseDataSourceOutput, error) {
	response, err := c.WithRawResponse.GenaiDeleteKnowledgeBaseDataSource(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list latest 15 indexing jobs for a knowledge base, send a GET request to `/v2/gen-ai/knowledge_bases/{knowledge_base_uuid}/indexing_jobs`.
func (c *Client) GenaiListIndexingJobsByKnowledgeBase(
	ctx context.Context,
	request *godonext.GenaiListIndexingJobsByKnowledgeBaseRequest,
	opts ...option.RequestOption,
) (*godonext.APIListKnowledgeBaseIndexingJobsOutput, error) {
	response, err := c.WithRawResponse.GenaiListIndexingJobsByKnowledgeBase(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrive information about an existing knowledge base, send a GET request to `/v2/gen-ai/knowledge_bases/{uuid}`.
func (c *Client) GenaiGetKnowledgeBase(
	ctx context.Context,
	request *godonext.GenaiGetKnowledgeBaseRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetKnowledgeBaseOutput, error) {
	response, err := c.WithRawResponse.GenaiGetKnowledgeBase(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update a knowledge base, send a PUT request to `/v2/gen-ai/knowledge_bases/{uuid}`.
func (c *Client) GenaiUpdateKnowledgeBase(
	ctx context.Context,
	request *godonext.APIUpdateKnowledgeBaseInputPublic,
	opts ...option.RequestOption,
) (*godonext.APIUpdateKnowledgeBaseOutput, error) {
	response, err := c.WithRawResponse.GenaiUpdateKnowledgeBase(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a knowledge base, send a DELETE request to `/v2/gen-ai/knowledge_bases/{uuid}`.
func (c *Client) GenaiDeleteKnowledgeBase(
	ctx context.Context,
	request *godonext.GenaiDeleteKnowledgeBaseRequest,
	opts ...option.RequestOption,
) (*godonext.APIDeleteKnowledgeBaseOutput, error) {
	response, err := c.WithRawResponse.GenaiDeleteKnowledgeBase(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create presigned URLs for model evaluation dataset file upload, send a POST request to `/v2/genai/model_evaluation/datasets/file_upload_presigned_urls`.
func (c *Client) GenaiCreateModelEvalDatasetUploadPresignedURLs(
	ctx context.Context,
	request *godonext.APICreateModelEvalDatasetUploadPresignedURLsInputPublic,
	opts ...option.RequestOption,
) (*godonext.APICreateDataSourceFileUploadPresignedURLsOutput, error) {
	response, err := c.WithRawResponse.GenaiCreateModelEvalDatasetUploadPresignedURLs(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all available metrics for model evaluation, send a GET request to `/v2/genai/model_evaluation_metrics`.
func (c *Client) GenaiListModelEvaluationMetrics(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.APIListModelEvaluationMetricsOutput, error) {
	response, err := c.WithRawResponse.GenaiListModelEvaluationMetrics(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all saved model evaluation presets, send a GET request to `/v2/genai/model_evaluation_presets`.
func (c *Client) GenaiListModelEvaluationPresets(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.APIListModelEvaluationPresetsOutput, error) {
	response, err := c.WithRawResponse.GenaiListModelEvaluationPresets(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve a saved model evaluation preset, send a GET request to `/v2/genai/model_evaluation_presets/{eval_preset_uuid}`.
func (c *Client) GenaiGetModelEvaluationPreset(
	ctx context.Context,
	request *godonext.GenaiGetModelEvaluationPresetRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetModelEvaluationPresetOutput, error) {
	response, err := c.WithRawResponse.GenaiGetModelEvaluationPreset(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a saved model evaluation preset, send a DELETE request to `/v2/gen-ai/model_evaluation_presets/{eval_preset_uuid}`.
func (c *Client) GenaiDeleteModelEvaluationPreset(
	ctx context.Context,
	request *godonext.GenaiDeleteModelEvaluationPresetRequest,
	opts ...option.RequestOption,
) (godonext.APIDeleteModelEvaluationPresetOutput, error) {
	response, err := c.WithRawResponse.GenaiDeleteModelEvaluationPreset(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list model evaluation runs, send a GET request to `/v2/genai/model_evaluation_runs`.
func (c *Client) GenaiListModelEvaluationRuns(
	ctx context.Context,
	request *godonext.GenaiListModelEvaluationRunsRequest,
	opts ...option.RequestOption,
) (*godonext.APIListModelEvaluationRunsOutput, error) {
	response, err := c.WithRawResponse.GenaiListModelEvaluationRuns(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a model evaluation run, send a POST request to `/v2/genai/model_evaluation_runs`.
func (c *Client) GenaiCreateModelEvaluationRun(
	ctx context.Context,
	request *godonext.APICreateModelEvaluationRunInputPublic,
	opts ...option.RequestOption,
) (*godonext.APICreateModelEvaluationRunOutput, error) {
	response, err := c.WithRawResponse.GenaiCreateModelEvaluationRun(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve a model evaluation run, send a GET request to `/v2/genai/model_evaluation_runs/{eval_run_uuid}`.
func (c *Client) GenaiGetModelEvaluationRun(
	ctx context.Context,
	request *godonext.GenaiGetModelEvaluationRunRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetModelEvaluationRunOutput, error) {
	response, err := c.WithRawResponse.GenaiGetModelEvaluationRun(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a model evaluation run, send a DELETE request to `/v2/gen-ai/model_evaluation_runs/{eval_run_uuid}`. The run must be in a terminal status (`successful`, `partially_successful`, `failed`, or `cancelled`). For runs still in progress, either wait for the run to finish or cancel it, then retry the delete once the run reaches a terminal status.
func (c *Client) GenaiDeleteModelEvaluationRun(
	ctx context.Context,
	request *godonext.GenaiDeleteModelEvaluationRunRequest,
	opts ...option.RequestOption,
) (*godonext.APIDeleteModelEvaluationRunOutputPublic, error) {
	response, err := c.WithRawResponse.GenaiDeleteModelEvaluationRun(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To cancel an in-progress model evaluation run, send a PUT request to `/v2/gen-ai/model_evaluation_runs/{eval_run_uuid}/cancel`.
func (c *Client) GenaiCancelModelEvaluationRun(
	ctx context.Context,
	request *godonext.APICancelModelEvaluationRunInputPublic,
	opts ...option.RequestOption,
) (*godonext.APICancelModelEvaluationRunOutput, error) {
	response, err := c.WithRawResponse.GenaiCancelModelEvaluationRun(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get a presigned download URL for model evaluation run results (gzip-compressed JSON), send a GET request to `/v2/genai/model_evaluation_runs/{eval_run_uuid}/results/download_url`.
func (c *Client) GenaiGetModelEvaluationRunResultsDownloadURL(
	ctx context.Context,
	request *godonext.GenaiGetModelEvaluationRunResultsDownloadURLRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetModelEvaluationRunResultsDownloadURLOutput, error) {
	response, err := c.WithRawResponse.GenaiGetModelEvaluationRunResultsDownloadURL(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all models, send a GET request to `/v2/gen-ai/models`.
func (c *Client) GenaiListModels(
	ctx context.Context,
	request *godonext.GenaiListModelsRequest,
	opts ...option.RequestOption,
) (*godonext.APIListModelsOutputPublic, error) {
	response, err := c.WithRawResponse.GenaiListModels(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all model API keys, send a GET request to `/v2/gen-ai/models/api_keys`.
func (c *Client) GenaiListModelAPIKeys(
	ctx context.Context,
	request *godonext.GenaiListModelAPIKeysRequest,
	opts ...option.RequestOption,
) (*godonext.APIListModelAPIKeysOutput, error) {
	response, err := c.WithRawResponse.GenaiListModelAPIKeys(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a model API key, send a POST request to `/v2/gen-ai/models/api_keys`.
func (c *Client) GenaiCreateModelAPIKey(
	ctx context.Context,
	request *godonext.APICreateModelAPIKeyInputPublic,
	opts ...option.RequestOption,
) (*godonext.APICreateModelAPIKeyOutput, error) {
	response, err := c.WithRawResponse.GenaiCreateModelAPIKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update a model API key, send a PUT request to `/v2/gen-ai/models/api_keys/{api_key_uuid}`.
func (c *Client) GenaiUpdateModelAPIKey(
	ctx context.Context,
	request *godonext.APIUpdateModelAPIKeyInputPublic,
	opts ...option.RequestOption,
) (*godonext.APIUpdateModelAPIKeyOutput, error) {
	response, err := c.WithRawResponse.GenaiUpdateModelAPIKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete an API key for a model, send a DELETE request to `/v2/gen-ai/models/api_keys/{api_key_uuid}`.
func (c *Client) GenaiDeleteModelAPIKey(
	ctx context.Context,
	request *godonext.GenaiDeleteModelAPIKeyRequest,
	opts ...option.RequestOption,
) (*godonext.APIDeleteModelAPIKeyOutput, error) {
	response, err := c.WithRawResponse.GenaiDeleteModelAPIKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To regenerate a model API key, send a PUT request to `/v2/gen-ai/models/api_keys/{api_key_uuid}/regenerate`.
func (c *Client) GenaiRegenerateModelAPIKey(
	ctx context.Context,
	request *godonext.GenaiRegenerateModelAPIKeyRequest,
	opts ...option.RequestOption,
) (*godonext.APIRegenerateModelAPIKeyOutput, error) {
	response, err := c.WithRawResponse.GenaiRegenerateModelAPIKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns all available models.
func (c *Client) GenaiListModelCatalog(
	ctx context.Context,
	request *godonext.GenaiListModelCatalogRequest,
	opts ...option.RequestOption,
) (*godonext.APIListModelCatalogOutput, error) {
	response, err := c.WithRawResponse.GenaiListModelCatalog(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns detailed information for a specific model in the catalog including capabilities, pricing, and code examples.
func (c *Client) GenaiGetModelCatalogCard(
	ctx context.Context,
	request *godonext.GenaiGetModelCatalogCardRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetModelCatalogCardOutput, error) {
	response, err := c.WithRawResponse.GenaiGetModelCatalogCard(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list model routers, send a GET request to `/v2/gen-ai/models/routers`.
func (c *Client) GenaiListModelRouters(
	ctx context.Context,
	request *godonext.GenaiListModelRoutersRequest,
	opts ...option.RequestOption,
) (*godonext.APIListModelRoutersOutput, error) {
	response, err := c.WithRawResponse.GenaiListModelRouters(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a model router, send a POST request to `/v2/gen-ai/models/routers`.
func (c *Client) GenaiCreateModelRouter(
	ctx context.Context,
	request *godonext.APICreateModelRouterInputPublic,
	opts ...option.RequestOption,
) (*godonext.APICreateModelRouterOutput, error) {
	response, err := c.WithRawResponse.GenaiCreateModelRouter(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list model router presets, send a GET request to `/v2/gen-ai/models/routers/presets`.
func (c *Client) GenaiListModelRouterPresets(
	ctx context.Context,
	request *godonext.GenaiListModelRouterPresetsRequest,
	opts ...option.RequestOption,
) (*godonext.APIListModelRouterPresetsOutput, error) {
	response, err := c.WithRawResponse.GenaiListModelRouterPresets(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list model router task presets, send a GET request to `/v2/gen-ai/models/routers/tasks/presets`.
func (c *Client) GenaiListModelRouterTaskPresets(
	ctx context.Context,
	request *godonext.GenaiListModelRouterTaskPresetsRequest,
	opts ...option.RequestOption,
) (*godonext.APIListModelRouterTaskPresetsOutput, error) {
	response, err := c.WithRawResponse.GenaiListModelRouterTaskPresets(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve details of a model router, send a GET request to `/v2/gen-ai/models/routers/{uuid}`.
func (c *Client) GenaiGetModelRouter(
	ctx context.Context,
	request *godonext.GenaiGetModelRouterRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetModelRouterOutput, error) {
	response, err := c.WithRawResponse.GenaiGetModelRouter(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update a model router, send a PUT request to `/v2/gen-ai/models/routers/{uuid}`.
func (c *Client) GenaiUpdateModelRouter(
	ctx context.Context,
	request *godonext.APIUpdateModelRouterInputPublic,
	opts ...option.RequestOption,
) (*godonext.APIUpdateModelRouterOutput, error) {
	response, err := c.WithRawResponse.GenaiUpdateModelRouter(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a model router, send a DELETE request to `/v2/gen-ai/models/routers/{uuid}`.
func (c *Client) GenaiDeleteModelRouter(
	ctx context.Context,
	request *godonext.GenaiDeleteModelRouterRequest,
	opts ...option.RequestOption,
) (*godonext.APIDeleteModelRouterOutput, error) {
	response, err := c.WithRawResponse.GenaiDeleteModelRouter(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To obtain the refresh token, needed for creation of data sources, send a GET request to `/v2/gen-ai/oauth2/dropbox/tokens`. Pass the code you obtrained from the oauth flow in the field 'code'
func (c *Client) GenaiCreateOauth2DropboxTokens(
	ctx context.Context,
	request *godonext.APIDropboxOauth2GetTokensInput,
	opts ...option.RequestOption,
) (*godonext.APIDropboxOauth2GetTokensOutput, error) {
	response, err := c.WithRawResponse.GenaiCreateOauth2DropboxTokens(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To generate an Oauth2-URL for use with your localhost, send a GET request to `/v2/gen-ai/oauth2/url`. Pass 'http://localhost:3000 as redirect_url
func (c *Client) GenaiGetOauth2URL(
	ctx context.Context,
	request *godonext.GenaiGetOauth2URLRequest,
	opts ...option.RequestOption,
) (*godonext.APIGenerateOauth2URLOutput, error) {
	response, err := c.WithRawResponse.GenaiGetOauth2URL(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all OpenAI API keys, send a GET request to `/v2/gen-ai/openai/keys`.
func (c *Client) GenaiListOpenaiAPIKeys(
	ctx context.Context,
	request *godonext.GenaiListOpenaiAPIKeysRequest,
	opts ...option.RequestOption,
) (*godonext.APIListOpenAiapiKeysOutput, error) {
	response, err := c.WithRawResponse.GenaiListOpenaiAPIKeys(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create an OpenAI API key, send a POST request to `/v2/gen-ai/openai/keys`.
func (c *Client) GenaiCreateOpenaiAPIKey(
	ctx context.Context,
	request *godonext.APICreateOpenAiapiKeyInputPublic,
	opts ...option.RequestOption,
) (*godonext.APICreateOpenAiapiKeyOutput, error) {
	response, err := c.WithRawResponse.GenaiCreateOpenaiAPIKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve details of an OpenAI API key, send a GET request to `/v2/gen-ai/openai/keys/{api_key_uuid}`.
func (c *Client) GenaiGetOpenaiAPIKey(
	ctx context.Context,
	request *godonext.GenaiGetOpenaiAPIKeyRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetOpenAiapiKeyOutput, error) {
	response, err := c.WithRawResponse.GenaiGetOpenaiAPIKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update an OpenAI API key, send a PUT request to `/v2/gen-ai/openai/keys/{api_key_uuid}`.
func (c *Client) GenaiUpdateOpenaiAPIKey(
	ctx context.Context,
	request *godonext.APIUpdateOpenAiapiKeyInputPublic,
	opts ...option.RequestOption,
) (*godonext.APIUpdateOpenAiapiKeyOutput, error) {
	response, err := c.WithRawResponse.GenaiUpdateOpenaiAPIKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete an OpenAI API key, send a DELETE request to `/v2/gen-ai/openai/keys/{api_key_uuid}`.
func (c *Client) GenaiDeleteOpenaiAPIKey(
	ctx context.Context,
	request *godonext.GenaiDeleteOpenaiAPIKeyRequest,
	opts ...option.RequestOption,
) (*godonext.APIDeleteOpenAiapiKeyOutput, error) {
	response, err := c.WithRawResponse.GenaiDeleteOpenaiAPIKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// List Agents by OpenAI Key.
func (c *Client) GenaiListAgentsByOpenaiKey(
	ctx context.Context,
	request *godonext.GenaiListAgentsByOpenaiKeyRequest,
	opts ...option.RequestOption,
) (*godonext.APIListAgentsByOpenAiKeyOutput, error) {
	response, err := c.WithRawResponse.GenaiListAgentsByOpenaiKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all datacenter regions, send a GET request to `/v2/gen-ai/regions`.
func (c *Client) GenaiListDatacenterRegions(
	ctx context.Context,
	request *godonext.GenaiListDatacenterRegionsRequest,
	opts ...option.RequestOption,
) (*godonext.APIListRegionsOutput, error) {
	response, err := c.WithRawResponse.GenaiListDatacenterRegions(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create scheduled indexing for a knowledge base, send a POST request to `/v2/gen-ai/scheduled-indexing`.
func (c *Client) GenaiCreateScheduledIndexing(
	ctx context.Context,
	request *godonext.APICreateScheduledIndexingInputPublic,
	opts ...option.RequestOption,
) (*godonext.APICreateScheduledIndexingOutput, error) {
	response, err := c.WithRawResponse.GenaiCreateScheduledIndexing(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Get Scheduled Indexing for knowledge base using knoweldge base uuid, send a GET request to `/v2/gen-ai/scheduled-indexing/knowledge-base/{knowledge_base_uuid}`.
func (c *Client) GenaiGetScheduledIndexing(
	ctx context.Context,
	request *godonext.GenaiGetScheduledIndexingRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetScheduledIndexingOutput, error) {
	response, err := c.WithRawResponse.GenaiGetScheduledIndexing(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Delete Scheduled Indexing for knowledge base, send a DELETE request to `/v2/gen-ai/scheduled-indexing/{uuid}`.
func (c *Client) GenaiDeleteScheduledIndexing(
	ctx context.Context,
	request *godonext.GenaiDeleteScheduledIndexingRequest,
	opts ...option.RequestOption,
) (*godonext.APIDeleteScheduledIndexingOutput, error) {
	response, err := c.WithRawResponse.GenaiDeleteScheduledIndexing(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all workspaces, send a GET request to `/v2/gen-ai/workspaces`.
func (c *Client) GenaiListWorkspaces(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.APIListWorkspacesOutput, error) {
	response, err := c.WithRawResponse.GenaiListWorkspaces(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a new workspace, send a POST request to `/v2/gen-ai/workspaces`. The response body contains a JSON object with the newly created workspace object.
func (c *Client) GenaiCreateWorkspace(
	ctx context.Context,
	request *godonext.APICreateWorkspaceInputPublic,
	opts ...option.RequestOption,
) (*godonext.APICreateWorkspaceOutput, error) {
	response, err := c.WithRawResponse.GenaiCreateWorkspace(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve details of a workspace, GET request to `/v2/gen-ai/workspaces/{workspace_uuid}`. The response body is a JSON object containing the workspace.
func (c *Client) GenaiGetWorkspace(
	ctx context.Context,
	request *godonext.GenaiGetWorkspaceRequest,
	opts ...option.RequestOption,
) (*godonext.APIGetWorkspaceOutput, error) {
	response, err := c.WithRawResponse.GenaiGetWorkspace(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update a workspace, send a PUT request to `/v2/gen-ai/workspaces/{workspace_uuid}`. The response body is a JSON object containing the workspace.
func (c *Client) GenaiUpdateWorkspace(
	ctx context.Context,
	request *godonext.APIUpdateWorkspaceInputPublic,
	opts ...option.RequestOption,
) (*godonext.APIUpdateWorkspaceOutput, error) {
	response, err := c.WithRawResponse.GenaiUpdateWorkspace(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a workspace, send a DELETE request to `/v2/gen-ai/workspace/{workspace_uuid}`.
func (c *Client) GenaiDeleteWorkspace(
	ctx context.Context,
	request *godonext.GenaiDeleteWorkspaceRequest,
	opts ...option.RequestOption,
) (*godonext.APIDeleteWorkspaceOutput, error) {
	response, err := c.WithRawResponse.GenaiDeleteWorkspace(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all agents by a Workspace, send a GET request to `/v2/gen-ai/workspaces/{workspace_uuid}/agents`.
func (c *Client) GenaiListAgentsByWorkspace(
	ctx context.Context,
	request *godonext.GenaiListAgentsByWorkspaceRequest,
	opts ...option.RequestOption,
) (*godonext.APIListAgentsByWorkspaceOutput, error) {
	response, err := c.WithRawResponse.GenaiListAgentsByWorkspace(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To move all listed agents a given workspace, send a PUT request to `/v2/gen-ai/workspaces/{workspace_uuid}/agents`.
func (c *Client) GenaiUpdateAgentsWorkspace(
	ctx context.Context,
	request *godonext.APIMoveAgentsToWorkspaceInputPublic,
	opts ...option.RequestOption,
) (*godonext.APIMoveAgentsToWorkspaceOutput, error) {
	response, err := c.WithRawResponse.GenaiUpdateAgentsWorkspace(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all evaluation test cases by a workspace, send a GET request to `/v2/gen-ai/workspaces/{workspace_uuid}/evaluation_test_cases`.
func (c *Client) GenaiListEvaluationTestCasesByWorkspace(
	ctx context.Context,
	request *godonext.GenaiListEvaluationTestCasesByWorkspaceRequest,
	opts ...option.RequestOption,
) (*godonext.APIListEvaluationTestCasesByWorkspaceOutput, error) {
	response, err := c.WithRawResponse.GenaiListEvaluationTestCasesByWorkspace(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
