// Code generated by Fern. DO NOT EDIT.

package projects

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all your projects, send a GET request to `/v2/projects`.
func (c *Client) List(
	ctx context.Context,
	request *godonext.ProjectsListRequest,
	opts ...option.RequestOption,
) (*godonext.ProjectsListResponse, error) {
	response, err := c.WithRawResponse.List(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a project, send a POST request to `/v2/projects`.
func (c *Client) Create(
	ctx context.Context,
	request *godonext.ProjectBase,
	opts ...option.RequestOption,
) (*godonext.ProjectsCreateResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get your default project, send a GET request to `/v2/projects/default`.
func (c *Client) GetDefault(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.ProjectsGetDefaultResponse, error) {
	response, err := c.WithRawResponse.GetDefault(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update you default project, send a PUT request to `/v2/projects/default`. All of the following attributes must be sent.
func (c *Client) UpdateDefault(
	ctx context.Context,
	request *godonext.Project,
	opts ...option.RequestOption,
) (*godonext.ProjectsUpdateDefaultResponse, error) {
	response, err := c.WithRawResponse.UpdateDefault(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update only specific attributes of your default project, send a PATCH request to `/v2/projects/default`. At least one of the following attributes needs to be sent.
func (c *Client) PatchDefault(
	ctx context.Context,
	request *godonext.Project,
	opts ...option.RequestOption,
) (*godonext.ProjectsPatchDefaultResponse, error) {
	response, err := c.WithRawResponse.PatchDefault(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get a project, send a GET request to `/v2/projects/$PROJECT_ID`.
func (c *Client) Get(
	ctx context.Context,
	request *godonext.ProjectsGetRequest,
	opts ...option.RequestOption,
) (*godonext.ProjectsGetResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update a project, send a PUT request to `/v2/projects/$PROJECT_ID`. All of the following attributes must be sent.
func (c *Client) Update(
	ctx context.Context,
	request *godonext.ProjectsUpdateRequest,
	opts ...option.RequestOption,
) (*godonext.ProjectsUpdateResponse, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a project, send a DELETE request to `/v2/projects/$PROJECT_ID`. To
// be deleted, a project must not have any resources assigned to it. Any existing
// resources must first be reassigned or destroyed, or you will receive a 412 error.
//
// A successful request will receive a 204 status code with no body in response.
// This indicates that the request was processed successfully.
func (c *Client) Delete(
	ctx context.Context,
	request *godonext.ProjectsDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To update only specific attributes of a project, send a PATCH request to `/v2/projects/$PROJECT_ID`. At least one of the following attributes needs to be sent.
func (c *Client) Patch(
	ctx context.Context,
	request *godonext.ProjectsPatchRequest,
	opts ...option.RequestOption,
) (*godonext.ProjectsPatchResponse, error) {
	response, err := c.WithRawResponse.Patch(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
