// Code generated by Fern. DO NOT EDIT.

package _1clickapplications

import (
    context "context"

    godonext "github.com/harshmaru7/godo-next"
    core "github.com/harshmaru7/godo-next/core"
    internal "github.com/harshmaru7/godo-next/internal"
    option "github.com/harshmaru7/godo-next/option"
)


type Client struct {
    WithRawResponse *RawClient

    options *core.RequestOptions
    baseURL string
    caller *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
    return &Client{
        WithRawResponse: NewRawClient(options),
        options: options,
        baseURL: options.BaseURL,
        caller: internal.NewCaller(
            &internal.CallerParams{
                Client: options.HTTPClient,
                MaxAttempts: options.MaxAttempts,
                DisableRetries: options.DisableRetries,
            },
        ),
    }
}

// To list all available 1-Click applications, send a GET request to `/v2/1-clicks`. The `type` may
// be provided as query paramater in order to restrict results to a certain type of 1-Click, for
// example: `/v2/1-clicks?type=droplet`. Current supported types are `kubernetes` and `droplet`.
// 
// The response will be a JSON object with a key called `1_clicks`. This will be set to an array of
// 1-Click application data, each of which will contain the the slug and type for the 1-Click.
func (c *Client) OneClicksList(
    ctx context.Context,
    request *godonext.OneClicksListRequest,
    opts ...option.RequestOption,
) (*godonext.OneClicksListResponse, error){
    response, err := c.WithRawResponse.OneClicksList(
        ctx,
        request,
        opts...,
    )
    if err != nil {
        return nil, err
    }
    return response.Body, nil
}

// To install a Kubernetes 1-Click application on a cluster, send a POST request to
// `/v2/1-clicks/kubernetes`. The `addon_slugs` and `cluster_uuid` must be provided as body
// parameter in order to specify which 1-Click application(s) to install. To list all available
// 1-Click Kubernetes applications, send a request to `/v2/1-clicks?type=kubernetes`.
func (c *Client) OneClicksInstallKubernetes(
    ctx context.Context,
    request *godonext.OneClicksCreate,
    opts ...option.RequestOption,
) (*godonext.OneClicksInstallKubernetesResponse, error){
    response, err := c.WithRawResponse.OneClicksInstallKubernetes(
        ctx,
        request,
        opts...,
    )
    if err != nil {
        return nil, err
    }
    return response.Body, nil
}

