// Code generated by Fern. DO NOT EDIT.

package sshkeys

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all of the keys in your account, send a GET request to `/v2/account/keys`. The response will be a JSON object with a key set to `ssh_keys`. The value of this will be an array of ssh_key objects, each of which contains the standard ssh_key attributes.
func (c *Client) SSHKeysList(
	ctx context.Context,
	request *godonext.SSHKeysListRequest,
	opts ...option.RequestOption,
) (*godonext.SSHKeysListResponse, error) {
	response, err := c.WithRawResponse.SSHKeysList(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To add a new SSH public key to your DigitalOcean account, send a POST request to `/v2/account/keys`. Set the `name` attribute to the name you wish to use and the `public_key` attribute to the full public key you are adding.
func (c *Client) SSHKeysCreate(
	ctx context.Context,
	request *godonext.SSHKeys,
	opts ...option.RequestOption,
) (*godonext.SSHKeysCreateResponse, error) {
	response, err := c.WithRawResponse.SSHKeysCreate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get information about a key, send a GET request to `/v2/account/keys/$KEY_ID` or `/v2/account/keys/$KEY_FINGERPRINT`.
// The response will be a JSON object with the key `ssh_key` and value an ssh_key object which contains the standard ssh_key attributes.
func (c *Client) SSHKeysGet(
	ctx context.Context,
	request *godonext.SSHKeysGetRequest,
	opts ...option.RequestOption,
) (*godonext.SSHKeysGetResponse, error) {
	response, err := c.WithRawResponse.SSHKeysGet(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update the name of an SSH key, send a PUT request to either `/v2/account/keys/$SSH_KEY_ID` or `/v2/account/keys/$SSH_KEY_FINGERPRINT`. Set the `name` attribute to the new name you want to use.
func (c *Client) SSHKeysUpdate(
	ctx context.Context,
	request *godonext.SSHKeysUpdateRequest,
	opts ...option.RequestOption,
) (*godonext.SSHKeysUpdateResponse, error) {
	response, err := c.WithRawResponse.SSHKeysUpdate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To destroy a public SSH key that you have in your account, send a DELETE request to `/v2/account/keys/$KEY_ID` or `/v2/account/keys/$KEY_FINGERPRINT`.
// A 204 status will be returned, indicating that the action was successful and that the response body is empty.
func (c *Client) SSHKeysDelete(
	ctx context.Context,
	request *godonext.SSHKeysDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.SSHKeysDelete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
