// Code generated by Fern. DO NOT EDIT.

package nfs

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list NFS shares, send a GET request to `/v2/nfs?region=${region}`.
//
// A successful request will return all NFS shares belonging to the authenticated user.
func (c *Client) List(
	ctx context.Context,
	request *godonext.NfsListRequest,
	opts ...option.RequestOption,
) (*godonext.NfsListResponse, error) {
	response, err := c.WithRawResponse.List(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a new NFS share, send a POST request to `/v2/nfs`.
func (c *Client) Create(
	ctx context.Context,
	request *godonext.NfsRequest,
	opts ...option.RequestOption,
) (*godonext.NfsCreateResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get an NFS share, send a GET request to `/v2/nfs/{nfs_id}?region=${region}`.
//
// A successful request will return the NFS share.
func (c *Client) Get(
	ctx context.Context,
	request *godonext.NfsGetRequest,
	opts ...option.RequestOption,
) (*godonext.NfsGetResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete an NFS share, send a DELETE request to `/v2/nfs/{nfs_id}?region=${region}`.
//
// A successful request will return a `204 No Content` status code.
func (c *Client) Delete(
	ctx context.Context,
	request *godonext.NfsDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To list all NFS snapshots, send a GET request to `/v2/nfs/snapshots?region=${region}&share_id={share_id}`.
//
// A successful request will return all NFS snapshots belonging to the authenticated user in the specified region.
//
// Optionally, you can filter snapshots by a specific NFS share by including the `share_id` query parameter.
func (c *Client) ListSnapshot(
	ctx context.Context,
	request *godonext.NfsListSnapshotRequest,
	opts ...option.RequestOption,
) (*godonext.NfsSnapshotListResponse, error) {
	response, err := c.WithRawResponse.ListSnapshot(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get an NFS snapshot, send a GET request to `/v2/nfs/snapshots/{nfs_snapshot_id}?region=${region}`.
//
// A successful request will return the NFS snapshot.
func (c *Client) GetSnapshot(
	ctx context.Context,
	request *godonext.NfsGetSnapshotRequest,
	opts ...option.RequestOption,
) (*godonext.NfsSnapshotGetResponse, error) {
	response, err := c.WithRawResponse.GetSnapshot(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete an NFS snapshot, send a DELETE request to `/v2/nfs/snapshots/{nfs_snapshot_id}?region=${region}`.
//
// A successful request will return a `204 No Content` status code.
func (c *Client) DeleteSnapshot(
	ctx context.Context,
	request *godonext.NfsDeleteSnapshotRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteSnapshot(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
