// Code generated by Fern. DO NOT EDIT.

package functions

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Returns a list of namespaces associated with the current user. To get all namespaces, send a GET request to `/v2/functions/namespaces`.
func (c *Client) ListNamespaces(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.FunctionsListNamespacesResponse, error) {
	response, err := c.WithRawResponse.ListNamespaces(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Creates a new serverless functions namespace in the desired region and associates it with the provided label. A namespace is a collection of functions and their associated packages, triggers, and project specifications. To create a namespace, send a POST request to `/v2/functions/namespaces` with the `region` and `label` properties.
func (c *Client) CreateNamespace(
	ctx context.Context,
	request *godonext.CreateNamespace,
	opts ...option.RequestOption,
) (*godonext.FunctionsCreateNamespaceResponse, error) {
	response, err := c.WithRawResponse.CreateNamespace(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Gets the namespace details for the given namespace UUID. To get namespace details, send a GET request to `/v2/functions/namespaces/$NAMESPACE_ID` with no parameters.
func (c *Client) GetNamespace(
	ctx context.Context,
	request *godonext.FunctionsGetNamespaceRequest,
	opts ...option.RequestOption,
) (*godonext.FunctionsGetNamespaceResponse, error) {
	response, err := c.WithRawResponse.GetNamespace(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deletes the given namespace.  When a namespace is deleted all assets, in the namespace are deleted, this includes packages, functions and triggers. Deleting a namespace is a destructive operation and assets in the namespace are not recoverable after deletion. Some metadata is retained, such as activations, or soft deleted for reporting purposes.
// To delete namespace, send a DELETE request to `/v2/functions/namespaces/$NAMESPACE_ID`.
// A successful deletion returns a 204 response.
func (c *Client) DeleteNamespace(
	ctx context.Context,
	request *godonext.FunctionsDeleteNamespaceRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteNamespace(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Returns a list of triggers associated with the current user and namespace. To get all triggers, send a GET request to `/v2/functions/namespaces/$NAMESPACE_ID/triggers`.
func (c *Client) ListTriggers(
	ctx context.Context,
	request *godonext.FunctionsListTriggersRequest,
	opts ...option.RequestOption,
) (*godonext.FunctionsListTriggersResponse, error) {
	response, err := c.WithRawResponse.ListTriggers(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Creates a new trigger for a given function in a namespace. To create a trigger, send a POST request to `/v2/functions/namespaces/$NAMESPACE_ID/triggers` with the `name`, `function`, `type`, `is_enabled` and `scheduled_details` properties.
func (c *Client) CreateTrigger(
	ctx context.Context,
	request *godonext.CreateTrigger,
	opts ...option.RequestOption,
) (*godonext.FunctionsCreateTriggerResponse, error) {
	response, err := c.WithRawResponse.CreateTrigger(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Gets the trigger details. To get the trigger details, send a GET request to `/v2/functions/namespaces/$NAMESPACE_ID/triggers/$TRIGGER_NAME`.
func (c *Client) GetTrigger(
	ctx context.Context,
	request *godonext.FunctionsGetTriggerRequest,
	opts ...option.RequestOption,
) (*godonext.FunctionsGetTriggerResponse, error) {
	response, err := c.WithRawResponse.GetTrigger(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Updates the details of the given trigger. To update a trigger, send a PUT request to `/v2/functions/namespaces/$NAMESPACE_ID/triggers/$TRIGGER_NAME` with new values for the `is_enabled ` or `scheduled_details` properties.
func (c *Client) UpdateTrigger(
	ctx context.Context,
	request *godonext.UpdateTrigger,
	opts ...option.RequestOption,
) (*godonext.FunctionsUpdateTriggerResponse, error) {
	response, err := c.WithRawResponse.UpdateTrigger(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deletes the given trigger.
// To delete trigger, send a DELETE request to `/v2/functions/namespaces/$NAMESPACE_ID/triggers/$TRIGGER_NAME`.
// A successful deletion returns a 204 response.
func (c *Client) DeleteTrigger(
	ctx context.Context,
	request *godonext.FunctionsDeleteTriggerRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteTrigger(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Lists all access keys for a serverless functions namespace.
//
// To list access keys, send a GET request to `/v2/functions/namespaces/{namespace_id}/keys`.
func (c *Client) FunctionsAccessKeyList(
	ctx context.Context,
	request *godonext.FunctionsAccessKeyListRequest,
	opts ...option.RequestOption,
) (*godonext.FunctionsAccessKeyListResponse, error) {
	response, err := c.WithRawResponse.FunctionsAccessKeyList(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Creates a new access key for a serverless functions namespace.
// The access key can be used to authenticate requests to the namespace's functions.
// The secret key is only returned once upon creation.
//
// To create an access key, send a POST request to `/v2/functions/namespaces/{namespace_id}/keys`.
func (c *Client) FunctionsAccessKeyCreate(
	ctx context.Context,
	request *godonext.AccessKeyCreateRequest,
	opts ...option.RequestOption,
) (*godonext.FunctionsAccessKeyCreateResponse, error) {
	response, err := c.WithRawResponse.FunctionsAccessKeyCreate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Updates the name of an access key for a serverless functions namespace.
//
// To update an access key, send a PUT request to `/v2/functions/namespaces/{namespace_id}/keys/{key_id}`.
func (c *Client) FunctionsAccessKeyUpdate(
	ctx context.Context,
	request *godonext.FunctionsAccessKeyUpdateRequest,
	opts ...option.RequestOption,
) (*godonext.FunctionsAccessKeyUpdateResponse, error) {
	response, err := c.WithRawResponse.FunctionsAccessKeyUpdate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deletes an access key for a serverless functions namespace.
//
// To delete an access key, send a DELETE request to `/v2/functions/namespaces/{namespace_id}/keys/{key_id}`.
func (c *Client) FunctionsAccessKeyDelete(
	ctx context.Context,
	request *godonext.FunctionsAccessKeyDeleteRequest,
	opts ...option.RequestOption,
) (map[string]any, error) {
	response, err := c.WithRawResponse.FunctionsAccessKeyDelete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
