// Code generated by Fern. DO NOT EDIT.

package loadbalancers

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all of the load balancer instances on your account, send a GET request
// to `/v2/load_balancers`.
func (c *Client) LoadBalancersList(
	ctx context.Context,
	request *godonext.LoadBalancersListRequest,
	opts ...option.RequestOption,
) (*godonext.LoadBalancersListResponse, error) {
	response, err := c.WithRawResponse.LoadBalancersList(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a new load balancer instance, send a POST request to
// `/v2/load_balancers`.
//
// You can specify the Droplets that will sit behind the load balancer using one
// of two methods:
//
//   - Set `droplet_ids` to a list of specific Droplet IDs.
//   - Set `tag` to the name of a tag. All Droplets with this tag applied will be
//     assigned to the load balancer. Additional Droplets will be automatically
//     assigned as they are tagged.
//
// These methods are mutually exclusive.
func (c *Client) LoadBalancersCreate(
	ctx context.Context,
	request *godonext.LoadBalancerCreate,
	opts ...option.RequestOption,
) (*godonext.LoadBalancersCreateResponse, error) {
	response, err := c.WithRawResponse.LoadBalancersCreate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about a load balancer instance, send a GET request to
// `/v2/load_balancers/$LOAD_BALANCER_ID`.
func (c *Client) LoadBalancersGet(
	ctx context.Context,
	request *godonext.LoadBalancersGetRequest,
	opts ...option.RequestOption,
) (*godonext.LoadBalancersGetResponse, error) {
	response, err := c.WithRawResponse.LoadBalancersGet(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update a load balancer's settings, send a PUT request to
// `/v2/load_balancers/$LOAD_BALANCER_ID`. The request should contain a full
// representation of the load balancer including existing attributes. It may
// contain _one of_ the `droplets_ids` or `tag` attributes as they are mutually
// exclusive. **Note that any attribute that is not provided will be reset to its
// default value.**
func (c *Client) LoadBalancersUpdate(
	ctx context.Context,
	request *godonext.LoadBalancersUpdateRequest,
	opts ...option.RequestOption,
) (*godonext.LoadBalancersUpdateResponse, error) {
	response, err := c.WithRawResponse.LoadBalancersUpdate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a load balancer instance, disassociating any Droplets assigned to it
// and removing it from your account, send a DELETE request to
// `/v2/load_balancers/$LOAD_BALANCER_ID`.
//
// A successful request will receive a 204 status code with no body in response.
// This indicates that the request was processed successfully.
func (c *Client) LoadBalancersDelete(
	ctx context.Context,
	request *godonext.LoadBalancersDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.LoadBalancersDelete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To delete a Global load balancer CDN cache, send a DELETE request to
// `/v2/load_balancers/$LOAD_BALANCER_ID/cache`.
//
// A successful request will receive a 204 status code with no body in response.
// This indicates that the request was processed successfully.
func (c *Client) LoadBalancersDeleteCache(
	ctx context.Context,
	request *godonext.LoadBalancersDeleteCacheRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.LoadBalancersDeleteCache(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To assign a Droplet to a load balancer instance, send a POST request to
// `/v2/load_balancers/$LOAD_BALANCER_ID/droplets`. In the body of the request,
// there should be a `droplet_ids` attribute containing a list of Droplet IDs.
// Individual Droplets can not be added to a load balancer configured with a
// Droplet tag. Attempting to do so will result in a "422 Unprocessable Entity"
// response from the API.
//
// No response body will be sent back, but the response code will indicate
// success. Specifically, the response code will be a 204, which means that the
// action was successful with no returned body data.
func (c *Client) LoadBalancersAddDroplets(
	ctx context.Context,
	request *godonext.LoadBalancersAddDropletsRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.LoadBalancersAddDroplets(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To remove a Droplet from a load balancer instance, send a DELETE request to
// `/v2/load_balancers/$LOAD_BALANCER_ID/droplets`. In the body of the request,
// there should be a `droplet_ids` attribute containing a list of Droplet IDs.
//
// No response body will be sent back, but the response code will indicate
// success. Specifically, the response code will be a 204, which means that the
// action was successful with no returned body data.
func (c *Client) LoadBalancersRemoveDroplets(
	ctx context.Context,
	request *godonext.LoadBalancersRemoveDropletsRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.LoadBalancersRemoveDroplets(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To add an additional forwarding rule to a load balancer instance, send a POST
// request to `/v2/load_balancers/$LOAD_BALANCER_ID/forwarding_rules`. In the body
// of the request, there should be a `forwarding_rules` attribute containing an
// array of rules to be added.
//
// No response body will be sent back, but the response code will indicate
// success. Specifically, the response code will be a 204, which means that the
// action was successful with no returned body data.
func (c *Client) LoadBalancersAddForwardingRules(
	ctx context.Context,
	request *godonext.LoadBalancersAddForwardingRulesRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.LoadBalancersAddForwardingRules(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To remove forwarding rules from a load balancer instance, send a DELETE
// request to `/v2/load_balancers/$LOAD_BALANCER_ID/forwarding_rules`. In the
// body of the request, there should be a `forwarding_rules` attribute containing
// an array of rules to be removed.
//
// No response body will be sent back, but the response code will indicate
// success. Specifically, the response code will be a 204, which means that the
// action was successful with no returned body data.
func (c *Client) LoadBalancersRemoveForwardingRules(
	ctx context.Context,
	request *godonext.LoadBalancersRemoveForwardingRulesRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.LoadBalancersRemoveForwardingRules(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
