// Code generated by Fern. DO NOT EDIT.

package containerregistries

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To get information about any container registry in your account, send a GET request to `/v2/registries/`.
func (c *Client) RegistriesList(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.RegistriesListResponse, error) {
	response, err := c.WithRawResponse.RegistriesList(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create your container registry, send a POST request to `/v2/registries`.
//
// The `name` becomes part of the URL for images stored in the registry. For
// example, if your registry is called `example`, an image in it will have the
// URL `registry.digitalocean.com/example/image:tag`.
func (c *Client) RegistriesCreate(
	ctx context.Context,
	request *godonext.MultiregistryCreate,
	opts ...option.RequestOption,
) (*godonext.RegistriesCreateResponse, error) {
	response, err := c.WithRawResponse.RegistriesCreate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get information about any container registry in your account, send a GET request to `/v2/registries/{registry_name}`.
func (c *Client) RegistriesGet(
	ctx context.Context,
	request *godonext.RegistriesGetRequest,
	opts ...option.RequestOption,
) (*godonext.RegistriesGetResponse, error) {
	response, err := c.WithRawResponse.RegistriesGet(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete your container registry, destroying all container image data stored in it, send a DELETE request to `/v2/registries/{registry_name}`.
func (c *Client) RegistriesDelete(
	ctx context.Context,
	request *godonext.RegistriesDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.RegistriesDelete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// In order to access your container registry with the Docker client or from a
// Kubernetes cluster, you will need to configure authentication. The necessary
// JSON configuration can be retrieved by sending a GET request to
// `/v2/registries/{registry_name}/docker-credentials`.
//
// The response will be in the format of a Docker `config.json` file. To use the
// config in your Kubernetes cluster, create a Secret with:
//
//	kubectl create secret generic docr \
//	  --from-file=.dockerconfigjson=config.json \
//	  --type=kubernetes.io/dockerconfigjson
//
// By default, the returned credentials have read-only access to your registry
// and cannot be used to push images. This is appropriate for most Kubernetes
// clusters. To retrieve read/write credentials, suitable for use with the Docker
// client or in a CI system, read_write may be provided as query parameter. For
// example: `/v2/registries/{registry_name}/docker-credentials?read_write=true`
//
// By default, the returned credentials will not expire. To retrieve credentials
// with an expiry set, expiry_seconds may be provided as a query parameter. For
// example: `/v2/registries/{registry_name}/docker-credentials?expiry_seconds=3600` will return
// credentials that expire after one hour.
func (c *Client) RegistriesGetDockerCredentials(
	ctx context.Context,
	request *godonext.RegistriesGetDockerCredentialsRequest,
	opts ...option.RequestOption,
) (*godonext.DockerCredentials, error) {
	response, err := c.WithRawResponse.RegistriesGetDockerCredentials(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// A subscription is automatically created when you configure your container registry. To get information about your subscription, send a GET request to `/v2/registries/subscription`. It is similar to GET `/v2/registry/subscription`.
func (c *Client) RegistriesGetSubscription(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.RegistriesGetSubscriptionResponse, error) {
	response, err := c.WithRawResponse.RegistriesGetSubscription(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// After creating your registry, you can switch to a different subscription tier to better suit your needs. To do this, send a POST request to `/v2/registries/subscription`. It is similar to POST `/v2/registry/subscription`.
func (c *Client) RegistriesUpdateSubscription(
	ctx context.Context,
	request *godonext.RegistriesUpdateSubscriptionRequest,
	opts ...option.RequestOption,
) (*godonext.RegistriesUpdateSubscriptionResponse, error) {
	response, err := c.WithRawResponse.RegistriesUpdateSubscription(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// This endpoint serves to provide additional information as to which option values are available when creating a container registry.
// There are multiple subscription tiers available for container registry. Each tier allows a different number of image repositories to be created in your registry, and has a different amount of storage and transfer included.
// There are multiple regions available for container registry and controls where your data is stored.
// To list the available options, send a GET request to `/v2/registries/options`. This is similar to GET `/v2/registry/options`.
func (c *Client) RegistriesGetOptions(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.RegistriesGetOptionsResponse, error) {
	response, err := c.WithRawResponse.RegistriesGetOptions(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get information about the currently-active garbage collection for a registry, send a GET request to `/v2/registry/$REGISTRY_NAME/garbage-collection`.
func (c *Client) RegistriesGetGarbageCollection(
	ctx context.Context,
	request *godonext.RegistriesGetGarbageCollectionRequest,
	opts ...option.RequestOption,
) (*godonext.RegistriesGetGarbageCollectionResponse, error) {
	response, err := c.WithRawResponse.RegistriesGetGarbageCollection(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Garbage collection enables users to clear out unreferenced blobs (layer &
// manifest data) after deleting one or more manifests from a repository. If
// there are no unreferenced blobs resulting from the deletion of one or more
// manifests, garbage collection is effectively a noop.
// [See here for more information](https://docs.digitalocean.com/products/container-registry/how-to/clean-up-container-registry/)
// about how and why you should clean up your container registry periodically.
//
// To request a garbage collection run on your registry, send a POST request to
// `/v2/registries/$REGISTRY_NAME/garbage-collection`. This will initiate the
// following sequence of events on your registry.
//
//   - Set the registry to read-only mode, meaning no further write-scoped
//     JWTs will be issued to registry clients. Existing write-scoped JWTs will
//     continue to work until they expire which can take up to 15 minutes.
//   - Wait until all existing write-scoped JWTs have expired.
//   - Scan all registry manifests to determine which blobs are unreferenced.
//   - Delete all unreferenced blobs from the registry.
//   - Record the number of blobs deleted and bytes freed, mark the garbage
//     collection status as `success`.
//   - Remove the read-only mode restriction from the registry, meaning write-scoped
//     JWTs will once again be issued to registry clients.
func (c *Client) RegistriesRunGarbageCollection(
	ctx context.Context,
	request *godonext.RegistriesRunGarbageCollectionRequest,
	opts ...option.RequestOption,
) (*godonext.RegistriesRunGarbageCollectionResponse, error) {
	response, err := c.WithRawResponse.RegistriesRunGarbageCollection(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get information about past garbage collections for a registry, send a GET request to `/v2/registry/$REGISTRY_NAME/garbage-collections`.
func (c *Client) RegistriesListGarbageCollections(
	ctx context.Context,
	request *godonext.RegistriesListGarbageCollectionsRequest,
	opts ...option.RequestOption,
) (*godonext.RegistriesListGarbageCollectionsResponse, error) {
	response, err := c.WithRawResponse.RegistriesListGarbageCollections(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To cancel the currently-active garbage collection for a registry, send a PUT request to `/v2/registries/$REGISTRY_NAME/garbage-collection/$GC_UUID` and specify one or more of the attributes below. It is similar to PUT `/v2/registries/$REGISTRY_NAME/garbage-collection/$GC_UUID`.
func (c *Client) RegistriesUpdateGarbageCollection(
	ctx context.Context,
	request *godonext.RegistriesUpdateGarbageCollectionRequest,
	opts ...option.RequestOption,
) (*godonext.RegistriesUpdateGarbageCollectionResponse, error) {
	response, err := c.WithRawResponse.RegistriesUpdateGarbageCollection(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all repositories in your container registry, send a GET request to `/v2/registries/$REGISTRY_NAME/repositoriesV2`. It is similar to GET `/v2/registry/$REGISTRY_NAME/repositoriesV2`.
func (c *Client) RegistriesListRepositoriesV2(
	ctx context.Context,
	request *godonext.RegistriesListRepositoriesV2Request,
	opts ...option.RequestOption,
) (*godonext.RegistriesListRepositoriesV2Response, error) {
	response, err := c.WithRawResponse.RegistriesListRepositoriesV2(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a container repository including all of its tags, send a DELETE request to
// `/v2/registries/$REGISTRY_NAME/repositories/$REPOSITORY_NAME`.
//
// A successful request will receive a 204 status code with no body in response.
// This indicates that the request was processed successfully.
func (c *Client) RegistriesDeleteRepository(
	ctx context.Context,
	request *godonext.RegistriesDeleteRepositoryRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.RegistriesDeleteRepository(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To list all tags in one of your container registry's repository, send a GET
// request to `/v2/registries/$REGISTRY_NAME/repositories/$REPOSITORY_NAME/tags`.
//
// Note that if your repository name contains `/` characters, it must be
// URL-encoded in the request URL. For example, to list tags for
// `registry.digitalocean.com/example/my/repo`, the path would be
// `/v2/registry/example/repositories/my%2Frepo/tags`.
//
// It is similar to GET `/v2/registry/$REGISTRY_NAME/repositories/$REPOSITORY_NAME/tags`.
func (c *Client) RegistriesListRepositoryTags(
	ctx context.Context,
	request *godonext.RegistriesListRepositoryTagsRequest,
	opts ...option.RequestOption,
) (*godonext.RegistriesListRepositoryTagsResponse, error) {
	response, err := c.WithRawResponse.RegistriesListRepositoryTags(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a container repository tag in on of our container registries, send a DELETE request to
// `/v2/registries/$REGISTRY_NAME/repositories/$REPOSITORY_NAME/tags/$TAG`.
//
// Note that if your repository name contains `/` characters, it must be
// URL-encoded in the request URL. For example, to delete
// `registry.digitalocean.com/example/my/repo:mytag`, the path would be
// `/v2/registry/example/repositories/my%2Frepo/tags/mytag`.
//
// A successful request will receive a 204 status code with no body in response.
// This indicates that the request was processed successfully. It is similar to DELETE `/v2/registry/$REGISTRY_NAME/repositories/$REPOSITORY_NAME/tags/$TAG`.
func (c *Client) RegistriesDeleteRepositoryTag(
	ctx context.Context,
	request *godonext.RegistriesDeleteRepositoryTagRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.RegistriesDeleteRepositoryTag(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To list all manifests in your container registry repository, send a GET
// request to `/v2/registries/$REGISTRY_NAME/repositories/$REPOSITORY_NAME/digests`.
//
// Note that if your repository name contains `/` characters, it must be
// URL-encoded in the request URL. For example, to list manifests for
// `registry.digitalocean.com/example/my/repo`, the path would be
// `/v2/registry/example/repositories/my%2Frepo/digests`.
//
// It is similar to `/v2/registry/$REGISTRY_NAME/repositories/$REPOSITORY_NAME/digests`.
func (c *Client) RegistriesListRepositoryManifests(
	ctx context.Context,
	request *godonext.RegistriesListRepositoryManifestsRequest,
	opts ...option.RequestOption,
) (*godonext.RegistriesListRepositoryManifestsResponse, error) {
	response, err := c.WithRawResponse.RegistriesListRepositoryManifests(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a container repository manifest by digest in one of your registries, send a DELETE request to
// `/v2/registries/$REGISTRY_NAME/repositories/$REPOSITORY_NAME/digests/$MANIFEST_DIGEST`.
//
// Note that if your repository name contains `/` characters, it must be
// URL-encoded in the request URL. For example, to delete
// `registry.digitalocean.com/example/my/repo@sha256:abcd`, the path would be
// `/v2/registry/example/repositories/my%2Frepo/digests/sha256:abcd`.
//
// A successful request will receive a 204 status code with no body in response.
// This indicates that the request was processed successfully.
//
// It is similar to DELETE `/v2/registry/$REGISTRY_NAME/repositories/$REPOSITORY_NAME/digests/$MANIFEST_DIGEST`.
func (c *Client) RegistriesDeleteRepositoryManifest(
	ctx context.Context,
	request *godonext.RegistriesDeleteRepositoryManifestRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.RegistriesDeleteRepositoryManifest(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To validate that a container registry name is available for use, send a POST
// request to `/v2/registries/validate-name`.
//
// If the name is both formatted correctly and available, the response code will
// be 204 and contain no body. If the name is already in use, the response will
// be a 409 Conflict.
//
// It is similar to `/v2/registry/validate-name`.
func (c *Client) RegistriesValidateName(
	ctx context.Context,
	request *godonext.ValidateRegistry,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.RegistriesValidateName(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
