// Code generated by Fern. DO NOT EDIT.

package imageactions

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To retrieve all actions that have been executed on an image, send a GET request to `/v2/images/$IMAGE_ID/actions`.
func (c *Client) ImageActionsList(
	ctx context.Context,
	request *godonext.ImageActionsListRequest,
	opts ...option.RequestOption,
) (*godonext.ImageActionsListResponse, error) {
	response, err := c.WithRawResponse.ImageActionsList(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// The following actions are available on an Image.
//
// ## Convert an Image to a Snapshot
//
// To convert an image, for example, a backup to a snapshot, send a POST request
// to `/v2/images/$IMAGE_ID/actions`. Set the `type` attribute to `convert`.
//
// ## Transfer an Image
//
// To transfer an image to another region, send a POST request to
// `/v2/images/$IMAGE_ID/actions`. Set the `type` attribute to `transfer` and set
// `region` attribute to the slug identifier of the region you wish to transfer
// to.
func (c *Client) ImageActionsPost(
	ctx context.Context,
	request *godonext.ImageActionsPostRequest,
	opts ...option.RequestOption,
) (*godonext.Action, error) {
	response, err := c.WithRawResponse.ImageActionsPost(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve the status of an image action, send a GET request to `/v2/images/$IMAGE_ID/actions/$IMAGE_ACTION_ID`.
func (c *Client) ImageActionsGet(
	ctx context.Context,
	request *godonext.ImageActionsGetRequest,
	opts ...option.RequestOption,
) (*godonext.Action, error) {
	response, err := c.WithRawResponse.ImageActionsGet(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
