// Code generated by Fern. DO NOT EDIT.

package spaceskeys

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list Spaces Access Key, send a GET request to `/v2/spaces/keys`. Sort parameter must be used with Sort Direction.
func (c *Client) SpacesKeyList(
	ctx context.Context,
	request *godonext.SpacesKeyListRequest,
	opts ...option.RequestOption,
) (*godonext.SpacesKeyListResponse, error) {
	response, err := c.WithRawResponse.SpacesKeyList(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a new Spaces Access Key, send a POST request to `/v2/spaces/keys`.
// At the moment, you cannot mix a fullaccess permission with scoped permissions.
// A fullaccess permission will be prioritized if fullaccess and scoped permissions are both added.
func (c *Client) SpacesKeyCreate(
	ctx context.Context,
	request *godonext.Key,
	opts ...option.RequestOption,
) (*godonext.SpacesKeyCreateResponse, error) {
	response, err := c.WithRawResponse.SpacesKeyCreate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get a Spaces Access Key, send a GET request to `/v2/spaces/keys/$ACCESS_KEY`.
//
// A successful request will return the Access Key.
func (c *Client) SpacesKeyGet(
	ctx context.Context,
	request *godonext.SpacesKeyGetRequest,
	opts ...option.RequestOption,
) (*godonext.SpacesKeyGetResponse, error) {
	response, err := c.WithRawResponse.SpacesKeyGet(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update Spaces Access Key, send a PUT or PATCH request to `/v2/spaces/keys/$ACCESS_KEY`. At the moment, you cannot convert a
// fullaccess key to a scoped key or vice versa. You can only update the name of the key.
func (c *Client) SpacesKeyUpdate(
	ctx context.Context,
	request *godonext.SpacesKeyUpdateRequest,
	opts ...option.RequestOption,
) (*godonext.SpacesKeyUpdateResponse, error) {
	response, err := c.WithRawResponse.SpacesKeyUpdate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a Spaces Access Key, send a DELETE request to `/v2/spaces/keys/$ACCESS_KEY`.
//
// A successful request will return a `204 No Content` status code.
func (c *Client) SpacesKeyDelete(
	ctx context.Context,
	request *godonext.SpacesKeyDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.SpacesKeyDelete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To update Spaces Access Key, send a PUT or PATCH request to `/v2/spaces/keys/$ACCESS_KEY`. At the moment, you cannot convert a
// fullaccess key to a scoped key or vice versa. You can only update the name of the key.
func (c *Client) SpacesKeyPatch(
	ctx context.Context,
	request *godonext.SpacesKeyPatchRequest,
	opts ...option.RequestOption,
) (*godonext.SpacesKeyPatchResponse, error) {
	response, err := c.WithRawResponse.SpacesKeyPatch(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
