// Code generated by Fern. DO NOT EDIT.

package vpcs

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all of the VPCs on your account, send a GET request to `/v2/vpcs`.
// Each entry includes the VPC's name, region, IP range, and whether it's the default for that region. Use `per_page` and `page` to paginate; `meta.total` carries the full count.
func (c *Client) List(
	ctx context.Context,
	request *godonext.VpcsListRequest,
	opts ...option.RequestOption,
) (*godonext.VpcsListResponse, error) {
	response, err := c.WithRawResponse.List(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a VPC, send a POST request to `/v2/vpcs` specifying the attributes
// in the table below in the JSON body.
//
// **Note:** If you do not currently have a VPC network in a specific datacenter
// region, the first one that you create will be set as the default for that
// region. The default VPC for a region cannot be changed or deleted.
func (c *Client) Create(
	ctx context.Context,
	request *godonext.VpcsCreateRequest,
	opts ...option.RequestOption,
) (*godonext.VpcsCreateResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about an existing VPC, send a GET request to `/v2/vpcs/$VPC_ID`.
func (c *Client) Get(
	ctx context.Context,
	request *godonext.VpcsGetRequest,
	opts ...option.RequestOption,
) (*godonext.VpcsGetResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update information about a VPC, send a PUT request to `/v2/vpcs/$VPC_ID`.
func (c *Client) Update(
	ctx context.Context,
	request *godonext.VpcsUpdateRequest,
	opts ...option.RequestOption,
) (*godonext.VpcsUpdateResponse, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a VPC, send a DELETE request to `/v2/vpcs/$VPC_ID`. A 204 status
// code with no body will be returned in response to a successful request.
//
// The default VPC for a region can not be deleted. Additionally, a VPC can only
// be deleted if it does not contain any member resources. Attempting to delete
// a region's default VPC or a VPC that still has members will result in a
// 403 Forbidden error response.
func (c *Client) Delete(
	ctx context.Context,
	request *godonext.VpcsDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To update a subset of information about a VPC, send a PATCH request to
// `/v2/vpcs/$VPC_ID`.
func (c *Client) Patch(
	ctx context.Context,
	request *godonext.VpcsPatchRequest,
	opts ...option.RequestOption,
) (*godonext.VpcsPatchResponse, error) {
	response, err := c.WithRawResponse.Patch(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all of the resources that are members of a VPC, send a GET request to
// `/v2/vpcs/$VPC_ID/members`.
//
// To only list resources of a specific type that are members of the VPC,
// included a `resource_type` query parameter. For example, to only list Droplets
// in the VPC, send a GET request to `/v2/vpcs/$VPC_ID/members?resource_type=droplet`.
//
// Only resources that you are authorized to see will be returned (e.g. to see Droplets,
// you must have `droplet:read`).
func (c *Client) ListMembers(
	ctx context.Context,
	request *godonext.VpcsListMembersRequest,
	opts ...option.RequestOption,
) (*godonext.VpcsListMembersResponse, error) {
	response, err := c.WithRawResponse.ListMembers(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all of a VPC's peerings, send a GET request to
// `/v2/vpcs/$VPC_ID/peerings`.
func (c *Client) ListPeerings(
	ctx context.Context,
	request *godonext.VpcsListPeeringsRequest,
	opts ...option.RequestOption,
) (*godonext.VpcsListPeeringsResponse, error) {
	response, err := c.WithRawResponse.ListPeerings(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a new VPC peering for a given VPC, send a POST request to
// `/v2/vpcs/$VPC_ID/peerings`.
func (c *Client) CreatePeerings(
	ctx context.Context,
	request *godonext.VpcsCreatePeeringsRequest,
	opts ...option.RequestOption,
) (*godonext.VpcsCreatePeeringsResponse, error) {
	response, err := c.WithRawResponse.CreatePeerings(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update the name of a VPC peering in a particular VPC, send a PATCH request
// to `/v2/vpcs/$VPC_ID/peerings/$VPC_PEERING_ID` with the new `name` in the
// request body.
func (c *Client) PatchPeerings(
	ctx context.Context,
	request *godonext.VpcsPatchPeeringsRequest,
	opts ...option.RequestOption,
) (*godonext.VpcsPatchPeeringsResponse, error) {
	response, err := c.WithRawResponse.PatchPeerings(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
