// Code generated by Fern. DO NOT EDIT.

package containerregistry

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// **Note: This endpoint is deprecated. Please use the `/v2/registries` endpoint instead.**
//
// To get information about your container registry, send a GET
// request to `/v2/registry`.
//
// This operation is not compatible with multiple registries in a DO account. You should use `/v2/registries/{registry_name}` instead.
func (c *Client) RegistryGet(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.RegistryGetResponse, error) {
	response, err := c.WithRawResponse.RegistryGet(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// **Note: This endpoint is deprecated. Please use the `/v2/registries` endpoint instead.**
//
// To create your container registry, send a POST request to `/v2/registry`.
//
// The `name` becomes part of the URL for images stored in the registry. For
// example, if your registry is called `example`, an image in it will have the
// URL `registry.digitalocean.com/example/image:tag`.
func (c *Client) RegistryCreate(
	ctx context.Context,
	request *godonext.RegistryCreate,
	opts ...option.RequestOption,
) (*godonext.RegistryCreateResponse, error) {
	response, err := c.WithRawResponse.RegistryCreate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// **Note: This endpoint is deprecated. Please use the `/v2/registries` endpoint instead.**
//
// To delete your container registry, destroying all container image
// data stored in it, send a DELETE request to `/v2/registry`.
//
// This operation is not compatible with multiple registries in a DO account. You should use `/v2/registries/{registry_name}` instead.
func (c *Client) RegistryDelete(
	ctx context.Context,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.RegistryDelete(
		ctx,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// **Note: This endpoint is deprecated. Please use the `/v2/registries` endpoint instead.**
//
// A subscription is automatically created when you configure your
// container registry. To get information about your subscription, send a GET
// request to `/v2/registry/subscription`.
func (c *Client) RegistryGetSubscription(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.RegistryGetSubscriptionResponse, error) {
	response, err := c.WithRawResponse.RegistryGetSubscription(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// **Note: This endpoint is deprecated. Please use the `/v2/registries` endpoint instead.**
//
// After creating your registry, you can switch to a different
// subscription tier to better suit your needs. To do this, send a POST request
// to `/v2/registry/subscription`.
func (c *Client) RegistryUpdateSubscription(
	ctx context.Context,
	request *godonext.RegistryUpdateSubscriptionRequest,
	opts ...option.RequestOption,
) (*godonext.RegistryUpdateSubscriptionResponse, error) {
	response, err := c.WithRawResponse.RegistryUpdateSubscription(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// **Note: This endpoint is deprecated. Please use the `/v2/registries` endpoint instead.**
//
// In order to access your container registry with the Docker client or from a
// Kubernetes cluster, you will need to configure authentication. The necessary
// JSON configuration can be retrieved by sending a GET request to
// `/v2/registry/docker-credentials`.
//
// The response will be in the format of a Docker `config.json` file. To use the
// config in your Kubernetes cluster, create a Secret with:
//
//	kubectl create secret generic docr \
//	  --from-file=.dockerconfigjson=config.json \
//	  --type=kubernetes.io/dockerconfigjson
//
// By default, the returned credentials have read-only access to your registry
// and cannot be used to push images. This is appropriate for most Kubernetes
// clusters. To retrieve read/write credentials, suitable for use with the Docker
// client or in a CI system, read_write may be provided as query parameter. For
// example: `/v2/registry/docker-credentials?read_write=true`
//
// By default, the returned credentials will not expire. To retrieve credentials
// with an expiry set, expiry_seconds may be provided as a query parameter. For
// example: `/v2/registry/docker-credentials?expiry_seconds=3600` will return
// credentials that expire after one hour.
func (c *Client) RegistryGetDockerCredentials(
	ctx context.Context,
	request *godonext.RegistryGetDockerCredentialsRequest,
	opts ...option.RequestOption,
) (*godonext.DockerCredentials, error) {
	response, err := c.WithRawResponse.RegistryGetDockerCredentials(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// **Note: This endpoint is deprecated. Please use the `/v2/registries` endpoint instead.**
//
//	To validate that a container registry name is available for use, send a POST
//	request to `/v2/registry/validate-name`.
//
//	If the name is both formatted correctly and available, the response code will
//	be 204 and contain no body. If the name is already in use, the response will
//	be a 409 Conflict.
func (c *Client) RegistryValidateName(
	ctx context.Context,
	request *godonext.ValidateRegistry,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.RegistryValidateName(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// **Note: This endpoint is deprecated. Please use the `/v2/registries` endpoint instead.**
//
// This endpoint has been deprecated in favor of the _List All Container Registry Repositories [V2]_ endpoint.
//
// To list all repositories in your container registry, send a GET
// request to `/v2/registry/$REGISTRY_NAME/repositories`.
func (c *Client) RegistryListRepositories(
	ctx context.Context,
	request *godonext.RegistryListRepositoriesRequest,
	opts ...option.RequestOption,
) (*godonext.RegistryListRepositoriesResponse, error) {
	response, err := c.WithRawResponse.RegistryListRepositories(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// **Note: This endpoint is deprecated. Please use the `/v2/registries` endpoint instead.**
//
// To list all repositories in your container registry, send a GET
// request to `/v2/registry/$REGISTRY_NAME/repositoriesV2`.
func (c *Client) RegistryListRepositoriesV2(
	ctx context.Context,
	request *godonext.RegistryListRepositoriesV2Request,
	opts ...option.RequestOption,
) (*godonext.RegistryListRepositoriesV2Response, error) {
	response, err := c.WithRawResponse.RegistryListRepositoriesV2(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// **Note: This endpoint is deprecated. Please use the `/v2/registries` endpoint instead.**
//
// To list all tags in your container registry repository, send a GET
// request to `/v2/registry/$REGISTRY_NAME/repositories/$REPOSITORY_NAME/tags`.
//
// Note that if your repository name contains `/` characters, it must be
// URL-encoded in the request URL. For example, to list tags for
// `registry.digitalocean.com/example/my/repo`, the path would be
// `/v2/registry/example/repositories/my%2Frepo/tags`.
func (c *Client) RegistryListRepositoryTags(
	ctx context.Context,
	request *godonext.RegistryListRepositoryTagsRequest,
	opts ...option.RequestOption,
) (*godonext.RegistryListRepositoryTagsResponse, error) {
	response, err := c.WithRawResponse.RegistryListRepositoryTags(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// **Note: This endpoint is deprecated. Please use the `/v2/registries` endpoint instead.**
//
// To delete a container repository tag, send a DELETE request to
// `/v2/registry/$REGISTRY_NAME/repositories/$REPOSITORY_NAME/tags/$TAG`.
//
// Note that if your repository name contains `/` characters, it must be
// URL-encoded in the request URL. For example, to delete
// `registry.digitalocean.com/example/my/repo:mytag`, the path would be
// `/v2/registry/example/repositories/my%2Frepo/tags/mytag`.
//
// A successful request will receive a 204 status code with no body in response.
// This indicates that the request was processed successfully.
func (c *Client) RegistryDeleteRepositoryTag(
	ctx context.Context,
	request *godonext.RegistryDeleteRepositoryTagRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.RegistryDeleteRepositoryTag(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// **Note: This endpoint is deprecated. Please use the `/v2/registries` endpoint instead.**
//
// To list all manifests in your container registry repository, send a GET
// request to `/v2/registry/$REGISTRY_NAME/repositories/$REPOSITORY_NAME/digests`.
//
// Note that if your repository name contains `/` characters, it must be
// URL-encoded in the request URL. For example, to list manifests for
// `registry.digitalocean.com/example/my/repo`, the path would be
// `/v2/registry/example/repositories/my%2Frepo/digests`.
func (c *Client) RegistryListRepositoryManifests(
	ctx context.Context,
	request *godonext.RegistryListRepositoryManifestsRequest,
	opts ...option.RequestOption,
) (*godonext.RegistryListRepositoryManifestsResponse, error) {
	response, err := c.WithRawResponse.RegistryListRepositoryManifests(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// **Note: This endpoint is deprecated. Please use the `/v2/registries` endpoint instead.**
//
// To delete a container repository manifest by digest, send a DELETE request to
// `/v2/registry/$REGISTRY_NAME/repositories/$REPOSITORY_NAME/digests/$MANIFEST_DIGEST`.
//
// Note that if your repository name contains `/` characters, it must be
// URL-encoded in the request URL. For example, to delete
// `registry.digitalocean.com/example/my/repo@sha256:abcd`, the path would be
// `/v2/registry/example/repositories/my%2Frepo/digests/sha256:abcd`.
//
// A successful request will receive a 204 status code with no body in response.
// This indicates that the request was processed successfully.
func (c *Client) RegistryDeleteRepositoryManifest(
	ctx context.Context,
	request *godonext.RegistryDeleteRepositoryManifestRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.RegistryDeleteRepositoryManifest(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// **Note: This endpoint is deprecated. Please use the `/v2/registries` endpoint instead.**
//
// To get information about the currently-active garbage collection
// for a registry, send a GET request to `/v2/registry/$REGISTRY_NAME/garbage-collection`.
func (c *Client) RegistryGetGarbageCollection(
	ctx context.Context,
	request *godonext.RegistryGetGarbageCollectionRequest,
	opts ...option.RequestOption,
) (*godonext.RegistryGetGarbageCollectionResponse, error) {
	response, err := c.WithRawResponse.RegistryGetGarbageCollection(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// **Note: This endpoint is deprecated. Please use the `/v2/registries` endpoint instead.**
//
// Garbage collection enables users to clear out unreferenced blobs (layer &
// manifest data) after deleting one or more manifests from a repository. If
// there are no unreferenced blobs resulting from the deletion of one or more
// manifests, garbage collection is effectively a noop.
// [See here for more information](https://docs.digitalocean.com/products/container-registry/how-to/clean-up-container-registry/)
// about how and why you should clean up your container registry periodically.
//
// To request a garbage collection run on your registry, send a POST request to
// `/v2/registry/$REGISTRY_NAME/garbage-collection`. This will initiate the
// following sequence of events on your registry.
//
//   - Set the registry to read-only mode, meaning no further write-scoped
//     JWTs will be issued to registry clients. Existing write-scoped JWTs will
//     continue to work until they expire which can take up to 15 minutes.
//   - Wait until all existing write-scoped JWTs have expired.
//   - Scan all registry manifests to determine which blobs are unreferenced.
//   - Delete all unreferenced blobs from the registry.
//   - Record the number of blobs deleted and bytes freed, mark the garbage
//     collection status as `success`.
//   - Remove the read-only mode restriction from the registry, meaning write-scoped
//     JWTs will once again be issued to registry clients.
func (c *Client) RegistryRunGarbageCollection(
	ctx context.Context,
	request *godonext.RegistryRunGc,
	opts ...option.RequestOption,
) (*godonext.RegistryRunGarbageCollectionResponse, error) {
	response, err := c.WithRawResponse.RegistryRunGarbageCollection(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// **Note: This endpoint is deprecated. Please use the `/v2/registries` endpoint instead.**
//
// To get information about past garbage collections for a registry,
// send a GET request to `/v2/registry/$REGISTRY_NAME/garbage-collections`.
func (c *Client) RegistryListGarbageCollections(
	ctx context.Context,
	request *godonext.RegistryListGarbageCollectionsRequest,
	opts ...option.RequestOption,
) (*godonext.RegistryListGarbageCollectionsResponse, error) {
	response, err := c.WithRawResponse.RegistryListGarbageCollections(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// **Note: This endpoint is deprecated. Please use the `/v2/registries` endpoint instead.**
//
// To cancel the currently-active garbage collection for a registry,
// send a PUT request to `/v2/registry/$REGISTRY_NAME/garbage-collection/$GC_UUID`
// and specify one or more of the attributes below.
func (c *Client) RegistryUpdateGarbageCollection(
	ctx context.Context,
	request *godonext.RegistryUpdateGarbageCollectionRequest,
	opts ...option.RequestOption,
) (*godonext.RegistryUpdateGarbageCollectionResponse, error) {
	response, err := c.WithRawResponse.RegistryUpdateGarbageCollection(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// **Note: This endpoint is deprecated and may be removed in a future version. There is no alternative.****Note: This endpoint is deprecated. Please use the `/v2/registries` endpoint instead.**
//
// This endpoint serves to provide additional information as to which option values
// are available when creating a container registry.
//
// There are multiple subscription tiers available for container registry. Each
// tier allows a different number of image repositories to be created in your
// registry, and has a different amount of storage and transfer included.
//
// There are multiple regions available for container registry and controls
// where your data is stored.
//
// To list the available options, send a GET request to
// `/v2/registry/options`.
func (c *Client) RegistryGetOptions(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.RegistryGetOptionsResponse, error) {
	response, err := c.WithRawResponse.RegistryGetOptions(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
