// Code generated by Fern. DO NOT EDIT.

package byoipprefixes

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all BYOIP prefixes, send a GET request to `/v2/byoip_prefixes`.
// A successful response will return a list of all BYOIP prefixes associated with the account.
func (c *Client) ByoipPrefixesList(
	ctx context.Context,
	request *godonext.ByoipPrefixesListRequest,
	opts ...option.RequestOption,
) (*godonext.ByoipPrefixesListResponse, error) {
	response, err := c.WithRawResponse.ByoipPrefixesList(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a BYOIP prefix, send a POST request to `/v2/byoip_prefixes`.
//
// A successful request will initiate the process of bringing your BYOIP Prefix into your account.
// The response will include the details of the created prefix, including its UUID and status.
func (c *Client) ByoipPrefixesCreate(
	ctx context.Context,
	request *godonext.ByoipPrefixCreate,
	opts ...option.RequestOption,
) (*godonext.ByoipPrefixesCreateResponse, error) {
	response, err := c.WithRawResponse.ByoipPrefixesCreate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get a BYOIP prefix, send a GET request to `/v2/byoip_prefixes/$byoip_prefix_uuid`.
//
// A successful response will return the details of the specified BYOIP prefix.
func (c *Client) ByoipPrefixesGet(
	ctx context.Context,
	request *godonext.ByoipPrefixesGetRequest,
	opts ...option.RequestOption,
) (*godonext.ByoipPrefixesGetResponse, error) {
	response, err := c.WithRawResponse.ByoipPrefixesGet(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a BYOIP prefix and remove it from your account, send a DELETE request
// to `/v2/byoip_prefixes/$byoip_prefix_uuid`.
//
// A successful request will receive a 202 status code with no body in response.
// This indicates that the request was accepted and the prefix is being deleted.
func (c *Client) ByoipPrefixesDelete(
	ctx context.Context,
	request *godonext.ByoipPrefixesDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.ByoipPrefixesDelete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To update a BYOIP prefix, send a PATCH request to `/v2/byoip_prefixes/$byoip_prefix_uuid`.
//
// Currently, you can update the advertisement status of the prefix.
// The response will include the updated details of the prefix.
func (c *Client) ByoipPrefixesPatch(
	ctx context.Context,
	request *godonext.ByoipPrefixUpdate,
	opts ...option.RequestOption,
) (*godonext.ByoipPrefixesPatchResponse, error) {
	response, err := c.WithRawResponse.ByoipPrefixesPatch(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list resources associated with BYOIP prefixes, send a GET request to `/v2/byoip_prefixes/{byoip_prefix_uuid}/ips`.
//
// A successful response will return a list of resources associated with the specified BYOIP prefix.
func (c *Client) ByoipPrefixesListResources(
	ctx context.Context,
	request *godonext.ByoipPrefixesListResourcesRequest,
	opts ...option.RequestOption,
) (*godonext.ByoipPrefixesListResourcesResponse, error) {
	response, err := c.WithRawResponse.ByoipPrefixesListResources(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
