// Code generated by Fern. DO NOT EDIT.

package dropletactions

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To retrieve a list of all actions that have been executed for a Droplet, send
// a GET request to `/v2/droplets/$DROPLET_ID/actions`.
//
// The results will be returned as a JSON object with an `actions` key. This will
// be set to an array filled with `action` objects containing the standard
// `action` attributes.
func (c *Client) DropletActionsList(
	ctx context.Context,
	request *godonext.DropletActionsListRequest,
	opts ...option.RequestOption,
) (*godonext.DropletActionsListResponse, error) {
	response, err := c.WithRawResponse.DropletActionsList(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To initiate an action on a Droplet send a POST request to
// `/v2/droplets/$DROPLET_ID/actions`. In the JSON body to the request,
// set the `type` attribute to one of the supported action types:
//
// | Action                                   | Details | Required Permissions |
// | ---------------------------------------- | ----------- | ----------- |
// | <nobr>`enable_backups`</nobr>            | Enables backups for a Droplet | <nobr>`droplet:update`</nobr> |
// | <nobr>`disable_backups`</nobr>           | Disables backups for a Droplet | <nobr>`droplet:update`</nobr> |
// | <nobr>`change_backup_policy`</nobr>      | Update the backup policy for a Droplet | <nobr>`droplet:update`</nobr> |
// | <nobr>`reboot`</nobr>                    | Reboots a Droplet. A `reboot` action is an attempt to reboot the Droplet in a graceful way, similar to using the `reboot` command from the console. | <nobr>`droplet:update`</nobr> |
// | <nobr>`power_cycle`</nobr>               | Power cycles a Droplet. A `powercycle` action is similar to pushing the reset button on a physical machine, it's similar to booting from scratch. | <nobr>`droplet:update`</nobr> |
// | <nobr>`shutdown`</nobr>                  | Shuts down a Droplet. A shutdown action is an attempt to shutdown the Droplet in a graceful way, similar to using the `shutdown` command from the console. Since a `shutdown` command can fail, this action guarantees that the command is issued, not that it succeeds. The preferred way to turn off a Droplet is to attempt a shutdown, with a reasonable timeout, followed by a `power_off` action to ensure the Droplet is off. | <nobr>`droplet:update`</nobr> |
// | <nobr>`power_off`</nobr>                 | Powers off a Droplet. A `power_off` event is a hard shutdown and should only be used if the `shutdown` action is not successful. It is similar to cutting the power on a server and could lead to complications. | <nobr>`droplet:update`</nobr> |
// | <nobr>`power_on`</nobr>                  | Powers on a Droplet. | <nobr>`droplet:update`</nobr> |
// | <nobr>`restore`</nobr>                   | Restore a Droplet using a backup image. The image ID that is passed in must be a backup of the current Droplet instance. The operation will leave any embedded SSH keys intact. | <nobr>`droplet:update`</nobr><br><nobr>`droplet:admin`</nobr> |
// | <nobr>`password_reset`</nobr>            | Resets the root password for a Droplet. A new password will be provided via email. It must be changed after first use. | <nobr>`droplet:update`</nobr><br><nobr>`droplet:admin`</nobr> |
// | <nobr>`resize`</nobr>                    | Resizes a Droplet. Set the `size` attribute to a size slug. If a permanent resize with disk changes included is desired, set the `disk` attribute to `true`. | <nobr>`droplet:update`</nobr><br><nobr>`droplet:create`</nobr> |
// | <nobr>`rebuild`</nobr>                   | Rebuilds a Droplet from a new base image. Set the `image` attribute to an image ID or slug. | <nobr>`droplet:update`</nobr><br><nobr>`droplet:admin`</nobr> |
// | <nobr>`rename`</nobr>                    | Renames a Droplet. | <nobr>`droplet:update`</nobr> |
// | <nobr>`change_kernel`</nobr>             | Changes a Droplet's kernel. Only applies to Droplets with externally managed kernels. All Droplets created after March 2017 use internal kernels by default. | <nobr>`droplet:update`</nobr> |
// | <nobr>`enable_ipv6`</nobr>               | Enables IPv6 for a Droplet. Once enabled for a Droplet, IPv6 can not be disabled. When enabling IPv6 on an existing Droplet, [additional OS-level configuration](https://docs.digitalocean.com/products/networking/ipv6/how-to/enable/#on-existing-droplets) is required. | <nobr>`droplet:update`</nobr> |
// | <nobr>`snapshot`</nobr>                  | Takes a snapshot of a Droplet. | <nobr>`droplet:update`</nobr><br><nobr>`image:create`</nobr> |
func (c *Client) DropletActionsPost(
	ctx context.Context,
	request *godonext.DropletActionsPostRequest,
	opts ...option.RequestOption,
) (*godonext.DropletActionsPostResponse, error) {
	response, err := c.WithRawResponse.DropletActionsPost(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Some actions can be performed in bulk on tagged Droplets. The actions can be
// initiated by sending a POST to `/v2/droplets/actions?tag_name=$TAG_NAME` with
// the action arguments.
//
// Only a sub-set of action types are supported:
//
// - `power_cycle`
// - `power_on`
// - `power_off`
// - `shutdown`
// - `enable_ipv6`
// - `enable_backups`
// - `disable_backups`
// - `snapshot` (also requires `image:create` permission)
func (c *Client) DropletActionsPostByTag(
	ctx context.Context,
	request *godonext.DropletActionsPostByTagRequest,
	opts ...option.RequestOption,
) (*godonext.DropletActionsPostByTagResponse, error) {
	response, err := c.WithRawResponse.DropletActionsPostByTag(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve a Droplet action, send a GET request to
// `/v2/droplets/$DROPLET_ID/actions/$ACTION_ID`.
//
// The response will be a JSON object with a key called `action`. The value will
// be a Droplet action object.
func (c *Client) DropletActionsGet(
	ctx context.Context,
	request *godonext.DropletActionsGetRequest,
	opts ...option.RequestOption,
) (*godonext.DropletActionsGetResponse, error) {
	response, err := c.WithRawResponse.DropletActionsGet(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
