// Code generated by Fern. DO NOT EDIT.

package floatingipactions

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To retrieve all actions that have been executed on a floating IP, send a GET request to `/v2/floating_ips/$FLOATING_IP/actions`.
func (c *Client) FloatingIPsActionList(
	ctx context.Context,
	request *godonext.FloatingIPsActionListRequest,
	opts ...option.RequestOption,
) (*godonext.FloatingIPsActionListResponse, error) {
	response, err := c.WithRawResponse.FloatingIPsActionList(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To initiate an action on a floating IP send a POST request to
// `/v2/floating_ips/$FLOATING_IP/actions`. In the JSON body to the request,
// set the `type` attribute to on of the supported action types:
//
// | Action     | Details
// |------------|--------
// | `assign`   | Assigns a floating IP to a Droplet
// | `unassign` | Unassign a floating IP from a Droplet
func (c *Client) FloatingIPsActionPost(
	ctx context.Context,
	request *godonext.FloatingIPsActionPostRequest,
	opts ...option.RequestOption,
) (*godonext.FloatingIPsActionPostResponse, error) {
	response, err := c.WithRawResponse.FloatingIPsActionPost(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve the status of a floating IP action, send a GET request to `/v2/floating_ips/$FLOATING_IP/actions/$ACTION_ID`.
func (c *Client) FloatingIPsActionGet(
	ctx context.Context,
	request *godonext.FloatingIPsActionGetRequest,
	opts ...option.RequestOption,
) (*godonext.FloatingIPsActionGetResponse, error) {
	response, err := c.WithRawResponse.FloatingIPsActionGet(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
