// Code generated by Fern. DO NOT EDIT.

package security

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all CSPM scans, send a GET request to `/v2/security/scans`.
func (c *Client) ListScans(
	ctx context.Context,
	request *godonext.SecurityListScansRequest,
	opts ...option.RequestOption,
) (*godonext.SecurityListScansResponse, error) {
	response, err := c.WithRawResponse.ListScans(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a CSPM scan, send a POST request to `/v2/security/scans`.
func (c *Client) CreateScan(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.SecurityCreateScanResponse, error) {
	response, err := c.WithRawResponse.CreateScan(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get a CSPM scan by ID, send a GET request to `/v2/security/scans/{scan_id}`.
func (c *Client) GetScan(
	ctx context.Context,
	request *godonext.SecurityGetScanRequest,
	opts ...option.RequestOption,
) (*godonext.SecurityGetScanResponse, error) {
	response, err := c.WithRawResponse.GetScan(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get the latest CSPM scan, send a GET request to `/v2/security/scans/latest`.
func (c *Client) GetLatestScan(
	ctx context.Context,
	request *godonext.SecurityGetLatestScanRequest,
	opts ...option.RequestOption,
) (*godonext.SecurityGetLatestScanResponse, error) {
	response, err := c.WithRawResponse.GetLatestScan(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To mark a scan finding as a false positive, send a POST request to
// `/v2/security/scans/rules` to create a new scan rule.
func (c *Client) CreateScanRule(
	ctx context.Context,
	request *godonext.SecurityCreateScanRuleRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.CreateScanRule(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To get affected resources for a scan finding, send a GET request to `/v2/security/scans/{scan_id}/findings/{finding_uuid}/affected_resources`.
func (c *Client) ListScanFindingAffectedResources(
	ctx context.Context,
	request *godonext.SecurityListScanFindingAffectedResourcesRequest,
	opts ...option.RequestOption,
) (*godonext.SecurityListScanFindingAffectedResourcesResponse, error) {
	response, err := c.WithRawResponse.ListScanFindingAffectedResources(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list CSPM scan settings, send a GET request to `/v2/security/settings`.
func (c *Client) ListSettings(
	ctx context.Context,
	request *godonext.SecurityListSettingsRequest,
	opts ...option.RequestOption,
) (*godonext.Settings, error) {
	response, err := c.WithRawResponse.ListSettings(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update CSPM plan coverage, send a PUT request to `/v2/security/settings/plan`.
func (c *Client) UpdateSettingsPlan(
	ctx context.Context,
	request *godonext.SecurityUpdateSettingsPlanRequest,
	opts ...option.RequestOption,
) (*godonext.SecurityUpdateSettingsPlanResponse, error) {
	response, err := c.WithRawResponse.UpdateSettingsPlan(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To suppress scan findings, send a POST request to `/v2/security/settings/suppressions`.
func (c *Client) CreateSuppression(
	ctx context.Context,
	request *godonext.SecurityCreateSuppressionRequest,
	opts ...option.RequestOption,
) (*godonext.SuppressedResourceRoot, error) {
	response, err := c.WithRawResponse.CreateSuppression(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To remove a suppression, send a DELETE request to `/v2/security/settings/suppressions/{suppression_uuid}`.
func (c *Client) DeleteSuppression(
	ctx context.Context,
	request *godonext.SecurityDeleteSuppressionRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteSuppression(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
