// Code generated by Fern. DO NOT EDIT.

package monitoring

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Returns all alert policies that are configured for the given account. To List all alert policies, send a GET request to `/v2/monitoring/alerts`.
func (c *Client) ListAlertpolicy(
	ctx context.Context,
	request *godonext.MonitoringListAlertPolicyRequest,
	opts ...option.RequestOption,
) (*godonext.MonitoringListAlertPolicyResponse, error) {
	response, err := c.WithRawResponse.ListAlertpolicy(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a new alert, send a POST request to `/v2/monitoring/alerts`.
func (c *Client) CreateAlertpolicy(
	ctx context.Context,
	request *godonext.AlertPolicyRequest,
	opts ...option.RequestOption,
) (*godonext.MonitoringCreateAlertPolicyResponse, error) {
	response, err := c.WithRawResponse.CreateAlertpolicy(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve a given alert policy, send a GET request to `/v2/monitoring/alerts/{alert_uuid}`
func (c *Client) GetAlertpolicy(
	ctx context.Context,
	request *godonext.MonitoringGetAlertPolicyRequest,
	opts ...option.RequestOption,
) (*godonext.MonitoringGetAlertPolicyResponse, error) {
	response, err := c.WithRawResponse.GetAlertpolicy(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update en existing policy, send a PUT request to `v2/monitoring/alerts/{alert_uuid}`.
func (c *Client) UpdateAlertpolicy(
	ctx context.Context,
	request *godonext.MonitoringUpdateAlertPolicyRequest,
	opts ...option.RequestOption,
) (*godonext.MonitoringUpdateAlertPolicyResponse, error) {
	response, err := c.WithRawResponse.UpdateAlertpolicy(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete an alert policy, send a DELETE request to `/v2/monitoring/alerts/{alert_uuid}`
func (c *Client) DeleteAlertpolicy(
	ctx context.Context,
	request *godonext.MonitoringDeleteAlertPolicyRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteAlertpolicy(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To retrieve bandwidth metrics for a given Droplet, send a GET request to `/v2/monitoring/metrics/droplet/bandwidth`. Use the `interface` query parameter to specify if the results should be for the `private` or `public` interface. Use the `direction` query parameter to specify if the results should be for `inbound` or `outbound` traffic.
// The metrics in the response body are in megabits per second (Mbps).
func (c *Client) GetDropletbandwidthmetrics(
	ctx context.Context,
	request *godonext.MonitoringGetDropletBandwidthMetricsRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDropletbandwidthmetrics(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve CPU metrics for a given droplet, send a GET request to `/v2/monitoring/metrics/droplet/cpu`.
func (c *Client) GetDropletcpumetrics(
	ctx context.Context,
	request *godonext.MonitoringGetDropletCPUMetricsRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDropletcpumetrics(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve filesystem free metrics for a given droplet, send a GET request to `/v2/monitoring/metrics/droplet/filesystem_free`.
func (c *Client) GetDropletfilesystemfreemetrics(
	ctx context.Context,
	request *godonext.MonitoringGetDropletFilesystemFreeMetricsRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDropletfilesystemfreemetrics(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve filesystem size metrics for a given droplet, send a GET request to `/v2/monitoring/metrics/droplet/filesystem_size`.
func (c *Client) GetDropletfilesystemsizemetrics(
	ctx context.Context,
	request *godonext.MonitoringGetDropletFilesystemSizeMetricsRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDropletfilesystemsizemetrics(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve 1 minute load average metrics for a given droplet, send a GET request to `/v2/monitoring/metrics/droplet/load_1`.
func (c *Client) GetDropletload1Metrics(
	ctx context.Context,
	request *godonext.MonitoringGetDropletLoad1MetricsRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDropletload1Metrics(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve 5 minute load average metrics for a given droplet, send a GET request to `/v2/monitoring/metrics/droplet/load_5`.
func (c *Client) GetDropletload5Metrics(
	ctx context.Context,
	request *godonext.MonitoringGetDropletLoad5MetricsRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDropletload5Metrics(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve 15 minute load average metrics for a given droplet, send a GET request to `/v2/monitoring/metrics/droplet/load_15`.
func (c *Client) GetDropletload15Metrics(
	ctx context.Context,
	request *godonext.MonitoringGetDropletLoad15MetricsRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDropletload15Metrics(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve cached memory metrics for a given droplet, send a GET request to `/v2/monitoring/metrics/droplet/memory_cached`.
func (c *Client) GetDropletmemorycachedmetrics(
	ctx context.Context,
	request *godonext.MonitoringGetDropletMemoryCachedMetricsRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDropletmemorycachedmetrics(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve free memory metrics for a given droplet, send a GET request to `/v2/monitoring/metrics/droplet/memory_free`.
func (c *Client) GetDropletmemoryfreemetrics(
	ctx context.Context,
	request *godonext.MonitoringGetDropletMemoryFreeMetricsRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDropletmemoryfreemetrics(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve total memory metrics for a given droplet, send a GET request to `/v2/monitoring/metrics/droplet/memory_total`.
func (c *Client) GetDropletmemorytotalmetrics(
	ctx context.Context,
	request *godonext.MonitoringGetDropletMemoryTotalMetricsRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDropletmemorytotalmetrics(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve available memory metrics for a given droplet, send a GET request to `/v2/monitoring/metrics/droplet/memory_available`.
func (c *Client) GetDropletmemoryavailablemetrics(
	ctx context.Context,
	request *godonext.MonitoringGetDropletMemoryAvailableMetricsRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDropletmemoryavailablemetrics(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve memory percentage metrics for a given app, send a GET request to `/v2/monitoring/metrics/apps/memory_percentage`.
func (c *Client) GetAppmemorypercentagemetrics(
	ctx context.Context,
	request *godonext.MonitoringGetAppMemoryPercentageMetricsRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetAppmemorypercentagemetrics(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve cpu percentage metrics for a given app, send a GET request to `/v2/monitoring/metrics/apps/cpu_percentage`.
func (c *Client) GetAppcpupercentagemetrics(
	ctx context.Context,
	request *godonext.MonitoringGetAppCPUPercentageMetricsRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetAppcpupercentagemetrics(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve restart count metrics for a given app, send a GET request to `/v2/monitoring/metrics/apps/restart_count`.
func (c *Client) GetApprestartcountmetricsYml(
	ctx context.Context,
	request *godonext.MonitoringGetAppRestartCountMetricsYmlRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetApprestartcountmetricsYml(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve frontend total current active connections for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_connections_current`.
func (c *Client) GetLbFrontendConnectionsCurrent(
	ctx context.Context,
	request *godonext.MonitoringGetLbFrontendConnectionsCurrentRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbFrontendConnectionsCurrent(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve frontend max connections limit for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_connections_limit`.
func (c *Client) GetLbFrontendConnectionsLimit(
	ctx context.Context,
	request *godonext.MonitoringGetLbFrontendConnectionsLimitRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbFrontendConnectionsLimit(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve frontend average percentage CPU utilization for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_cpu_utilization`.
func (c *Client) GetLbFrontendCPUUtilization(
	ctx context.Context,
	request *godonext.MonitoringGetLbFrontendCPUUtilizationRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbFrontendCPUUtilization(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve firewall dropped bytes for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_firewall_dropped_bytes`. This is currently only supported for network load balancers.
func (c *Client) GetLbFrontendFirewallDroppedBytes(
	ctx context.Context,
	request *godonext.MonitoringGetLbFrontendFirewallDroppedBytesRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbFrontendFirewallDroppedBytes(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve firewall dropped packets per second for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_firewall_dropped_packets`. This is currently only supported for network load balancers.
func (c *Client) GetLbFrontendFirewallDroppedPackets(
	ctx context.Context,
	request *godonext.MonitoringGetLbFrontendFirewallDroppedPacketsRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbFrontendFirewallDroppedPackets(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve frontend HTTP rate of response code for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_http_responses`.
func (c *Client) GetLbFrontendHTTPResponses(
	ctx context.Context,
	request *godonext.MonitoringGetLbFrontendHTTPResponsesRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbFrontendHTTPResponses(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve frontend HTTP requests per second for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_http_requests_per_second`.
func (c *Client) GetLbFrontendHTTPRequestsPerSecond(
	ctx context.Context,
	request *godonext.MonitoringGetLbFrontendHTTPRequestsPerSecondRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbFrontendHTTPRequestsPerSecond(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve frontend HTTP throughput in bytes per second for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_network_throughput_http`.
func (c *Client) GetLbFrontendNetworkThroughputHTTP(
	ctx context.Context,
	request *godonext.MonitoringGetLbFrontendNetworkThroughputHTTPRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbFrontendNetworkThroughputHTTP(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve frontend UDP throughput in bytes per second for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_network_throughput_udp`.
func (c *Client) GetLbFrontendNetworkThroughputUDP(
	ctx context.Context,
	request *godonext.MonitoringGetLbFrontendNetworkThroughputUDPRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbFrontendNetworkThroughputUDP(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve frontend TCP throughput in bytes per second for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_network_throughput_tcp`.
func (c *Client) GetLbFrontendNetworkThroughputTCP(
	ctx context.Context,
	request *godonext.MonitoringGetLbFrontendNetworkThroughputTCPRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbFrontendNetworkThroughputTCP(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve frontend TCP throughput in bytes per second for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_nlb_tcp_network_throughput`.
func (c *Client) GetLbFrontendNlbTCPNetworkThroughput(
	ctx context.Context,
	request *godonext.MonitoringGetLbFrontendNlbTCPNetworkThroughputRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbFrontendNlbTCPNetworkThroughput(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve frontend UDP throughput in bytes per second for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_nlb_udp_network_throughput`.
func (c *Client) GetLbFrontendNlbUDPNetworkThroughput(
	ctx context.Context,
	request *godonext.MonitoringGetLbFrontendNlbUDPNetworkThroughputRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbFrontendNlbUDPNetworkThroughput(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve frontend current TLS connections rate for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_tls_connections_current`.
func (c *Client) GetLbFrontendTLSConnectionsCurrent(
	ctx context.Context,
	request *godonext.MonitoringGetLbFrontendTLSConnectionsCurrentRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbFrontendTLSConnectionsCurrent(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve frontend max TLS connections limit for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_tls_connections_limit`.
func (c *Client) GetLbFrontendTLSConnectionsLimit(
	ctx context.Context,
	request *godonext.MonitoringGetLbFrontendTLSConnectionsLimitRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbFrontendTLSConnectionsLimit(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve frontend closed TLS connections for exceeded rate limit for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_tls_connections_exceeding_rate_limit`.
func (c *Client) GetLbFrontendTLSConnectionsExceedingRateLimit(
	ctx context.Context,
	request *godonext.MonitoringGetLbFrontendTLSConnectionsExceedingRateLimitRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbFrontendTLSConnectionsExceedingRateLimit(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve Droplets average HTTP session duration in seconds for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_http_session_duration_avg`.
func (c *Client) GetLbDropletsHTTPSessionDurationAvg(
	ctx context.Context,
	request *godonext.MonitoringGetLbDropletsHTTPSessionDurationAvgRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbDropletsHTTPSessionDurationAvg(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve Droplets 50th percentile HTTP session duration in seconds for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_http_session_duration_50p`.
func (c *Client) GetLbDropletsHTTPSessionDuration50P(
	ctx context.Context,
	request *godonext.MonitoringGetLbDropletsHTTPSessionDuration50PRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbDropletsHTTPSessionDuration50P(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve Droplets 95th percentile HTTP session duration in seconds for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_http_session_duration_95p`.
func (c *Client) GetLbDropletsHTTPSessionDuration95P(
	ctx context.Context,
	request *godonext.MonitoringGetLbDropletsHTTPSessionDuration95PRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbDropletsHTTPSessionDuration95P(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve Droplets average HTTP response time in seconds for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_http_response_time_avg`.
func (c *Client) GetLbDropletsHTTPResponseTimeAvg(
	ctx context.Context,
	request *godonext.MonitoringGetLbDropletsHTTPResponseTimeAvgRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbDropletsHTTPResponseTimeAvg(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve Droplets 50th percentile HTTP response time in seconds for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_http_response_time_50p`.
func (c *Client) GetLbDropletsHTTPResponseTime50P(
	ctx context.Context,
	request *godonext.MonitoringGetLbDropletsHTTPResponseTime50PRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbDropletsHTTPResponseTime50P(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve Droplets 95th percentile HTTP response time in seconds for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_http_response_time_95p`.
func (c *Client) GetLbDropletsHTTPResponseTime95P(
	ctx context.Context,
	request *godonext.MonitoringGetLbDropletsHTTPResponseTime95PRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbDropletsHTTPResponseTime95P(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve Droplets 99th percentile HTTP response time in seconds for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_http_response_time_99p`.
func (c *Client) GetLbDropletsHTTPResponseTime99P(
	ctx context.Context,
	request *godonext.MonitoringGetLbDropletsHTTPResponseTime99PRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbDropletsHTTPResponseTime99P(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve Droplets queue size for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_queue_size`.
func (c *Client) GetLbDropletsQueueSize(
	ctx context.Context,
	request *godonext.MonitoringGetLbDropletsQueueSizeRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbDropletsQueueSize(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve Droplets HTTP rate of response code for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_http_responses`.
func (c *Client) GetLbDropletsHTTPResponses(
	ctx context.Context,
	request *godonext.MonitoringGetLbDropletsHTTPResponsesRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbDropletsHTTPResponses(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve Droplets active connections for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_connections`.
func (c *Client) GetLbDropletsConnections(
	ctx context.Context,
	request *godonext.MonitoringGetLbDropletsConnectionsRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbDropletsConnections(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve Droplets health check status for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_health_checks`.
func (c *Client) GetLbDropletsHealthChecks(
	ctx context.Context,
	request *godonext.MonitoringGetLbDropletsHealthChecksRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbDropletsHealthChecks(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve Droplets downtime status for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_downtime`.
func (c *Client) GetLbDropletsDowntime(
	ctx context.Context,
	request *godonext.MonitoringGetLbDropletsDowntimeRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetLbDropletsDowntime(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve the current size for a given Droplet Autoscale Pool, send a GET request to `/v2/monitoring/metrics/droplet_autoscale/current_instances`.
func (c *Client) GetDropletAutoscaleCurrentInstances(
	ctx context.Context,
	request *godonext.MonitoringGetDropletAutoscaleCurrentInstancesRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDropletAutoscaleCurrentInstances(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve the target size for a given Droplet Autoscale Pool, send a GET request to `/v2/monitoring/metrics/droplet_autoscale/target_instances`.
func (c *Client) GetDropletAutoscaleTargetInstances(
	ctx context.Context,
	request *godonext.MonitoringGetDropletAutoscaleTargetInstancesRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDropletAutoscaleTargetInstances(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve the current average CPU utilization for a given Droplet Autoscale Pool, send a GET request to `/v2/monitoring/metrics/droplet_autoscale/current_cpu_utilization`.
func (c *Client) GetDropletAutoscaleCurrentCPUUtilizationYml(
	ctx context.Context,
	request *godonext.MonitoringGetDropletAutoscaleCurrentCPUUtilizationYmlRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDropletAutoscaleCurrentCPUUtilizationYml(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve the target average CPU utilization for a given Droplet Autoscale Pool, send a GET request to `/v2/monitoring/metrics/droplet_autoscale/target_cpu_utilization`.
func (c *Client) GetDropletAutoscaleTargetCPUUtilization(
	ctx context.Context,
	request *godonext.MonitoringGetDropletAutoscaleTargetCPUUtilizationRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDropletAutoscaleTargetCPUUtilization(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve the current average memory utilization for a given Droplet Autoscale Pool, send a GET request to `/v2/monitoring/metrics/droplet_autoscale/current_memory_utilization`.
func (c *Client) GetDropletAutoscaleCurrentMemoryUtilization(
	ctx context.Context,
	request *godonext.MonitoringGetDropletAutoscaleCurrentMemoryUtilizationRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDropletAutoscaleCurrentMemoryUtilization(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve the target average memory utilization for a given Droplet Autoscale Pool, send a GET request to `/v2/monitoring/metrics/droplet_autoscale/target_memory_utilization`.
func (c *Client) GetDropletAutoscaleTargetMemoryUtilization(
	ctx context.Context,
	request *godonext.MonitoringGetDropletAutoscaleTargetMemoryUtilizationRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDropletAutoscaleTargetMemoryUtilization(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve CPU usage (percent) for a MySQL cluster. Response is a time series of cluster-level CPU usage. Use **aggregate** to get avg, max, or min over the range.
func (c *Client) GetDatabaseMysqlCPUUsage(
	ctx context.Context,
	request *godonext.MonitoringGetDatabaseMysqlCPUUsageRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDatabaseMysqlCPUUsage(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve load metrics for a MySQL cluster. Use **metric** for the window: **load1** (1-minute), **load5** (5-minute), or **load15** (15-minute). Use **aggregate** to get either the average (avg) or maximum (max) over that window over the time range.
func (c *Client) GetDatabaseMysqlLoad(
	ctx context.Context,
	request *godonext.MonitoringGetDatabaseMysqlLoadRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDatabaseMysqlLoad(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve memory usage (percent) for a MySQL cluster. Use **aggregate** (avg, max, or min) over the time range.
func (c *Client) GetDatabaseMysqlMemoryUsage(
	ctx context.Context,
	request *godonext.MonitoringGetDatabaseMysqlMemoryUsageRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDatabaseMysqlMemoryUsage(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve disk usage (percent) for a MySQL cluster. Use **aggregate** (avg, max, or min) over the time range.
func (c *Client) GetDatabaseMysqlDiskUsage(
	ctx context.Context,
	request *godonext.MonitoringGetDatabaseMysqlDiskUsageRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDatabaseMysqlDiskUsage(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve current threads connected for a MySQL service (gauge).
func (c *Client) GetDatabaseMysqlThreadsConnected(
	ctx context.Context,
	request *godonext.MonitoringGetDatabaseMysqlThreadsConnectedRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDatabaseMysqlThreadsConnected(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve threads created rate for a MySQL service (per second).
func (c *Client) GetDatabaseMysqlThreadsCreatedRate(
	ctx context.Context,
	request *godonext.MonitoringGetDatabaseMysqlThreadsCreatedRateRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDatabaseMysqlThreadsCreatedRate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve active (running) threads for a MySQL service.
func (c *Client) GetDatabaseMysqlThreadsActive(
	ctx context.Context,
	request *godonext.MonitoringGetDatabaseMysqlThreadsActiveRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDatabaseMysqlThreadsActive(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve index vs sequential reads ratio (percent) for a MySQL service — i.e. percentage of reads using an index.
func (c *Client) GetDatabaseMysqlIndexVsSequentialReads(
	ctx context.Context,
	request *godonext.MonitoringGetDatabaseMysqlIndexVsSequentialReadsRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDatabaseMysqlIndexVsSequentialReads(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve operations rate (per second) for a MySQL service. Use **metric** to choose select, insert, update, or delete.
func (c *Client) GetDatabaseMysqlOpRates(
	ctx context.Context,
	request *godonext.MonitoringGetDatabaseMysqlOpRatesRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDatabaseMysqlOpRates(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve table I/O throughput (rows per second) for a schema. Requires **schema** and **metric** (insert, fetch, update, delete).
func (c *Client) GetDatabaseMysqlSchemaThroughput(
	ctx context.Context,
	request *godonext.MonitoringGetDatabaseMysqlSchemaThroughputRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDatabaseMysqlSchemaThroughput(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve table I/O latency (seconds) for a schema. Requires **schema** and **metric** (insert, fetch, update, delete).
func (c *Client) GetDatabaseMysqlSchemaLatency(
	ctx context.Context,
	request *godonext.MonitoringGetDatabaseMysqlSchemaLatencyRequest,
	opts ...option.RequestOption,
) (*godonext.Metrics, error) {
	response, err := c.WithRawResponse.GetDatabaseMysqlSchemaLatency(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all logging destinations, send a GET request to `/v2/monitoring/sinks/destinations`.
func (c *Client) ListDestinations(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.MonitoringListDestinationsResponse, error) {
	response, err := c.WithRawResponse.ListDestinations(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a new destination, send a POST request to `/v2/monitoring/sinks/destinations`.
func (c *Client) CreateDestination(
	ctx context.Context,
	request *godonext.DestinationRequest,
	opts ...option.RequestOption,
) (*godonext.MonitoringCreateDestinationResponse, error) {
	response, err := c.WithRawResponse.CreateDestination(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get the details of a destination, send a GET request to `/v2/monitoring/sinks/destinations/${destination_uuid}`.
func (c *Client) GetDestination(
	ctx context.Context,
	request *godonext.MonitoringGetDestinationRequest,
	opts ...option.RequestOption,
) (*godonext.MonitoringGetDestinationResponse, error) {
	response, err := c.WithRawResponse.GetDestination(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update the details of a destination, send a PATCH request to `/v2/monitoring/sinks/destinations/${destination_uuid}`.
func (c *Client) UpdateDestination(
	ctx context.Context,
	request *godonext.MonitoringUpdateDestinationRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.UpdateDestination(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To delete a destination and all associated sinks, send a DELETE request to `/v2/monitoring/sinks/destinations/${destination_uuid}`.
func (c *Client) DeleteDestination(
	ctx context.Context,
	request *godonext.MonitoringDeleteDestinationRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteDestination(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To list all sinks, send a GET request to `/v2/monitoring/sinks`.
func (c *Client) ListSinks(
	ctx context.Context,
	request *godonext.MonitoringListSinksRequest,
	opts ...option.RequestOption,
) (*godonext.MonitoringListSinksResponse, error) {
	response, err := c.WithRawResponse.ListSinks(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a new sink, send a POST request to `/v2/monitoring/sinks`. Forwards logs from the
// resources identified in `resources` to the specified pre-existing destination.
func (c *Client) CreateSink(
	ctx context.Context,
	request *godonext.MonitoringCreateSinkRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.CreateSink(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To get the details of a sink (resources and destination), send a GET request to `/v2/monitoring/sinks/${sink_uuid}`.
func (c *Client) GetSink(
	ctx context.Context,
	request *godonext.MonitoringGetSinkRequest,
	opts ...option.RequestOption,
) (*godonext.MonitoringGetSinkResponse, error) {
	response, err := c.WithRawResponse.GetSink(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a sink, send a DELETE request to `/v2/monitoring/sinks/${sink_uuid}`.
func (c *Client) DeleteSink(
	ctx context.Context,
	request *godonext.MonitoringDeleteSinkRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteSink(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
