// Code generated by Fern. DO NOT EDIT.

package domainrecords

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To get a listing of all records configured for a domain, send a GET request to `/v2/domains/$DOMAIN_NAME/records`.
// The list of records returned can be filtered by using the `name` and `type` query parameters. For example, to only include A records for a domain, send a GET request to `/v2/domains/$DOMAIN_NAME/records?type=A`. `name` must be a fully qualified record name. For example, to only include records matching `sub.example.com`, send a GET request to `/v2/domains/$DOMAIN_NAME/records?name=sub.example.com`. Both name and type may be used together.
func (c *Client) DomainsListRecords(
	ctx context.Context,
	request *godonext.DomainsListRecordsRequest,
	opts ...option.RequestOption,
) (*godonext.DomainsListRecordsResponse, error) {
	response, err := c.WithRawResponse.DomainsListRecords(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a new record to a domain, send a POST request to
// `/v2/domains/$DOMAIN_NAME/records`.
//
// The request must include all of the required fields for the domain record type
// being added.
//
// See the [attribute table](#tag/Domain-Records) for details regarding record
// types and their respective required attributes.
func (c *Client) DomainsCreateRecord(
	ctx context.Context,
	request *godonext.DomainsCreateRecordRequest,
	opts ...option.RequestOption,
) (*godonext.DomainsCreateRecordResponse, error) {
	response, err := c.WithRawResponse.DomainsCreateRecord(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve a specific domain record, send a GET request to `/v2/domains/$DOMAIN_NAME/records/$RECORD_ID`.
func (c *Client) DomainsGetRecord(
	ctx context.Context,
	request *godonext.DomainsGetRecordRequest,
	opts ...option.RequestOption,
) (*godonext.DomainsGetRecordResponse, error) {
	response, err := c.WithRawResponse.DomainsGetRecord(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update an existing record, send a PUT request to
// `/v2/domains/$DOMAIN_NAME/records/$DOMAIN_RECORD_ID`. Any attribute valid for
// the record type can be set to a new value for the record.
//
// See the [attribute table](#tag/Domain-Records) for details regarding record
// types and their respective attributes.
func (c *Client) DomainsUpdateRecord(
	ctx context.Context,
	request *godonext.DomainsUpdateRecordRequest,
	opts ...option.RequestOption,
) (*godonext.DomainsUpdateRecordResponse, error) {
	response, err := c.WithRawResponse.DomainsUpdateRecord(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a record for a domain, send a DELETE request to
// `/v2/domains/$DOMAIN_NAME/records/$DOMAIN_RECORD_ID`.
//
// The record will be deleted and the response status will be a 204. This
// indicates a successful request with no body returned.
func (c *Client) DomainsDeleteRecord(
	ctx context.Context,
	request *godonext.DomainsDeleteRecordRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DomainsDeleteRecord(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To update an existing record, send a PATCH request to
// `/v2/domains/$DOMAIN_NAME/records/$DOMAIN_RECORD_ID`. Any attribute valid for
// the record type can be set to a new value for the record.
//
// See the [attribute table](#tag/Domain-Records) for details regarding record
// types and their respective attributes.
func (c *Client) DomainsPatchRecord(
	ctx context.Context,
	request *godonext.DomainsPatchRecordRequest,
	opts ...option.RequestOption,
) (*godonext.DomainsPatchRecordResponse, error) {
	response, err := c.WithRawResponse.DomainsPatchRecord(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
