// Code generated by Fern. DO NOT EDIT.

package certificates

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all of the certificates available on your account, send a GET request to `/v2/certificates`.
func (c *Client) List(
	ctx context.Context,
	request *godonext.CertificatesListRequest,
	opts ...option.RequestOption,
) (*godonext.CertificatesListResponse, error) {
	response, err := c.WithRawResponse.List(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To upload new SSL certificate which you have previously generated, send a POST
// request to `/v2/certificates`.
//
// When uploading a user-generated certificate, the `private_key`,
// `leaf_certificate`, and optionally the `certificate_chain` attributes should
// be provided. The type must be set to `custom`.
//
// When using Let's Encrypt to create a certificate, the `dns_names` attribute
// must be provided, and the type must be set to `lets_encrypt`.
func (c *Client) Create(
	ctx context.Context,
	request *godonext.CertificatesCreateRequest,
	opts ...option.RequestOption,
) (*godonext.CertificatesCreateResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about an existing certificate, send a GET request to `/v2/certificates/$CERTIFICATE_ID`.
func (c *Client) Get(
	ctx context.Context,
	request *godonext.CertificatesGetRequest,
	opts ...option.RequestOption,
) (*godonext.CertificatesGetResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a specific certificate, send a DELETE request to
// `/v2/certificates/$CERTIFICATE_ID`.
func (c *Client) Delete(
	ctx context.Context,
	request *godonext.CertificatesDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
