// Code generated by Fern. DO NOT EDIT.

package cdnendpoints

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all of the CDN endpoints available on your account, send a GET request to `/v2/cdn/endpoints`.
func (c *Client) CdnListEndpoints(
	ctx context.Context,
	request *godonext.CdnListEndpointsRequest,
	opts ...option.RequestOption,
) (*godonext.CdnListEndpointsResponse, error) {
	response, err := c.WithRawResponse.CdnListEndpoints(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a new CDN endpoint, send a POST request to `/v2/cdn/endpoints`. The
// origin attribute must be set to the fully qualified domain name (FQDN) of a
// DigitalOcean Space. Optionally, the TTL may be configured by setting the `ttl`
// attribute.
//
// A custom subdomain may be configured by specifying the `custom_domain` and
// `certificate_id` attributes.
func (c *Client) CdnCreateEndpoint(
	ctx context.Context,
	request *godonext.CdnEndpoint,
	opts ...option.RequestOption,
) (*godonext.CdnCreateEndpointResponse, error) {
	response, err := c.WithRawResponse.CdnCreateEndpoint(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about an existing CDN endpoint, send a GET request to `/v2/cdn/endpoints/$ENDPOINT_ID`.
func (c *Client) CdnGetEndpoint(
	ctx context.Context,
	request *godonext.CdnGetEndpointRequest,
	opts ...option.RequestOption,
) (*godonext.CdnGetEndpointResponse, error) {
	response, err := c.WithRawResponse.CdnGetEndpoint(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update the TTL, certificate ID, or the FQDN of the custom subdomain for
// an existing CDN endpoint, send a PUT request to
// `/v2/cdn/endpoints/$ENDPOINT_ID`.
func (c *Client) CdnUpdateEndpoints(
	ctx context.Context,
	request *godonext.UpdateEndpoint,
	opts ...option.RequestOption,
) (*godonext.CdnUpdateEndpointsResponse, error) {
	response, err := c.WithRawResponse.CdnUpdateEndpoints(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a specific CDN endpoint, send a DELETE request to
// `/v2/cdn/endpoints/$ENDPOINT_ID`.
//
// A status of 204 will be given. This indicates that the request was processed
// successfully, but that no response body is needed.
func (c *Client) CdnDeleteEndpoint(
	ctx context.Context,
	request *godonext.CdnDeleteEndpointRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.CdnDeleteEndpoint(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To purge cached content from a CDN endpoint, send a DELETE request to
// `/v2/cdn/endpoints/$ENDPOINT_ID/cache`. The body of the request should include
// a `files` attribute containing a list of cached file paths to be purged. A
// path may be for a single file or may contain a wildcard (`*`) to recursively
// purge all files under a directory. When only a wildcard is provided, all cached
// files will be purged. There is a rate limit of 50 files per 20 seconds that can
// be purged. CDN endpoints have a rate limit of 5 requests per 10 seconds.
// Purging files using a wildcard path counts as a single request against the API's
// rate limit. Two identical purge requests cannot be sent at the same time.
func (c *Client) CdnPurgeCache(
	ctx context.Context,
	request *godonext.PurgeCache,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.CdnPurgeCache(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
