// Code generated by Fern. DO NOT EDIT.

package floatingips

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all of the floating IPs available on your account, send a GET request to `/v2/floating_ips`.
func (c *Client) FloatingIPsList(
	ctx context.Context,
	request *godonext.FloatingIPsListRequest,
	opts ...option.RequestOption,
) (*godonext.FloatingIPsListResponse, error) {
	response, err := c.WithRawResponse.FloatingIPsList(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// On creation, a floating IP must be either assigned to a Droplet or reserved to a region.
//   - To create a new floating IP assigned to a Droplet, send a POST
//     request to `/v2/floating_ips` with the `droplet_id` attribute.
//
//   - To create a new floating IP reserved to a region, send a POST request to
//     `/v2/floating_ips` with the `region` attribute.
func (c *Client) FloatingIPsCreate(
	ctx context.Context,
	request *godonext.FloatingIPCreate,
	opts ...option.RequestOption,
) (*godonext.FloatingIPsCreateResponse, error) {
	response, err := c.WithRawResponse.FloatingIPsCreate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about a floating IP, send a GET request to `/v2/floating_ips/$FLOATING_IP_ADDR`.
func (c *Client) FloatingIPsGet(
	ctx context.Context,
	request *godonext.FloatingIPsGetRequest,
	opts ...option.RequestOption,
) (*godonext.FloatingIPsGetResponse, error) {
	response, err := c.WithRawResponse.FloatingIPsGet(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a floating IP and remove it from your account, send a DELETE request
// to `/v2/floating_ips/$FLOATING_IP_ADDR`.
//
// A successful request will receive a 204 status code with no body in response.
// This indicates that the request was processed successfully.
func (c *Client) FloatingIPsDelete(
	ctx context.Context,
	request *godonext.FloatingIPsDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.FloatingIPsDelete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
