// Code generated by Fern. DO NOT EDIT.

package databases

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all of the options available for the offered database engines, send a GET request to `/v2/databases/options`.
// The result will be a JSON object with an `options` key.
func (c *Client) ListOptions(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.Options, error) {
	response, err := c.WithRawResponse.ListOptions(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all of the database clusters available on your account, send a GET request to `/v2/databases`. To limit the results to database clusters with a specific tag, include the `tag_name` query parameter set to the name of the tag. For example, `/v2/databases?tag_name=$TAG_NAME`.
//
// The result will be a JSON object with a `databases` key. This will be set to an array of database objects, each of which will contain the standard database attributes.
//
// The embedded `connection` and `private_connection` objects will contain the information needed to access the database cluster. For multi-node clusters, the `standby_connection` and `standby_private_connection` objects will contain the information needed to connect to the cluster's standby node(s).
//
// The embedded `maintenance_window` object will contain information about any scheduled maintenance for the database cluster.
func (c *Client) ListClusters(
	ctx context.Context,
	request *godonext.DatabasesListClustersRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesListClustersResponse, error) {
	response, err := c.WithRawResponse.ListClusters(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a database cluster, send a POST request to `/v2/databases`. To see a list  of options for each engine, such as available regions, size slugs, and versions, send a GET request to the `/v2/databases/options` endpoint. The available sizes for  the `storage_size_mib` field depends on the cluster's size. To see a list of available sizes, see [Managed Database Pricing](https://www.digitalocean.com/pricing/managed-databases).
//
// The create response returns a JSON object with a key called `database`. The value of this is an object that contains the standard attributes associated with a database cluster. The initial value of the database cluster's `status` attribute is `creating`. When the cluster is ready to receive traffic, this changes to `online`.
//
// The embedded `connection` and `private_connection` objects contains the information needed to access the database cluster. For multi-node clusters, the `standby_connection` and `standby_private_connection` objects contain the information needed to connect to the cluster's standby node(s).
//
// DigitalOcean managed PostgreSQL and MySQL database clusters take automated daily backups. To create a new database cluster based on a backup of an existing cluster, send a POST request to `/v2/databases`. In addition to the standard database cluster attributes, the JSON body must include a key named `backup_restore` with the name of the original database cluster and the timestamp of the backup to be restored. Creating a database from a backup is the same as forking a database in the control panel.
//
// PostgreSQL and MySQL Advanced Edition clusters can be provisioned by setting `engine` to `advanced_pg` or `advanced_mysql`. Advanced Edition clusters are currently in public preview and target highly available workloads. `advanced_pg` supports 1-, 2-, and 3-node deployments; `advanced_mysql` only supports 1- and 3-node deployments. See the [PostgreSQL Advanced Edition](https://docs.digitalocean.com/products/databases/postgresql/how-to/use-advanced-edition-clusters/) and [MySQL Advanced Edition](https://docs.digitalocean.com/products/databases/mysql/how-to/use-advanced-edition-clusters/) documentation for the feature differences vs. Standard Edition and current preview limitations.
//
// Note: Caching cluster creates are no longer supported as of 2025-04-30T00:00:00Z. Backups are also not supported for Caching or Valkey clusters.
func (c *Client) CreateCluster(
	ctx context.Context,
	request *godonext.DatabasesCreateClusterRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesCreateClusterResponse, error) {
	response, err := c.WithRawResponse.CreateCluster(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about an existing database cluster, send a GET request to `/v2/databases/$DATABASE_ID`.
//
// The response will be a JSON object with a database key. This will be set to an object containing the standard database cluster attributes.
//
// The embedded `connection` and `private_connection` objects will contain the information needed to access the database cluster. For multi-node clusters, the `standby_connection` and `standby_private_connection` objects contain the information needed to connect to the cluster's standby node(s).
//
// The embedded maintenance_window object will contain information about any scheduled maintenance for the database cluster.
func (c *Client) GetCluster(
	ctx context.Context,
	request *godonext.DatabasesGetClusterRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesGetClusterResponse, error) {
	response, err := c.WithRawResponse.GetCluster(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To destroy a specific database, send a DELETE request to `/v2/databases/$DATABASE_ID`.
// A status of 204 will be given. This indicates that the request was processed successfully, but that no response body is needed.
func (c *Client) DestroyCluster(
	ctx context.Context,
	request *godonext.DatabasesDestroyClusterRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DestroyCluster(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Shows configuration parameters for an existing database cluster by sending a GET request to
// `/v2/databases/$DATABASE_ID/config`.
// The response is a JSON object with a `config` key, which is set to an object
// containing any database configuration parameters.
func (c *Client) GetConfig(
	ctx context.Context,
	request *godonext.DatabasesGetConfigRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesGetConfigResponse, error) {
	response, err := c.WithRawResponse.GetConfig(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update the configuration for an existing database cluster, send a PATCH request to
// `/v2/databases/$DATABASE_ID/config`.
func (c *Client) PatchConfig(
	ctx context.Context,
	request *godonext.DatabaseConfig,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.PatchConfig(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To retrieve the public certificate used to secure the connection to the database cluster send a GET request to
// `/v2/databases/$DATABASE_ID/ca`.
//
// The response will be a JSON object with a `ca` key. This will be set to an object
// containing the base64 encoding of the public key certificate.
func (c *Client) GetCa(
	ctx context.Context,
	request *godonext.DatabasesGetCaRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesGetCaResponse, error) {
	response, err := c.WithRawResponse.GetCa(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve the status of the most recent online migration, send a GET request to `/v2/databases/$DATABASE_ID/online-migration`.
func (c *Client) GetMigrationstatus(
	ctx context.Context,
	request *godonext.DatabasesGetMigrationStatusRequest,
	opts ...option.RequestOption,
) (*godonext.OnlineMigration, error) {
	response, err := c.WithRawResponse.GetMigrationstatus(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To start an online migration, send a PUT request to `/v2/databases/$DATABASE_ID/online-migration` endpoint. Migrating a cluster establishes a connection with an existing cluster and replicates its contents to the target cluster. Online migration is only available for MySQL, PostgreSQL, Caching, and Valkey clusters.
// If the existing database is continuously being written to,  the migration process will continue for up to two weeks unless it is manually stopped. Online migration is only available for [MySQL](https://docs.digitalocean.com/products/databases/mysql/how-to/migrate/#:~:text=To%20migrate%20a%20MySQL%20database,then%20select%20Set%20Up%20Migration),  [PostgreSQL](https://docs.digitalocean.com/products/databases/postgresql/how-to/migrate/),  [Caching](https://docs.digitalocean.com/products/databases/redis/how-to/migrate/), and [Valkey](https://docs.digitalocean.com/products/databases/valkey/how-to/migrate/) clusters.
func (c *Client) UpdateOnlinemigration(
	ctx context.Context,
	request *godonext.SourceDatabase,
	opts ...option.RequestOption,
) (*godonext.OnlineMigration, error) {
	response, err := c.WithRawResponse.UpdateOnlinemigration(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To stop an online migration, send a DELETE request to `/v2/databases/$DATABASE_ID/online-migration/$MIGRATION_ID`.
//
// A status of 204 will be given. This indicates that the request was processed successfully, but that no response body is needed.
func (c *Client) DeleteOnlinemigration(
	ctx context.Context,
	request *godonext.DatabasesDeleteOnlineMigrationRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteOnlinemigration(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To migrate a database cluster to a new region, send a `PUT` request to
// `/v2/databases/$DATABASE_ID/migrate`. The body of the request must specify a
// `region` attribute.
//
// A successful request will receive a 202 Accepted status code with no body in
// response. Querying the database cluster will show that its `status` attribute
// will now be set to `migrating`. This will transition back to `online` when the
// migration has completed.
func (c *Client) UpdateRegion(
	ctx context.Context,
	request *godonext.DatabasesUpdateRegionRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.UpdateRegion(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To resize a database cluster, send a PUT request to `/v2/databases/$DATABASE_ID/resize`. The body of the request must specify both the size and num_nodes attributes.
// A successful request will receive a 202 Accepted status code with no body in response. Querying the database cluster will show that its status attribute will now be set to resizing. This will transition back to online when the resize operation has completed.
func (c *Client) UpdateClustersize(
	ctx context.Context,
	request *godonext.DatabaseClusterResize,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.UpdateClustersize(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To list all of a database cluster's firewall rules (known as "trusted sources" in the control panel), send a GET request to `/v2/databases/$DATABASE_ID/firewall`.
// The result will be a JSON object with a `rules` key.
func (c *Client) ListFirewallRules(
	ctx context.Context,
	request *godonext.DatabasesListFirewallRulesRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesListFirewallRulesResponse, error) {
	response, err := c.WithRawResponse.ListFirewallRules(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update a database cluster's firewall rules (known as "trusted sources" in the control panel), send a PUT request to `/v2/databases/$DATABASE_ID/firewall` specifying which resources should be able to open connections to the database. You may limit connections to specific Droplets, Kubernetes clusters, or IP addresses. When a tag is provided, any Droplet or Kubernetes node with that tag applied to it will have access. The firewall is limited to 100 rules (or trusted sources). When possible, we recommend [placing your databases into a VPC network](https://docs.digitalocean.com/products/networking/vpc/) to limit access to them instead of using a firewall.
// A successful
func (c *Client) UpdateFirewallRules(
	ctx context.Context,
	request *godonext.DatabasesUpdateFirewallRulesRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.UpdateFirewallRules(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To configure the window when automatic maintenance should be performed for a database cluster, send a PUT request to `/v2/databases/$DATABASE_ID/maintenance`.
// A successful request will receive a 204 No Content status code with no body in response.
func (c *Client) UpdateMaintenancewindow(
	ctx context.Context,
	request *godonext.DatabasesUpdateMaintenanceWindowRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.UpdateMaintenancewindow(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To start the installation of updates for a database cluster, send a PUT request to `/v2/databases/$DATABASE_ID/install_update`.
// A successful request will receive a 204 No Content status code with no body in response.
func (c *Client) InstallUpdate(
	ctx context.Context,
	request *godonext.DatabasesInstallUpdateRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.InstallUpdate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To list all of the available backups of a PostgreSQL or MySQL database cluster, send a GET request to `/v2/databases/$DATABASE_ID/backups`.
// **Note**: Backups are not supported for Caching or Valkey clusters.
// The result will be a JSON object with a `backups key`. This will be set to an array of backup objects, each of which will contain the size of the backup and the timestamp at which it was created.
func (c *Client) ListBackups(
	ctx context.Context,
	request *godonext.DatabasesListBackupsRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesListBackupsResponse, error) {
	response, err := c.WithRawResponse.ListBackups(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all of the read-only replicas associated with a database cluster, send a GET request to `/v2/databases/$DATABASE_ID/replicas`.
//
// **Note**: Read-only replicas are not supported for Caching or Valkey clusters.
//
// The result will be a JSON object with a `replicas` key. This will be set to an array of database replica objects, each of which will contain the standard database replica attributes.
func (c *Client) ListReplicas(
	ctx context.Context,
	request *godonext.DatabasesListReplicasRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesListReplicasResponse, error) {
	response, err := c.WithRawResponse.ListReplicas(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a read-only replica for a PostgreSQL or MySQL database cluster, send a POST request to `/v2/databases/$DATABASE_ID/replicas` specifying the name it should be given, the size of the node to be used, and the region where it will be located.
//
// **Note**: Read-only replicas are not supported for Caching or Valkey clusters.
//
// The response will be a JSON object with a key called `replica`. The value of this will be an object that contains the standard attributes associated with a database replica. The initial value of the read-only replica's `status` attribute will be `forking`. When the replica is ready to receive traffic, this will transition to `active`.
func (c *Client) CreateReplica(
	ctx context.Context,
	request *godonext.DatabaseReplica,
	opts ...option.RequestOption,
) (*godonext.DatabasesCreateReplicaResponse, error) {
	response, err := c.WithRawResponse.CreateReplica(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all of the cluster events, send a GET request to
// `/v2/databases/$DATABASE_ID/events`.
//
// The result will be a JSON object with a `events` key.
func (c *Client) ListEventsLogs(
	ctx context.Context,
	request *godonext.DatabasesListEventsLogsRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesListEventsLogsResponse, error) {
	response, err := c.WithRawResponse.ListEventsLogs(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about an existing database replica, send a GET request to `/v2/databases/$DATABASE_ID/replicas/$REPLICA_NAME`.
//
// **Note**: Read-only replicas are not supported for Caching or Valkey clusters.
//
// The response will be a JSON object with a `replica key`. This will be set to an object containing the standard database replica attributes.
func (c *Client) GetReplica(
	ctx context.Context,
	request *godonext.DatabasesGetReplicaRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesGetReplicaResponse, error) {
	response, err := c.WithRawResponse.GetReplica(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To destroy a specific read-only replica, send a DELETE request to `/v2/databases/$DATABASE_ID/replicas/$REPLICA_NAME`.
//
// **Note**: Read-only replicas are not supported for Caching or Valkey clusters.
//
// A status of 204 will be given. This indicates that the request was processed successfully, but that no response body is needed.
func (c *Client) DestroyReplica(
	ctx context.Context,
	request *godonext.DatabasesDestroyReplicaRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DestroyReplica(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To promote a specific read-only replica, send a PUT request to `/v2/databases/$DATABASE_ID/replicas/$REPLICA_NAME/promote`.
//
// **Note**: Read-only replicas are not supported for Caching or Valkey clusters.
//
// A status of 204 will be given. This indicates that the request was processed successfully, but that no response body is needed.
func (c *Client) PromoteReplica(
	ctx context.Context,
	request *godonext.DatabasesPromoteReplicaRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.PromoteReplica(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To list all of the users for your database cluster, send a GET request to
// `/v2/databases/$DATABASE_ID/users`.
//
// Note: User management is not supported for Caching or Valkey clusters.
//
// The result will be a JSON object with a `users` key. This will be set to an array
// of database user objects, each of which will contain the standard database user attributes.
// User passwords will not show without the `database:view_credentials` scope.
//
// For MySQL clusters, additional options will be contained in the mysql_settings object.
//
// For MongoDB clusters, additional information will be contained in the mongo_user_settings object
func (c *Client) ListUsers(
	ctx context.Context,
	request *godonext.DatabasesListUsersRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesListUsersResponse, error) {
	response, err := c.WithRawResponse.ListUsers(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To add a new database user, send a POST request to `/v2/databases/$DATABASE_ID/users`
// with the desired username.
//
// Note: User management is not supported for Caching or Valkey clusters.
//
// When adding a user to a MySQL cluster, additional options can be configured in the
// `mysql_settings` object.
//
// When adding a user to a Kafka cluster, additional options can be configured in
// the `settings` object.
//
//	When adding a user to a MongoDB cluster, additional options can be configured in
//
// the `settings.mongo_user_settings` object.
//
// The response will be a JSON object with a key called `user`. The value of this will be an
// object that contains the standard attributes associated with a database user including
// its randomly generated password.
func (c *Client) AddUser(
	ctx context.Context,
	request *godonext.DatabasesAddUserRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesAddUserResponse, error) {
	response, err := c.WithRawResponse.AddUser(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about an existing database user, send a GET request to
// `/v2/databases/$DATABASE_ID/users/$USERNAME`.
//
// Note: User management is not supported for Caching or Valkey clusters.
//
// The response will be a JSON object with a `user` key. This will be set to an object
// containing the standard database user attributes. The user's password will not show
// up unless the `database:view_credentials` scope is present.
//
// For MySQL clusters, additional options will be contained in the `mysql_settings`
// object.
//
// For Kafka clusters, additional options will be contained in the `settings` object.
//
// For MongoDB clusters, additional information will be contained in the mongo_user_settings object
func (c *Client) GetUser(
	ctx context.Context,
	request *godonext.DatabasesGetUserRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesGetUserResponse, error) {
	response, err := c.WithRawResponse.GetUser(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update an existing database user, send a PUT request to `/v2/databases/$DATABASE_ID/users/$USERNAME`
// with the desired settings.
//
// **Note**: only `settings` can be updated via this type of request. If you wish to change the name of a user,
// you must recreate a new user.
//
// The response will be a JSON object with a key called `user`. The value of this will be an
// object that contains the name of the update database user, along with the `settings` object that
// has been updated.
func (c *Client) UpdateUser(
	ctx context.Context,
	request *godonext.DatabasesUpdateUserRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesUpdateUserResponse, error) {
	response, err := c.WithRawResponse.UpdateUser(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To remove a specific database user, send a DELETE request to
// `/v2/databases/$DATABASE_ID/users/$USERNAME`.
//
// A status of 204 will be given. This indicates that the request was processed
// successfully, but that no response body is needed.
//
// Note: User management is not supported for Caching or Valkey clusters.
func (c *Client) DeleteUser(
	ctx context.Context,
	request *godonext.DatabasesDeleteUserRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteUser(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To reset the password for a database user, send a POST request to
// `/v2/databases/$DATABASE_ID/users/$USERNAME/reset_auth`.
//
// For `mysql` databases, the authentication method can be specifying by
// including a key in the JSON body called `mysql_settings` with the `auth_plugin`
// value specified.
//
// The response will be a JSON object with a `user` key. This will be set to an
// object containing the standard database user attributes.
func (c *Client) ResetAuth(
	ctx context.Context,
	request *godonext.DatabasesResetAuthRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesResetAuthResponse, error) {
	response, err := c.WithRawResponse.ResetAuth(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all of the databases in a clusters, send a GET request to
// `/v2/databases/$DATABASE_ID/dbs`.
//
// The result will be a JSON object with a `dbs` key. This will be set to an array
// of database objects, each of which will contain the standard database attributes.
//
// Note: Database management is not supported for Caching or Valkey clusters.
func (c *Client) List(
	ctx context.Context,
	request *godonext.DatabasesListRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesListResponse, error) {
	response, err := c.WithRawResponse.List(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To add a new database to an existing cluster, send a POST request to
// `/v2/databases/$DATABASE_ID/dbs`.
//
// Note: Database management is not supported for Caching or Valkey clusters.
//
// The response will be a JSON object with a key called `db`. The value of this will be
// an object that contains the standard attributes associated with a database.
func (c *Client) Add(
	ctx context.Context,
	request *godonext.DatabasesAddRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesAddResponse, error) {
	response, err := c.WithRawResponse.Add(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about an existing database cluster, send a GET request to
// `/v2/databases/$DATABASE_ID/dbs/$DB_NAME`.
//
// Note: Database management is not supported for Caching or Valkey clusters.
//
// The response will be a JSON object with a `db` key. This will be set to an object
// containing the standard database attributes.
func (c *Client) Get(
	ctx context.Context,
	request *godonext.DatabasesGetRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesGetResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a specific database, send a DELETE request to
// `/v2/databases/$DATABASE_ID/dbs/$DB_NAME`.
//
// A status of 204 will be given. This indicates that the request was processed
// successfully, but that no response body is needed.
//
// Note: Database management is not supported for Caching or Valkey clusters.
func (c *Client) Delete(
	ctx context.Context,
	request *godonext.DatabasesDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To list all of the connection pools available to a PostgreSQL database cluster, send a GET request to `/v2/databases/$DATABASE_ID/pools`.
// The result will be a JSON object with a `pools` key. This will be set to an array of connection pool objects.
func (c *Client) ListConnectionpools(
	ctx context.Context,
	request *godonext.DatabasesListConnectionPoolsRequest,
	opts ...option.RequestOption,
) (*godonext.ConnectionPools, error) {
	response, err := c.WithRawResponse.ListConnectionpools(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// For PostgreSQL database clusters, connection pools can be used to allow a
// database to share its idle connections. The popular PostgreSQL connection
// pooling utility PgBouncer is used to provide this service. [See here for more information](https://docs.digitalocean.com/products/databases/postgresql/how-to/manage-connection-pools/)
// about how and why to use PgBouncer connection pooling including
// details about the available transaction modes.
//
// To add a new connection pool to a PostgreSQL database cluster, send a POST
// request to `/v2/databases/$DATABASE_ID/pools` specifying a name for the pool,
// the user to connect with, the database to connect to, as well as its desired
// size and transaction mode.
func (c *Client) AddConnectionpool(
	ctx context.Context,
	request *godonext.DatabasesAddConnectionPoolRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesAddConnectionPoolResponse, error) {
	response, err := c.WithRawResponse.AddConnectionpool(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about an existing connection pool for a PostgreSQL database cluster, send a GET request to `/v2/databases/$DATABASE_ID/pools/$POOL_NAME`.
// The response will be a JSON object with a `pool` key.
func (c *Client) GetConnectionpool(
	ctx context.Context,
	request *godonext.DatabasesGetConnectionPoolRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesGetConnectionPoolResponse, error) {
	response, err := c.WithRawResponse.GetConnectionpool(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update a connection pool for a PostgreSQL database cluster, send a PUT request to  `/v2/databases/$DATABASE_ID/pools/$POOL_NAME`.
func (c *Client) UpdateConnectionpool(
	ctx context.Context,
	request *godonext.ConnectionPoolUpdate,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.UpdateConnectionpool(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To delete a specific connection pool for a PostgreSQL database cluster, send
// a DELETE request to `/v2/databases/$DATABASE_ID/pools/$POOL_NAME`.
//
// A status of 204 will be given. This indicates that the request was processed
// successfully, but that no response body is needed.
func (c *Client) DeleteConnectionpool(
	ctx context.Context,
	request *godonext.DatabasesDeleteConnectionPoolRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteConnectionpool(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To retrieve the configured eviction policy for an existing Caching or Valkey cluster, send a GET request to `/v2/databases/$DATABASE_ID/eviction_policy`.
// The response will be a JSON object with an `eviction_policy` key. This will be set to a string representing the eviction policy.
func (c *Client) GetEvictionpolicy(
	ctx context.Context,
	request *godonext.DatabasesGetEvictionPolicyRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesGetEvictionPolicyResponse, error) {
	response, err := c.WithRawResponse.GetEvictionpolicy(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To configure an eviction policy for an existing Caching or Valkey cluster, send a PUT request to `/v2/databases/$DATABASE_ID/eviction_policy` specifying the desired policy.
func (c *Client) UpdateEvictionpolicy(
	ctx context.Context,
	request *godonext.DatabasesUpdateEvictionPolicyRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.UpdateEvictionpolicy(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To retrieve the configured SQL modes for an existing MySQL cluster, send a GET request to `/v2/databases/$DATABASE_ID/sql_mode`.
// The response will be a JSON object with a `sql_mode` key. This will be set to a string representing the configured SQL modes.
func (c *Client) GetSQLMode(
	ctx context.Context,
	request *godonext.DatabasesGetSQLModeRequest,
	opts ...option.RequestOption,
) (*godonext.SQLMode, error) {
	response, err := c.WithRawResponse.GetSQLMode(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To configure the SQL modes for an existing MySQL cluster, send a PUT request to `/v2/databases/$DATABASE_ID/sql_mode` specifying the desired modes. See the official MySQL 8 documentation for a [full list of supported SQL modes](https://dev.mysql.com/doc/refman/8.0/en/sql-mode.html#sql-mode-full).
// A successful request will receive a 204 No Content status code with no body in response.
func (c *Client) UpdateSQLMode(
	ctx context.Context,
	request *godonext.DatabasesUpdateSQLModeRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.UpdateSQLMode(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To upgrade the major version of a database, send a PUT request to `/v2/databases/$DATABASE_ID/upgrade`, specifying the target version.
// A successful request will receive a 204 No Content status code with no body in response.
func (c *Client) UpdateMajorVersion(
	ctx context.Context,
	request *godonext.Version2,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.UpdateMajorVersion(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To retrieve the autoscale configuration for an existing database cluster, send a GET request to `/v2/databases/$DATABASE_ID/autoscale`.
// The response will be a JSON object with autoscaling configuration details.
func (c *Client) GetAutoscale(
	ctx context.Context,
	request *godonext.DatabasesGetAutoscaleRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesGetAutoscaleResponse, error) {
	response, err := c.WithRawResponse.GetAutoscale(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To configure autoscale settings for an existing database cluster, send a PUT request to `/v2/databases/$DATABASE_ID/autoscale`, specifying the autoscale configuration.
// A successful request will receive a 204 No Content status code with no body in response.
func (c *Client) UpdateAutoscale(
	ctx context.Context,
	request *godonext.DatabasesUpdateAutoscaleRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.UpdateAutoscale(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To list all of a Kafka cluster's topics, send a GET request to
// `/v2/databases/$DATABASE_ID/topics`.
//
// The result will be a JSON object with a `topics` key.
func (c *Client) ListKafkaTopics(
	ctx context.Context,
	request *godonext.DatabasesListKafkaTopicsRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesListKafkaTopicsResponse, error) {
	response, err := c.WithRawResponse.ListKafkaTopics(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a topic attached to a Kafka cluster, send a POST request to
// `/v2/databases/$DATABASE_ID/topics`.
//
// The result will be a JSON object with a `topic` key.
func (c *Client) CreateKafkaTopic(
	ctx context.Context,
	request *godonext.KafkaTopicCreate,
	opts ...option.RequestOption,
) (*godonext.DatabasesCreateKafkaTopicResponse, error) {
	response, err := c.WithRawResponse.CreateKafkaTopic(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve a given topic by name from the set of a Kafka cluster's topics,
// send a GET request to `/v2/databases/$DATABASE_ID/topics/$TOPIC_NAME`.
//
// The result will be a JSON object with a `topic` key.
func (c *Client) GetKafkaTopic(
	ctx context.Context,
	request *godonext.DatabasesGetKafkaTopicRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesGetKafkaTopicResponse, error) {
	response, err := c.WithRawResponse.GetKafkaTopic(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update a topic attached to a Kafka cluster, send a PUT request to
// `/v2/databases/$DATABASE_ID/topics/$TOPIC_NAME`.
//
// The result will be a JSON object with a `topic` key.
func (c *Client) UpdateKafkaTopic(
	ctx context.Context,
	request *godonext.KafkaTopicUpdate,
	opts ...option.RequestOption,
) (*godonext.DatabasesUpdateKafkaTopicResponse, error) {
	response, err := c.WithRawResponse.UpdateKafkaTopic(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a single topic within a Kafka cluster, send a DELETE request
// to `/v2/databases/$DATABASE_ID/topics/$TOPIC_NAME`.
//
// A status of 204 will be given. This indicates that the request was
// processed successfully, but that no response body is needed.
func (c *Client) DeleteKafkaTopic(
	ctx context.Context,
	request *godonext.DatabasesDeleteKafkaTopicRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteKafkaTopic(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To list logsinks for a database cluster, send a GET request to
// `/v2/databases/$DATABASE_ID/logsink`.
func (c *Client) ListLogsink(
	ctx context.Context,
	request *godonext.DatabasesListLogsinkRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesListLogsinkResponse, error) {
	response, err := c.WithRawResponse.ListLogsink(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create logsink for a database cluster, send a POST request to
// `/v2/databases/$DATABASE_ID/logsink`.
func (c *Client) CreateLogsink(
	ctx context.Context,
	request *godonext.LogsinkCreate,
	opts ...option.RequestOption,
) (*godonext.DatabasesCreateLogsinkResponse, error) {
	response, err := c.WithRawResponse.CreateLogsink(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get a logsink for a database cluster, send a GET request to
// `/v2/databases/$DATABASE_ID/logsink/$LOGSINK_ID`.
func (c *Client) GetLogsink(
	ctx context.Context,
	request *godonext.DatabasesGetLogsinkRequest,
	opts ...option.RequestOption,
) (godonext.LogsinkSchema, error) {
	response, err := c.WithRawResponse.GetLogsink(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update a logsink for a database cluster, send a PUT request to
// `/v2/databases/$DATABASE_ID/logsink/$LOGSINK_ID`.
func (c *Client) UpdateLogsink(
	ctx context.Context,
	request *godonext.LogsinkUpdate,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.UpdateLogsink(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To delete a logsink for a database cluster, send a DELETE request to
// `/v2/databases/$DATABASE_ID/logsink/$LOGSINK_ID`.
func (c *Client) DeleteLogsink(
	ctx context.Context,
	request *godonext.DatabasesDeleteLogsinkRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteLogsink(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To list all schemas for a Kafka cluster, send a GET request to
// `/v2/databases/$DATABASE_ID/schema-registry`.
func (c *Client) ListKafkaSchemas(
	ctx context.Context,
	request *godonext.DatabasesListKafkaSchemasRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesListKafkaSchemasResponse, error) {
	response, err := c.WithRawResponse.ListKafkaSchemas(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a Kafka schema for a database cluster, send a POST request to
// `/v2/databases/$DATABASE_ID/schema-registry`.
func (c *Client) CreateKafkaSchema(
	ctx context.Context,
	request *godonext.DatabaseKafkaSchemaCreate,
	opts ...option.RequestOption,
) (*godonext.KafkaSchemaVerbose, error) {
	response, err := c.WithRawResponse.CreateKafkaSchema(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get a specific schema by subject name for a Kafka cluster, send a GET request to
// `/v2/databases/$DATABASE_ID/schema-registry/$SUBJECT_NAME`.
func (c *Client) GetKafkaSchema(
	ctx context.Context,
	request *godonext.DatabasesGetKafkaSchemaRequest,
	opts ...option.RequestOption,
) (*godonext.KafkaSchemaVersionVerbose, error) {
	response, err := c.WithRawResponse.GetKafkaSchema(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a specific schema by subject name for a Kafka cluster, send a DELETE request to
// `/v2/databases/$DATABASE_ID/schema-registry/$SUBJECT_NAME`.
func (c *Client) DeleteKafkaSchema(
	ctx context.Context,
	request *godonext.DatabasesDeleteKafkaSchemaRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteKafkaSchema(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To get a specific schema by subject name for a Kafka cluster, send a GET request to
// `/v2/databases/$DATABASE_ID/schema-registry/$SUBJECT_NAME/versions/$VERSION`.
func (c *Client) GetKafkaSchemaVersion(
	ctx context.Context,
	request *godonext.DatabasesGetKafkaSchemaVersionRequest,
	opts ...option.RequestOption,
) (*godonext.KafkaSchemaVersionVerbose, error) {
	response, err := c.WithRawResponse.GetKafkaSchemaVersion(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve the Schema Registry configuration for a Kafka cluster, send a GET request to
// `/v2/databases/$DATABASE_ID/schema-registry/config`.
// The response is a JSON object with a `compatibility_level` key, which is set to an object
// containing any database configuration parameters.
func (c *Client) GetKafkaSchemaConfig(
	ctx context.Context,
	request *godonext.DatabasesGetKafkaSchemaConfigRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesGetKafkaSchemaConfigResponse, error) {
	response, err := c.WithRawResponse.GetKafkaSchemaConfig(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update the Schema Registry configuration for a Kafka cluster, send a PUT request to
// `/v2/databases/$DATABASE_ID/schema-registry/config`.
// The response is a JSON object with a `compatibility_level` key, which is set to an object
// containing any database configuration parameters.
func (c *Client) UpdateKafkaSchemaConfig(
	ctx context.Context,
	request *godonext.DatabasesUpdateKafkaSchemaConfigRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesUpdateKafkaSchemaConfigResponse, error) {
	response, err := c.WithRawResponse.UpdateKafkaSchemaConfig(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve the Schema Registry configuration for a Subject of a Kafka cluster, send a GET request to
// `/v2/databases/$DATABASE_ID/schema-registry/config/$SUBJECT_NAME`.
// The response is a JSON object with a `compatibility_level` key, which is set to an object
// containing any database configuration parameters.
func (c *Client) GetKafkaSchemaSubjectConfig(
	ctx context.Context,
	request *godonext.DatabasesGetKafkaSchemaSubjectConfigRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesGetKafkaSchemaSubjectConfigResponse, error) {
	response, err := c.WithRawResponse.GetKafkaSchemaSubjectConfig(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update the Schema Registry configuration for a Subject of a Kafka cluster, send a PUT request to
// `/v2/databases/$DATABASE_ID/schema-registry/config/$SUBJECT_NAME`.
// The response is a JSON object with a `compatibility_level` key, which is set to an object
// containing any database configuration parameters.
func (c *Client) UpdateKafkaSchemaSubjectConfig(
	ctx context.Context,
	request *godonext.DatabasesUpdateKafkaSchemaSubjectConfigRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesUpdateKafkaSchemaSubjectConfigResponse, error) {
	response, err := c.WithRawResponse.UpdateKafkaSchemaSubjectConfig(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show the credentials for all database clusters' metrics endpoints, send a GET request to `/v2/databases/metrics/credentials`. The result will be a JSON object with a `credentials` key.
func (c *Client) GetClusterMetricsCredentials(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.DatabasesGetClusterMetricsCredentialsResponse, error) {
	response, err := c.WithRawResponse.GetClusterMetricsCredentials(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update the credentials for all database clusters' metrics endpoints, send a PUT request to `/v2/databases/metrics/credentials`. A successful request will receive a 204 No Content status code  with no body in response.
func (c *Client) UpdateClusterMetricsCredentials(
	ctx context.Context,
	request *godonext.DatabaseMetricsCredentials,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.UpdateClusterMetricsCredentials(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To list all of a OpenSearch cluster's indexes, send a GET request to
// `/v2/databases/$DATABASE_ID/indexes`.
//
// The result will be a JSON object with a `indexes` key.
func (c *Client) ListOpeasearchIndexes(
	ctx context.Context,
	request *godonext.DatabasesListOpeasearchIndexesRequest,
	opts ...option.RequestOption,
) (*godonext.DatabasesListOpeasearchIndexesResponse, error) {
	response, err := c.WithRawResponse.ListOpeasearchIndexes(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a single index within OpenSearch cluster, send a DELETE request
// to `/v2/databases/$DATABASE_ID/indexes/$INDEX_NAME`.
//
// A status of 204 will be given. This indicates that the request was
// processed successfully, but that no response body is needed.
func (c *Client) DeleteOpensearchIndex(
	ctx context.Context,
	request *godonext.DatabasesDeleteOpensearchIndexRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteOpensearchIndex(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
