// Code generated by Fern. DO NOT EDIT.

package account

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To show information about the current user account, send a GET request to `/v2/account`.
// The response includes the user's UUID, email, team membership, droplet/ volume/floating-IP quotas, and verification status. Authentication is required — a 401 response means the supplied bearer token is invalid or has been revoked.
func (c *Client) Get(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.AccountGetResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
