// Code generated by Fern. DO NOT EDIT.

package addons

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To fetch details of all available Add-On Applications, send a GET request to `/v2/add-ons/apps`.
func (c *Client) AddonsGetApp(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.AddonsGetAppResponse, error) {
	response, err := c.WithRawResponse.AddonsGetApp(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To find out what metadata is required for a specific add-on, send a GET request to `/v2/add-ons/apps/{app_slug}/metadata`.
// Metadata varies by application.
func (c *Client) AddonsGetAppMetadata(
	ctx context.Context,
	request *godonext.AddonsGetAppMetadataRequest,
	opts ...option.RequestOption,
) (*godonext.AddonsGetAppMetadataResponse, error) {
	response, err := c.WithRawResponse.AddonsGetAppMetadata(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To fetch all Add-On Resources under your team, send a GET request to `/v2/add-ons/saas`.
func (c *Client) AddonsList(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.AddonsListResponse, error) {
	response, err := c.WithRawResponse.AddonsList(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create an add-on resource, send a POST request to `/v2/add-ons/saas` with required parameters.
// Some add-ons require additional metadata to be provided in the request body. To find out
// what metadata is required for a specific add-on, send a GET request to `/v2/add-ons/apps/{app_slug}/metadata`.
func (c *Client) AddonsCreate(
	ctx context.Context,
	request *godonext.AddonsResourceNew,
	opts ...option.RequestOption,
) (*godonext.AddonsCreateResponse, error) {
	response, err := c.WithRawResponse.AddonsCreate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To fetch details of a specific Add-On Resource, send a GET request to `/v2/add-ons/saas/{resource_uuid}`.
// Replace `{resource_uuid}` with the UUID of the resource you want to retrieve.
func (c *Client) AddonsGet(
	ctx context.Context,
	request *godonext.AddonsGetRequest,
	opts ...option.RequestOption,
) (*godonext.AddonsGetResponse, error) {
	response, err := c.WithRawResponse.AddonsGet(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete an add-on resource, send a DELETE request to `/v2/add-ons/saas/{resource_uuid}` with the UUID of the resource to delete.
// You cannot retrieve the resource after it has been deleted. The response indicates a request was sent to the 3rd party add-on provider to delete the resource.
// You will no longer be billed for this resource.
func (c *Client) AddonsDelete(
	ctx context.Context,
	request *godonext.AddonsDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.AddonsDelete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To change the name of an Add-On Resource, send a PATCH request to `/v2/add-ons/saas/{resource_uuid}`.
// Replace `{resource_uuid}` with the UUID of the resource for which you want to change the name.
func (c *Client) AddonsPatch(
	ctx context.Context,
	request *godonext.AddonsPatchRequest,
	opts ...option.RequestOption,
) (*godonext.AddonsPatchResponse, error) {
	response, err := c.WithRawResponse.AddonsPatch(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To change the plan associated with an Add-On Resource, send a PATCH request to `/v2/add-ons/saas/{resource_uuid}/plan`.
// Replace `{resource_uuid}` with the UUID of the resource for which you want to change the plan.
func (c *Client) AddonsPatchPlan(
	ctx context.Context,
	request *godonext.AddonsPatchPlanRequest,
	opts ...option.RequestOption,
) (*godonext.AddonsPatchPlanResponse, error) {
	response, err := c.WithRawResponse.AddonsPatchPlan(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
