// Code generated by Fern. DO NOT EDIT.

package uptime

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all of the Uptime checks on your account, send a GET request to `/v2/uptime/checks`.
func (c *Client) ListChecks(
	ctx context.Context,
	request *godonext.UptimeListChecksRequest,
	opts ...option.RequestOption,
) (*godonext.UptimeListChecksResponse, error) {
	response, err := c.WithRawResponse.ListChecks(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create an Uptime check, send a POST request to `/v2/uptime/checks` specifying the attributes
// in the table below in the JSON body.
func (c *Client) CreateCheck(
	ctx context.Context,
	request *godonext.CheckUpdatable,
	opts ...option.RequestOption,
) (*godonext.UptimeCreateCheckResponse, error) {
	response, err := c.WithRawResponse.CreateCheck(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about an existing check, send a GET request to `/v2/uptime/checks/$CHECK_ID`.
func (c *Client) GetCheck(
	ctx context.Context,
	request *godonext.UptimeGetCheckRequest,
	opts ...option.RequestOption,
) (*godonext.UptimeGetCheckResponse, error) {
	response, err := c.WithRawResponse.GetCheck(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update the settings of an Uptime check, send a PUT request to `/v2/uptime/checks/$CHECK_ID`.
func (c *Client) UpdateCheck(
	ctx context.Context,
	request *godonext.UptimeUpdateCheckRequest,
	opts ...option.RequestOption,
) (*godonext.UptimeUpdateCheckResponse, error) {
	response, err := c.WithRawResponse.UpdateCheck(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete an Uptime check, send a DELETE request to `/v2/uptime/checks/$CHECK_ID`. A 204 status
// code with no body will be returned in response to a successful request.
//
// Deleting a check will also delete alerts associated with the check.
func (c *Client) DeleteCheck(
	ctx context.Context,
	request *godonext.UptimeDeleteCheckRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteCheck(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To show information about an existing check's state, send a GET request to `/v2/uptime/checks/$CHECK_ID/state`.
func (c *Client) GetCheckstate(
	ctx context.Context,
	request *godonext.UptimeGetCheckStateRequest,
	opts ...option.RequestOption,
) (*godonext.UptimeGetCheckStateResponse, error) {
	response, err := c.WithRawResponse.GetCheckstate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all of the alerts for an Uptime check, send a GET request to `/v2/uptime/checks/$CHECK_ID/alerts`.
func (c *Client) ListAlerts(
	ctx context.Context,
	request *godonext.UptimeListAlertsRequest,
	opts ...option.RequestOption,
) (*godonext.UptimeListAlertsResponse, error) {
	response, err := c.WithRawResponse.ListAlerts(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create an Uptime alert, send a POST request to `/v2/uptime/checks/$CHECK_ID/alerts` specifying the attributes
// in the table below in the JSON body.
func (c *Client) CreateAlert(
	ctx context.Context,
	request *godonext.UptimeCreateAlertRequest,
	opts ...option.RequestOption,
) (*godonext.UptimeCreateAlertResponse, error) {
	response, err := c.WithRawResponse.CreateAlert(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about an existing alert, send a GET request to `/v2/uptime/checks/$CHECK_ID/alerts/$ALERT_ID`.
func (c *Client) GetAlert(
	ctx context.Context,
	request *godonext.UptimeGetAlertRequest,
	opts ...option.RequestOption,
) (*godonext.UptimeGetAlertResponse, error) {
	response, err := c.WithRawResponse.GetAlert(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update the settings of an Uptime alert, send a PUT request to `/v2/uptime/checks/$CHECK_ID/alerts/$ALERT_ID`.
func (c *Client) UpdateAlert(
	ctx context.Context,
	request *godonext.UptimeUpdateAlertRequest,
	opts ...option.RequestOption,
) (*godonext.UptimeUpdateAlertResponse, error) {
	response, err := c.WithRawResponse.UpdateAlert(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete an Uptime alert, send a DELETE request to `/v2/uptime/checks/$CHECK_ID/alerts/$ALERT_ID`. A 204 status
// code with no body will be returned in response to a successful request.
func (c *Client) DeleteAlert(
	ctx context.Context,
	request *godonext.UptimeDeleteAlertRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteAlert(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
