// Code generated by Fern. DO NOT EDIT.

package snapshots

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all of the snapshots available on your account, send a GET request to
// `/v2/snapshots`.
//
// The response will be a JSON object with a key called `snapshots`. This will be
// set to an array of `snapshot` objects, each of which will contain the standard
// snapshot attributes.
//
// ### Filtering Results by Resource Type
//
// It's possible to request filtered results by including certain query parameters.
//
// #### List Droplet Snapshots
//
// To retrieve only snapshots based on Droplets, include the `resource_type`
// query parameter set to `droplet`. For example, `/v2/snapshots?resource_type=droplet`.
//
// #### List Volume Snapshots
//
// To retrieve only snapshots based on volumes, include the `resource_type`
// query parameter set to `volume`. For example, `/v2/snapshots?resource_type=volume`.
func (c *Client) List(
	ctx context.Context,
	request *godonext.SnapshotsListRequest,
	opts ...option.RequestOption,
) (*godonext.SnapshotsListResponse, error) {
	response, err := c.WithRawResponse.List(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve information about a snapshot, send a GET request to
// `/v2/snapshots/$SNAPSHOT_ID`.
//
// The response will be a JSON object with a key called `snapshot`. The value of
// this will be an snapshot object containing the standard snapshot attributes.
func (c *Client) Get(
	ctx context.Context,
	request *godonext.SnapshotsGetRequest,
	opts ...option.RequestOption,
) (*godonext.SnapshotsGetResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Both Droplet and volume snapshots are managed through the `/v2/snapshots/`
// endpoint. To delete a snapshot, send a DELETE request to
// `/v2/snapshots/$SNAPSHOT_ID`.
//
// A status of 204 will be given. This indicates that the request was processed
// successfully, but that no response body is needed.
func (c *Client) Delete(
	ctx context.Context,
	request *godonext.SnapshotsDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
