// Code generated by Fern. DO NOT EDIT.

package blockstorageactions

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To initiate an action on a block storage volume by Name, send a POST request to
// `~/v2/volumes/actions`. The body should contain the appropriate
// attributes for the respective action.
//
// ## Attach a Block Storage Volume to a Droplet
//
// | Attribute   | Details                                                             |
// | ----------- | ------------------------------------------------------------------- |
// | type        | This must be `attach`                                               |
// | volume_name | The name of the block storage volume                                |
// | droplet_id  | Set to the Droplet's ID                                             |
// | region      | Set to the slug representing the region where the volume is located |
//
// Each volume may only be attached to a single Droplet. However, up to fifteen
// volumes may be attached to a Droplet at a time. Pre-formatted volumes will be
// automatically mounted to Ubuntu, Debian, Fedora, Fedora Atomic, and CentOS
// Droplets created on or after April 26, 2018 when attached. On older Droplets,
// [additional configuration](https://docs.digitalocean.com/products/volumes/how-to/mount/)
// is required.
//
// ## Remove a Block Storage Volume from a Droplet
//
// | Attribute   | Details                                                             |
// | ----------- | ------------------------------------------------------------------- |
// | type        | This must be `detach`                                               |
// | volume_name | The name of the block storage volume                                |
// | droplet_id  | Set to the Droplet's ID                                             |
// | region      | Set to the slug representing the region where the volume is located |
func (c *Client) VolumeActionsPost(
	ctx context.Context,
	request *godonext.VolumeActionsPostRequest,
	opts ...option.RequestOption,
) (*godonext.VolumeActionsPostResponse, error) {
	response, err := c.WithRawResponse.VolumeActionsPost(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve all actions that have been executed on a volume, send a GET request to `/v2/volumes/$VOLUME_ID/actions`.
func (c *Client) VolumeActionsList(
	ctx context.Context,
	request *godonext.VolumeActionsListRequest,
	opts ...option.RequestOption,
) (*godonext.VolumeActionsListResponse, error) {
	response, err := c.WithRawResponse.VolumeActionsList(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To initiate an action on a block storage volume by Id, send a POST request to
// `~/v2/volumes/$VOLUME_ID/actions`. The body should contain the appropriate
// attributes for the respective action.
//
// ## Attach a Block Storage Volume to a Droplet
//
// | Attribute  | Details                                                             |
// | ---------- | ------------------------------------------------------------------- |
// | type       | This must be `attach`                                               |
// | droplet_id | Set to the Droplet's ID                                             |
// | region     | Set to the slug representing the region where the volume is located |
//
// Each volume may only be attached to a single Droplet. However, up to fifteen
// volumes may be attached to a Droplet at a time. Pre-formatted volumes will be
// automatically mounted to Ubuntu, Debian, Fedora, Fedora Atomic, and CentOS
// Droplets created on or after April 26, 2018 when attached. On older Droplets,
// [additional configuration](https://docs.digitalocean.com/products/volumes/how-to/mount/)
// is required.
//
// ## Remove a Block Storage Volume from a Droplet
//
// | Attribute  | Details                                                             |
// | ---------- | ------------------------------------------------------------------- |
// | type       | This must be `detach`                                               |
// | droplet_id | Set to the Droplet's ID                                             |
// | region     | Set to the slug representing the region where the volume is located |
//
// ## Resize a Volume
//
// | Attribute      | Details                                                             |
// | -------------- | ------------------------------------------------------------------- |
// | type           | This must be `resize`                                               |
// | size_gigabytes | The new size of the block storage volume in GiB (1024^3)            |
// | region         | Set to the slug representing the region where the volume is located |
//
// Volumes may only be resized upwards. The maximum size for a volume is 16TiB.
func (c *Client) VolumeActionsPostByID(
	ctx context.Context,
	request *godonext.VolumeActionsPostByIDRequest,
	opts ...option.RequestOption,
) (*godonext.VolumeActionsPostByIDResponse, error) {
	response, err := c.WithRawResponse.VolumeActionsPostByID(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve the status of a volume action, send a GET request to `/v2/volumes/$VOLUME_ID/actions/$ACTION_ID`.
func (c *Client) VolumeActionsGet(
	ctx context.Context,
	request *godonext.VolumeActionsGetRequest,
	opts ...option.RequestOption,
) (*godonext.VolumeActionsGetResponse, error) {
	response, err := c.WithRawResponse.VolumeActionsGet(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
