// Code generated by Fern. DO NOT EDIT.

package billing

import (
	context "context"
	io "io"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To retrieve the balances on a customer's account, send a GET request to `/v2/customers/my/balance`.
func (c *Client) BalanceGet(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.Balance, error) {
	response, err := c.WithRawResponse.BalanceGet(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve a list of all billing history entries, send a GET request to `/v2/customers/my/billing_history`.
func (c *Client) BillingHistoryList(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.BillingHistoryListResponse, error) {
	response, err := c.WithRawResponse.BillingHistoryList(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve a list of all invoices, send a GET request to `/v2/customers/my/invoices`.
func (c *Client) InvoicesList(
	ctx context.Context,
	request *godonext.InvoicesListRequest,
	opts ...option.RequestOption,
) (*godonext.InvoicesListResponse, error) {
	response, err := c.WithRawResponse.InvoicesList(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve the invoice items for an invoice, send a GET request to `/v2/customers/my/invoices/$INVOICE_UUID`.
func (c *Client) InvoicesGetByUUID(
	ctx context.Context,
	request *godonext.InvoicesGetByUUIDRequest,
	opts ...option.RequestOption,
) (*godonext.InvoicesGetByUUIDResponse, error) {
	response, err := c.WithRawResponse.InvoicesGetByUUID(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve a CSV for an invoice, send a GET request to `/v2/customers/my/invoices/$INVOICE_UUID/csv`.
func (c *Client) InvoicesGetCsvByUUID(
	ctx context.Context,
	request *godonext.InvoicesGetCsvByUUIDRequest,
	opts ...option.RequestOption,
) (string, error) {
	response, err := c.WithRawResponse.InvoicesGetCsvByUUID(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return "", err
	}
	return response.Body, nil
}

// To retrieve a PDF for an invoice, send a GET request to `/v2/customers/my/invoices/$INVOICE_UUID/pdf`.
func (c *Client) InvoicesGetPdfByUUID(
	ctx context.Context,
	request *godonext.InvoicesGetPdfByUUIDRequest,
	opts ...option.RequestOption,
) (io.Reader, error) {
	response, err := c.WithRawResponse.InvoicesGetPdfByUUID(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve a summary for an invoice, send a GET request to `/v2/customers/my/invoices/$INVOICE_UUID/summary`.
func (c *Client) InvoicesGetSummaryByUUID(
	ctx context.Context,
	request *godonext.InvoicesGetSummaryByUUIDRequest,
	opts ...option.RequestOption,
) (*godonext.InvoiceSummary, error) {
	response, err := c.WithRawResponse.InvoicesGetSummaryByUUID(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// This endpoint returns day-over-day changes in billing resource usage based on nightly invoice items, including total amount, region, SKU, and description for a specified date range. It is important to note that the daily resource usage may not reflect month-end billing totals when totaled for a given month as nightly invoice item estimates do not necessarily encompass all invoicing factors for the entire month.
func (c *Client) BillingInsightsList(
	ctx context.Context,
	request *godonext.BillingInsightsListRequest,
	opts ...option.RequestOption,
) (*godonext.BillingInsightsListResponse, error) {
	response, err := c.WithRawResponse.BillingInsightsList(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
