// Code generated by Fern. DO NOT EDIT.

package dropletautoscalepools

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all autoscale pools in your team, send a GET request to `/v2/droplets/autoscale`.
// The response body will be a JSON object with a key of `autoscale_pools` containing an array of autoscale pool objects.
// These each contain the standard autoscale pool attributes.
func (c *Client) AutoscalepoolsList(
	ctx context.Context,
	request *godonext.AutoscalepoolsListRequest,
	opts ...option.RequestOption,
) (*godonext.AutoscalepoolsListResponse, error) {
	response, err := c.WithRawResponse.AutoscalepoolsList(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a new autoscale pool, send a POST request to `/v2/droplets/autoscale` setting the required attributes.
//
// The response body will contain a JSON object with a key called `autoscale_pool` containing the standard attributes for the new autoscale pool.
func (c *Client) AutoscalepoolsCreate(
	ctx context.Context,
	request *godonext.AutoscalePoolCreate,
	opts ...option.RequestOption,
) (*godonext.AutoscalepoolsCreateResponse, error) {
	response, err := c.WithRawResponse.AutoscalepoolsCreate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about an individual autoscale pool, send a GET request to
// `/v2/droplets/autoscale/$AUTOSCALE_POOL_ID`.
func (c *Client) AutoscalepoolsGet(
	ctx context.Context,
	request *godonext.AutoscalepoolsGetRequest,
	opts ...option.RequestOption,
) (*godonext.AutoscalepoolsGetResponse, error) {
	response, err := c.WithRawResponse.AutoscalepoolsGet(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update the configuration of an existing autoscale pool, send a PUT request to
// `/v2/droplets/autoscale/$AUTOSCALE_POOL_ID`. The request must contain a full representation
// of the autoscale pool including existing attributes.
func (c *Client) AutoscalepoolsUpdate(
	ctx context.Context,
	request *godonext.AutoscalepoolsUpdateRequest,
	opts ...option.RequestOption,
) (*godonext.AutoscalepoolsUpdateResponse, error) {
	response, err := c.WithRawResponse.AutoscalepoolsUpdate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To destroy an autoscale pool, send a DELETE request to the `/v2/droplets/autoscale/$AUTOSCALE_POOL_ID` endpoint.
//
// A successful response will include a 202 response code and no content.
func (c *Client) AutoscalepoolsDelete(
	ctx context.Context,
	request *godonext.AutoscalepoolsDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.AutoscalepoolsDelete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To destroy an autoscale pool and its associated resources (Droplets),
// send a DELETE request to the `/v2/droplets/autoscale/$AUTOSCALE_POOL_ID/dangerous` endpoint.
func (c *Client) AutoscalepoolsDeleteDangerous(
	ctx context.Context,
	request *godonext.AutoscalepoolsDeleteDangerousRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.AutoscalepoolsDeleteDangerous(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To list the Droplets in an autoscale pool, send a GET request to `/v2/droplets/autoscale/$AUTOSCALE_POOL_ID/members`.
//
// The response body will be a JSON object with a key of `droplets`. This will be
// set to an array containing information about each of the Droplets in the autoscale pool.
func (c *Client) AutoscalepoolsListMembers(
	ctx context.Context,
	request *godonext.AutoscalepoolsListMembersRequest,
	opts ...option.RequestOption,
) (*godonext.AutoscalepoolsListMembersResponse, error) {
	response, err := c.WithRawResponse.AutoscalepoolsListMembers(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all of the scaling history events of an autoscale pool, send a GET request to `/v2/droplets/autoscale/$AUTOSCALE_POOL_ID/history`.
//
// The response body will be a JSON object with a key of `history`. This will be
// set to an array containing objects each representing a history event.
func (c *Client) AutoscalepoolsListHistory(
	ctx context.Context,
	request *godonext.AutoscalepoolsListHistoryRequest,
	opts ...option.RequestOption,
) (*godonext.AutoscalepoolsListHistoryResponse, error) {
	response, err := c.WithRawResponse.AutoscalepoolsListHistory(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
