// Code generated by Fern. DO NOT EDIT.

package projectresources

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all your resources in a project, send a GET request to `/v2/projects/$PROJECT_ID/resources`.
//
// This endpoint will only return resources that you are authorized to see. For example, to see Droplets in a project, include the `droplet:read` scope.
func (c *Client) ProjectsListResources(
	ctx context.Context,
	request *godonext.ProjectsListResourcesRequest,
	opts ...option.RequestOption,
) (*godonext.ProjectsListResourcesResponse, error) {
	response, err := c.WithRawResponse.ProjectsListResources(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To assign resources to a project, send a POST request to `/v2/projects/$PROJECT_ID/resources`.
//
// You must have both `project:update` and `<resource>:read` scopes to assign new resources. For example, to assign a Droplet to a project, include both the `project:update` and `droplet:read` scopes.
func (c *Client) ProjectsAssignResources(
	ctx context.Context,
	request *godonext.ProjectsAssignResourcesRequest,
	opts ...option.RequestOption,
) (*godonext.ProjectsAssignResourcesResponse, error) {
	response, err := c.WithRawResponse.ProjectsAssignResources(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all your resources in your default project, send a GET request to `/v2/projects/default/resources`.
//
// Only resources that you are authorized to see will be returned. For example, to see Droplets in a project, include the `droplet:read` scope.
func (c *Client) ProjectsListResourcesDefault(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.ProjectsListResourcesDefaultResponse, error) {
	response, err := c.WithRawResponse.ProjectsListResourcesDefault(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To assign resources to your default project, send a POST request to `/v2/projects/default/resources`.
//
// You must have both project:update and <resource>:read scopes to assign new resources. For example, to assign a Droplet to the default project, include both the `project:update` and `droplet:read` scopes.
func (c *Client) ProjectsAssignResourcesDefault(
	ctx context.Context,
	request *godonext.ProjectAssignment,
	opts ...option.RequestOption,
) (*godonext.ProjectsAssignResourcesDefaultResponse, error) {
	response, err := c.WithRawResponse.ProjectsAssignResourcesDefault(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
