// Code generated by Fern. DO NOT EDIT.

package images

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all of the images available on your account, send a GET request to /v2/images.
//
// ## Filtering Results
// -----
//
// It's possible to request filtered results by including certain query parameters.
//
// **Image Type**
//
// Either 1-Click Application or OS Distribution images can be filtered by using the `type` query parameter.
//
// > Important: The `type` query parameter does not directly relate to the `type` attribute.
//
// To retrieve only ***distribution*** images, include the `type` query parameter set to distribution, `/v2/images?type=distribution`.
//
// To retrieve only ***application*** images, include the `type` query parameter set to application, `/v2/images?type=application`.
//
// **User Images**
//
// To retrieve only the private images of a user, include the `private` query parameter set to true, `/v2/images?private=true`.
//
// **Tags**
//
// To list all images assigned to a specific tag, include the `tag_name` query parameter set to the name of the tag in your GET request. For example, `/v2/images?tag_name=$TAG_NAME`.
func (c *Client) List(
	ctx context.Context,
	request *godonext.ImagesListRequest,
	opts ...option.RequestOption,
) (*godonext.ImagesListResponse, error) {
	response, err := c.WithRawResponse.List(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a new custom image, send a POST request to /v2/images.
// The body must contain a url attribute pointing to a Linux virtual machine
// image to be imported into DigitalOcean.
// The image must be in the raw, qcow2, vhdx, vdi, or vmdk format.
// It may be compressed using gzip or bzip2 and must be smaller than 100 GB after
//
//	being decompressed.
func (c *Client) CreateCustom(
	ctx context.Context,
	request *godonext.ImageNewCustom,
	opts ...option.RequestOption,
) (*godonext.ImagesCreateCustomResponse, error) {
	response, err := c.WithRawResponse.CreateCustom(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve information about an image, send a `GET` request to
// `/v2/images/$IDENTIFIER`.
func (c *Client) Get(
	ctx context.Context,
	request *godonext.ImagesGetRequest,
	opts ...option.RequestOption,
) (*godonext.ImagesGetResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update an image, send a `PUT` request to `/v2/images/$IMAGE_ID`.
// Set the `name` attribute to the new value you would like to use.
// For custom images, the `description` and `distribution` attributes may also be updated.
func (c *Client) Update(
	ctx context.Context,
	request *godonext.ImagesUpdateRequest,
	opts ...option.RequestOption,
) (*godonext.ImagesUpdateResponse, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a snapshot or custom image, send a `DELETE` request to `/v2/images/$IMAGE_ID`.
func (c *Client) Delete(
	ctx context.Context,
	request *godonext.ImagesDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To initiate an account transfer for an image, send a POST request to
// `/v2/images/$IMAGE_ID/account_transfer`.
//
// Only snapshot images may be transferred by this endpoint to another account.
//
// An image account transfer always has exactly one recipient, specified in the request body.
// The recipient can be one of the following:
//
// * A DigitalOcean account, denoted by `recipient_email` in the request body.
// The recipient will receive an email with instructions to accept the transfer.
// Once the recipient accepts the transfer, the image will be moved to their
// account.
//
// * A DigitalOcean team, denoted by `recipient_uuid` in the request body. If the
// user has sufficient permissions in the recipient team, the transfer will be
// automatically accepted and the image will be moved to the recipient team's
// account. Otherwise, the transfer will be pending until a user with sufficient
// permissions in the recipient team accepts the transfer.
func (c *Client) PostAccountTransferCreate(
	ctx context.Context,
	request *godonext.ImagesPostAccountTransferCreateRequest,
	opts ...option.RequestOption,
) (*godonext.ImagesPostAccountTransferCreateResponse, error) {
	response, err := c.WithRawResponse.PostAccountTransferCreate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To accept an account transfer for an image, send a POST request to
// `/v2/images/$IMAGE_ID/account_transfer/accept`.
func (c *Client) PostAccountTransferAccept(
	ctx context.Context,
	request *godonext.ImagesPostAccountTransferAccept,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.PostAccountTransferAccept(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To cancel an account transfer for an image, send a POST request to
// `/v2/images/$IMAGE_ID/account_transfer/cancel`.
//
// Only the sender of an image account transfer can cancel the transfer.
// If the transfer is canceled, the image will remain in the sender's account
// and will not be transferred to the recipient.
func (c *Client) PostAccountTransferCancel(
	ctx context.Context,
	request *godonext.ImagesPostAccountTransferCancel,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.PostAccountTransferCancel(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To decline an account transfer for an image, send a POST request to
// `/v2/images/$IMAGE_ID/account_transfer/decline`.
//
// Only the recipient of an image account transfer can decline the transfer.
// If the transfer is declined, the image will remain in the sender's account
// and will not be transferred to the recipient.
func (c *Client) PostAccountTransferDecline(
	ctx context.Context,
	request *godonext.ImagesPostAccountTransferDecline,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.PostAccountTransferDecline(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
