// Code generated by Fern. DO NOT EDIT.

package vpcpeerings

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all of the VPC peerings on your account, send a GET request to `/v2/vpc_peerings`.
func (c *Client) VpcPeeringsList(
	ctx context.Context,
	request *godonext.VpcPeeringsListRequest,
	opts ...option.RequestOption,
) (*godonext.VpcPeeringsListResponse, error) {
	response, err := c.WithRawResponse.VpcPeeringsList(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a new VPC Peering, send a POST request to `/v2/vpc_peerings`
// specifying a name and a list of two VPC IDs to peer. The response code, 202
// Accepted, does not indicate the success or failure of the operation, just
// that the request has been accepted for processing.
func (c *Client) VpcPeeringsCreate(
	ctx context.Context,
	request *godonext.VpcPeeringsCreateRequest,
	opts ...option.RequestOption,
) (*godonext.VpcPeeringsCreateResponse, error) {
	response, err := c.WithRawResponse.VpcPeeringsCreate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about an existing VPC Peering, send a GET request to `/v2/vpc_peerings/$VPC_PEERING_ID`.
func (c *Client) VpcPeeringsGet(
	ctx context.Context,
	request *godonext.VpcPeeringsGetRequest,
	opts ...option.RequestOption,
) (*godonext.VpcPeeringsGetResponse, error) {
	response, err := c.WithRawResponse.VpcPeeringsGet(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a VPC peering, send a DELETE request to `/v2/vpc_peerings/$VPC_PEERING_ID`.
func (c *Client) VpcPeeringsDelete(
	ctx context.Context,
	request *godonext.VpcPeeringsDeleteRequest,
	opts ...option.RequestOption,
) (*godonext.VpcPeeringsDeleteResponse, error) {
	response, err := c.WithRawResponse.VpcPeeringsDelete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update the name of a VPC peering, send a PATCH request to `/v2/vpc_peerings/$VPC_PEERING_ID` with the new `name` in the request body.
func (c *Client) VpcPeeringsPatch(
	ctx context.Context,
	request *godonext.VpcPeeringsPatchRequest,
	opts ...option.RequestOption,
) (*godonext.VpcPeeringsPatchResponse, error) {
	response, err := c.WithRawResponse.VpcPeeringsPatch(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
