// Code generated by Fern. DO NOT EDIT.

package kubernetes

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all of the Kubernetes clusters on your account, send a GET request
// to `/v2/kubernetes/clusters`.
func (c *Client) ListClusters(
	ctx context.Context,
	request *godonext.KubernetesListClustersRequest,
	opts ...option.RequestOption,
) (*godonext.KubernetesListClustersResponse, error) {
	response, err := c.WithRawResponse.ListClusters(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a new Kubernetes cluster, send a POST request to
// `/v2/kubernetes/clusters`. The request must contain at least one node pool
// with at least one worker.
//
// The request may contain a maintenance window policy describing a time period
// when disruptive maintenance tasks may be carried out. Omitting the policy
// implies that a window will be chosen automatically. See
// [here](https://docs.digitalocean.com/products/kubernetes/how-to/upgrade-cluster/)
// for details.
func (c *Client) CreateCluster(
	ctx context.Context,
	request *godonext.Cluster,
	opts ...option.RequestOption,
) (*godonext.KubernetesCreateClusterResponse, error) {
	response, err := c.WithRawResponse.CreateCluster(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about an existing Kubernetes cluster, send a GET request
// to `/v2/kubernetes/clusters/$K8S_CLUSTER_ID`.
func (c *Client) GetCluster(
	ctx context.Context,
	request *godonext.KubernetesGetClusterRequest,
	opts ...option.RequestOption,
) (*godonext.KubernetesGetClusterResponse, error) {
	response, err := c.WithRawResponse.GetCluster(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update a Kubernetes cluster, send a PUT request to
// `/v2/kubernetes/clusters/$K8S_CLUSTER_ID` and specify one or more of the
// attributes below.
func (c *Client) UpdateCluster(
	ctx context.Context,
	request *godonext.ClusterUpdate,
	opts ...option.RequestOption,
) (*godonext.KubernetesUpdateClusterResponse, error) {
	response, err := c.WithRawResponse.UpdateCluster(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a Kubernetes cluster and all services deployed to it, send a DELETE
// request to `/v2/kubernetes/clusters/$K8S_CLUSTER_ID`.
//
// A 204 status code with no body will be returned in response to a successful
// request.
func (c *Client) DeleteCluster(
	ctx context.Context,
	request *godonext.KubernetesDeleteClusterRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteCluster(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To list the associated billable resources that can be destroyed along with a cluster, send a GET request to the `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/destroy_with_associated_resources` endpoint.
func (c *Client) ListAssociatedresources(
	ctx context.Context,
	request *godonext.KubernetesListAssociatedResourcesRequest,
	opts ...option.RequestOption,
) (*godonext.AssociatedKubernetesResources, error) {
	response, err := c.WithRawResponse.ListAssociatedresources(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a Kubernetes cluster along with a subset of its associated resources,
// send a DELETE request to `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/destroy_with_associated_resources/selective`.
//
// The JSON body of the request should include `load_balancers`, `volumes`, or
// `volume_snapshots` keys each set to an array of IDs for the associated
// resources to be destroyed.
//
// The IDs can be found by querying the cluster's associated resources endpoint.
// Any associated resource not included in the request will remain and continue
// to accrue changes on your account.
func (c *Client) DestroyAssociatedresourcesselective(
	ctx context.Context,
	request *godonext.DestroyAssociatedKubernetesResources,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DestroyAssociatedresourcesselective(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To delete a Kubernetes cluster with all of its associated resources, send a
// DELETE request to `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/destroy_with_associated_resources/dangerous`.
// A 204 status code with no body will be returned in response to a successful request.
func (c *Client) DestroyAssociatedresourcesdangerous(
	ctx context.Context,
	request *godonext.KubernetesDestroyAssociatedResourcesDangerousRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DestroyAssociatedresourcesdangerous(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// This endpoint returns a kubeconfig file in YAML format. It can be used to
// connect to and administer the cluster using the Kubernetes command line tool,
// `kubectl`, or other programs supporting kubeconfig files (e.g., client libraries).
//
// The resulting kubeconfig file uses token-based authentication for clusters
// supporting it, and certificate-based authentication otherwise. For a list of
// supported versions and more information, see "[How to Connect to a DigitalOcean
// Kubernetes Cluster](https://docs.digitalocean.com/products/kubernetes/how-to/connect-to-cluster/)".
//
// To retrieve a kubeconfig file for use with a Kubernetes cluster, send a GET
// request to `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/kubeconfig`.
//
// Clusters supporting token-based authentication may define an expiration by
// passing a duration in seconds as a query parameter to
// `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/kubeconfig?expiry_seconds=$DURATION_IN_SECONDS`.
// If not set or 0, then the token will have a 7 day expiry. The query parameter
// has no impact for other kubeconfig types.
//
// Using an `sso` kubeconfig type requires `doctl` to be installed to handle the client side
// of the OAuth2 flow.
//
// Kubernetes Roles granted to a user are derived from that user's
// DigitalOcean role. Predefined roles (Owner, Member, Modifier etc.) have an automatic mapping
// to Kubernetes roles. Custom roles are not automatically mapped to any Kubernetes roles,
// and require [additional configuration](https://docs.digitalocean.com/products/kubernetes/how-to/set-up-custom-rolebindings/)
// by a cluster administrator.
func (c *Client) GetKubeconfig(
	ctx context.Context,
	request *godonext.KubernetesGetKubeconfigRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.GetKubeconfig(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// This endpoint returns a JSON object . It can be used to programmatically
// construct Kubernetes clients which cannot parse kubeconfig files.
//
// The resulting JSON object contains token-based authentication for clusters
// supporting it, and certificate-based authentication otherwise. For a list of
// supported versions and more information, see "[How to Connect to a DigitalOcean
// Kubernetes Cluster](https://docs.digitalocean.com/products/kubernetes/how-to/connect-to-cluster/)".
//
// To retrieve credentials for accessing a Kubernetes cluster, send a GET
// request to `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/credentials`.
//
// Clusters supporting token-based authentication may define an expiration by
// passing a duration in seconds as a query parameter to
// `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/credentials?expiry_seconds=$DURATION_IN_SECONDS`.
// If not set or 0, then the token will have a 7 day expiry. The query parameter
// has no impact in certificate-based authentication.
func (c *Client) GetCredentials(
	ctx context.Context,
	request *godonext.KubernetesGetCredentialsRequest,
	opts ...option.RequestOption,
) (*godonext.Credentials, error) {
	response, err := c.WithRawResponse.GetCredentials(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To determine whether a cluster can be upgraded, and the versions to which it
// can be upgraded, send a GET request to
// `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/upgrades`.
func (c *Client) GetAvailableupgrades(
	ctx context.Context,
	request *godonext.KubernetesGetAvailableUpgradesRequest,
	opts ...option.RequestOption,
) (*godonext.KubernetesGetAvailableUpgradesResponse, error) {
	response, err := c.WithRawResponse.GetAvailableupgrades(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To immediately upgrade a Kubernetes cluster to a newer patch release of
// Kubernetes, send a POST request to `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/upgrade`.
// The body of the request must specify a version attribute.
//
// Available upgrade versions for a cluster can be fetched from
// `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/upgrades`.
func (c *Client) UpgradeCluster(
	ctx context.Context,
	request *godonext.KubernetesUpgradeClusterRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.UpgradeCluster(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To list all of the node pools in a Kubernetes clusters, send a GET request to
// `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/node_pools`.
func (c *Client) ListNodepools(
	ctx context.Context,
	request *godonext.KubernetesListNodePoolsRequest,
	opts ...option.RequestOption,
) (*godonext.KubernetesListNodePoolsResponse, error) {
	response, err := c.WithRawResponse.ListNodepools(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To add an additional node pool to a Kubernetes clusters, send a POST request
// to `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/node_pools` with the following
// attributes.
func (c *Client) AddNodepool(
	ctx context.Context,
	request *godonext.KubernetesAddNodePoolRequest,
	opts ...option.RequestOption,
) (*godonext.KubernetesAddNodePoolResponse, error) {
	response, err := c.WithRawResponse.AddNodepool(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about a specific node pool in a Kubernetes cluster, send
// a GET request to `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/node_pools/$NODE_POOL_ID`.
func (c *Client) GetNodepool(
	ctx context.Context,
	request *godonext.KubernetesGetNodePoolRequest,
	opts ...option.RequestOption,
) (*godonext.KubernetesGetNodePoolResponse, error) {
	response, err := c.WithRawResponse.GetNodepool(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update the name of a node pool, edit the tags applied to it, or adjust its
// number of nodes, send a PUT request to
// `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/node_pools/$NODE_POOL_ID` with the
// following attributes.
func (c *Client) UpdateNodepool(
	ctx context.Context,
	request *godonext.KubernetesUpdateNodePoolRequest,
	opts ...option.RequestOption,
) (*godonext.KubernetesUpdateNodePoolResponse, error) {
	response, err := c.WithRawResponse.UpdateNodepool(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a node pool, send a DELETE request to
// `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/node_pools/$NODE_POOL_ID`.
//
// A 204 status code with no body will be returned in response to a successful
// request. Nodes in the pool will subsequently be drained and deleted.
func (c *Client) DeleteNodepool(
	ctx context.Context,
	request *godonext.KubernetesDeleteNodePoolRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteNodepool(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To delete a single node in a pool, send a DELETE request to
// `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/node_pools/$NODE_POOL_ID/nodes/$NODE_ID`.
//
// Appending the `skip_drain=1` query parameter to the request causes node
// draining to be skipped. Omitting the query parameter or setting its value to
// `0` carries out draining prior to deletion.
//
// Appending the `replace=1` query parameter to the request causes the node to
// be replaced by a new one after deletion. Omitting the query parameter or
// setting its value to `0` deletes without replacement.
func (c *Client) DeleteNode(
	ctx context.Context,
	request *godonext.KubernetesDeleteNodeRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteNode(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// The endpoint has been deprecated. Please use the DELETE
// `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/node_pools/$NODE_POOL_ID/nodes/$NODE_ID`
// method instead.
func (c *Client) RecycleNodePool(
	ctx context.Context,
	request *godonext.KubernetesRecycleNodePoolRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.RecycleNodePool(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To show information the user associated with a Kubernetes cluster, send a GET
// request to `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/user`.
func (c *Client) GetClusteruser(
	ctx context.Context,
	request *godonext.KubernetesGetClusterUserRequest,
	opts ...option.RequestOption,
) (*godonext.User, error) {
	response, err := c.WithRawResponse.GetClusteruser(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list the versions of Kubernetes available for use, the regions that support Kubernetes, and the available node sizes, send a GET request to `/v2/kubernetes/options`.
func (c *Client) ListOptions(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.KubernetesOptions, error) {
	response, err := c.WithRawResponse.ListOptions(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To request clusterlint diagnostics for your cluster, send a GET request to
// `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/clusterlint`. If the `run_id` query
// parameter is provided, then the diagnostics for the specific run is fetched.
// By default, the latest results are shown.
//
// To find out how to address clusterlint feedback, please refer to
// [the clusterlint check documentation](https://github.com/digitalocean/clusterlint/blob/master/checks.md).
func (c *Client) GetClusterlintresults(
	ctx context.Context,
	request *godonext.KubernetesGetClusterLintResultsRequest,
	opts ...option.RequestOption,
) (*godonext.ClusterlintResults, error) {
	response, err := c.WithRawResponse.GetClusterlintresults(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Clusterlint helps operators conform to Kubernetes best practices around
// resources, security and reliability to avoid common problems while operating
// or upgrading the clusters.
//
// To request a clusterlint run on your cluster, send a POST request to
// `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/clusterlint`. This will run all
// checks present in the `doks` group by default, if a request body is not
// specified. Optionally specify the below attributes.
//
// For information about the available checks, please refer to
// [the clusterlint check documentation](https://github.com/digitalocean/clusterlint/blob/master/checks.md).
func (c *Client) RunClusterlint(
	ctx context.Context,
	request *godonext.ClusterlintRequest,
	opts ...option.RequestOption,
) (*godonext.KubernetesRunClusterLintResponse, error) {
	response, err := c.WithRawResponse.RunClusterlint(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To integrate the container registry with Kubernetes clusters, send a POST request to `/v2/kubernetes/registry`.
func (c *Client) AddRegistry(
	ctx context.Context,
	request *godonext.ClusterRegistry,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.AddRegistry(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To remove the container registry from Kubernetes clusters, send a DELETE request to `/v2/kubernetes/registry`.
func (c *Client) RemoveRegistry(
	ctx context.Context,
	request *godonext.ClusterRegistry,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.RemoveRegistry(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To integrate the container registries with Kubernetes clusters, send a POST request to `/v2/kubernetes/registries`.
func (c *Client) AddRegistries(
	ctx context.Context,
	request *godonext.ClusterRegistries,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.AddRegistries(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To remove the container registries from Kubernetes clusters, send a DELETE request to `/v2/kubernetes/registries`.
func (c *Client) RemoveRegistries(
	ctx context.Context,
	request *godonext.ClusterRegistries,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.RemoveRegistries(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To retrieve status messages for a Kubernetes cluster, send a GET request to
// `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/status_messages`. Status messages inform users of any issues that come up during the cluster lifecycle.
func (c *Client) GetStatusMessages(
	ctx context.Context,
	request *godonext.KubernetesGetStatusMessagesRequest,
	opts ...option.RequestOption,
) (*godonext.KubernetesGetStatusMessagesResponse, error) {
	response, err := c.WithRawResponse.GetStatusMessages(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
