// Code generated by Fern. DO NOT EDIT.

package reservedipv6

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all of the reserved IPv6s available on your account, send a GET request to `/v2/reserved_ipv6`.
func (c *Client) ReservedIPv6List(
	ctx context.Context,
	request *godonext.ReservedIPv6ListRequest,
	opts ...option.RequestOption,
) (*godonext.ReservedIPv6ListResponse, error) {
	response, err := c.WithRawResponse.ReservedIPv6List(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// On creation, a reserved IPv6 must be reserved to a region.
//   - To create a new reserved IPv6 reserved to a region, send a POST request to
//     `/v2/reserved_ipv6` with the `region_slug` attribute.
func (c *Client) ReservedIPv6Create(
	ctx context.Context,
	request *godonext.ReservedIpv6Create,
	opts ...option.RequestOption,
) (*godonext.ReservedIPv6CreateResponse, error) {
	response, err := c.WithRawResponse.ReservedIPv6Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about a reserved IPv6, send a GET request to `/v2/reserved_ipv6/$RESERVED_IPV6`.
func (c *Client) ReservedIPv6Get(
	ctx context.Context,
	request *godonext.ReservedIPv6GetRequest,
	opts ...option.RequestOption,
) (*godonext.ReservedIPv6GetResponse, error) {
	response, err := c.WithRawResponse.ReservedIPv6Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a reserved IP and remove it from your account, send a DELETE request
// to `/v2/reserved_ipv6/$RESERVED_IPV6`.
//
// A successful request will receive a 204 status code with no body in response.
// This indicates that the request was processed successfully.
func (c *Client) ReservedIPv6Delete(
	ctx context.Context,
	request *godonext.ReservedIPv6DeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.ReservedIPv6Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
