// Code generated by Fern. DO NOT EDIT.

package domains

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To retrieve a list of all of the domains in your account, send a GET request to `/v2/domains`.
func (c *Client) List(
	ctx context.Context,
	request *godonext.DomainsListRequest,
	opts ...option.RequestOption,
) (*godonext.DomainsListResponse, error) {
	response, err := c.WithRawResponse.List(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a new domain, send a POST request to `/v2/domains`. Set the "name"
// attribute to the domain name you are adding. Optionally, you may set the
// "ip_address" attribute, and an A record will be automatically created pointing
// to the apex domain.
func (c *Client) Create(
	ctx context.Context,
	request *godonext.Domain,
	opts ...option.RequestOption,
) (*godonext.DomainsCreateResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get details about a specific domain, send a GET request to `/v2/domains/$DOMAIN_NAME`.
func (c *Client) Get(
	ctx context.Context,
	request *godonext.DomainsGetRequest,
	opts ...option.RequestOption,
) (*godonext.DomainsGetResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a domain, send a DELETE request to `/v2/domains/$DOMAIN_NAME`.
func (c *Client) Delete(
	ctx context.Context,
	request *godonext.DomainsDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
