// Code generated by Fern. DO NOT EDIT.

package firewalls

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all of the firewalls available on your account, send a GET request to `/v2/firewalls`.
// Each entry includes the firewall's inbound/outbound rules, the Droplets and tags it's applied to, and pending state changes. Results are paginated — use `per_page` and `page`.
func (c *Client) List(
	ctx context.Context,
	request *godonext.FirewallsListRequest,
	opts ...option.RequestOption,
) (*godonext.FirewallsListResponse, error) {
	response, err := c.WithRawResponse.List(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a new firewall, send a POST request to `/v2/firewalls`. The request
// must contain at least one inbound or outbound access rule.
func (c *Client) Create(
	ctx context.Context,
	request any,
	opts ...option.RequestOption,
) (*godonext.FirewallsCreateResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about an existing firewall, send a GET request to `/v2/firewalls/$FIREWALL_ID`.
func (c *Client) Get(
	ctx context.Context,
	request *godonext.FirewallsGetRequest,
	opts ...option.RequestOption,
) (*godonext.FirewallsGetResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update the configuration of an existing firewall, send a PUT request to
// `/v2/firewalls/$FIREWALL_ID`. The request should contain a full representation
// of the firewall including existing attributes. **Note that any attributes that
// are not provided will be reset to their default values.**
// <br><br>You must have read access (e.g. `droplet:read`) to all resources attached
// to the firewall to successfully update the firewall.
func (c *Client) Update(
	ctx context.Context,
	request *godonext.FirewallsUpdateRequest,
	opts ...option.RequestOption,
) (*godonext.FirewallsUpdateResponse, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a firewall send a DELETE request to `/v2/firewalls/$FIREWALL_ID`.
//
// No response body will be sent back, but the response code will indicate
// success. Specifically, the response code will be a 204, which means that the
// action was successful with no returned body data.
func (c *Client) Delete(
	ctx context.Context,
	request *godonext.FirewallsDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To assign a Droplet to a firewall, send a POST request to
// `/v2/firewalls/$FIREWALL_ID/droplets`. In the body of the request, there
// should be a `droplet_ids` attribute containing a list of Droplet IDs.
//
// No response body will be sent back, but the response code will indicate
// success. Specifically, the response code will be a 204, which means that the
// action was successful with no returned body data.
func (c *Client) AssignDroplets(
	ctx context.Context,
	request *godonext.FirewallsAssignDropletsRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.AssignDroplets(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To remove a Droplet from a firewall, send a DELETE request to
// `/v2/firewalls/$FIREWALL_ID/droplets`. In the body of the request, there should
// be a `droplet_ids` attribute containing a list of Droplet IDs.
//
// No response body will be sent back, but the response code will indicate
// success. Specifically, the response code will be a 204, which means that the
// action was successful with no returned body data.
func (c *Client) DeleteDroplets(
	ctx context.Context,
	request *godonext.FirewallsDeleteDropletsRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteDroplets(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To assign a tag representing a group of Droplets to a firewall, send a POST
// request to `/v2/firewalls/$FIREWALL_ID/tags`. In the body of the request,
// there should be a `tags` attribute containing a list of tag names.
//
// No response body will be sent back, but the response code will indicate
// success. Specifically, the response code will be a 204, which means that the
// action was successful with no returned body data.
func (c *Client) AddTags(
	ctx context.Context,
	request *godonext.FirewallsAddTagsRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.AddTags(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To remove a tag representing a group of Droplets from a firewall, send a
// DELETE request to `/v2/firewalls/$FIREWALL_ID/tags`. In the body of the
// request, there should be a `tags` attribute containing a list of tag names.
//
// No response body will be sent back, but the response code will indicate
// success. Specifically, the response code will be a 204, which means that the
// action was successful with no returned body data.
func (c *Client) DeleteTags(
	ctx context.Context,
	request *godonext.FirewallsDeleteTagsRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteTags(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To add additional access rules to a firewall, send a POST request to
// `/v2/firewalls/$FIREWALL_ID/rules`. The body of the request may include an
// inbound_rules and/or outbound_rules attribute containing an array of rules to
// be added.
//
// No response body will be sent back, but the response code will indicate
// success. Specifically, the response code will be a 204, which means that the
// action was successful with no returned body data.
func (c *Client) AddRules(
	ctx context.Context,
	request *godonext.FirewallsAddRulesRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.AddRules(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To remove access rules from a firewall, send a DELETE request to
// `/v2/firewalls/$FIREWALL_ID/rules`. The body of the request may include an
// `inbound_rules` and/or `outbound_rules` attribute containing an array of rules
// to be removed.
//
// No response body will be sent back, but the response code will indicate
// success. Specifically, the response code will be a 204, which means that the
// action was successful with no returned body data.
func (c *Client) DeleteRules(
	ctx context.Context,
	request *godonext.FirewallsDeleteRulesRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteRules(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
