// Code generated by Fern. DO NOT EDIT.

package reservedips

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all of the reserved IPs available on your account, send a GET request to `/v2/reserved_ips`.
func (c *Client) ReservedIPsList(
	ctx context.Context,
	request *godonext.ReservedIPsListRequest,
	opts ...option.RequestOption,
) (*godonext.ReservedIPsListResponse, error) {
	response, err := c.WithRawResponse.ReservedIPsList(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// On creation, a reserved IP must be either assigned to a Droplet or reserved to a region.
//   - To create a new reserved IP assigned to a Droplet, send a POST
//     request to `/v2/reserved_ips` with the `droplet_id` attribute.
//
//   - To create a new reserved IP reserved to a region, send a POST request to
//     `/v2/reserved_ips` with the `region` attribute.
func (c *Client) ReservedIPsCreate(
	ctx context.Context,
	request *godonext.ReservedIPCreate,
	opts ...option.RequestOption,
) (*godonext.ReservedIPsCreateResponse, error) {
	response, err := c.WithRawResponse.ReservedIPsCreate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about a reserved IP, send a GET request to `/v2/reserved_ips/$RESERVED_IP_ADDR`.
func (c *Client) ReservedIPsGet(
	ctx context.Context,
	request *godonext.ReservedIPsGetRequest,
	opts ...option.RequestOption,
) (*godonext.ReservedIPsGetResponse, error) {
	response, err := c.WithRawResponse.ReservedIPsGet(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a reserved IP and remove it from your account, send a DELETE request
// to `/v2/reserved_ips/$RESERVED_IP_ADDR`.
//
// A successful request will receive a 204 status code with no body in response.
// This indicates that the request was processed successfully.
func (c *Client) ReservedIPsDelete(
	ctx context.Context,
	request *godonext.ReservedIPsDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.ReservedIPsDelete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
