// Code generated by Fern. DO NOT EDIT.

package reservedipactions

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To retrieve all actions that have been executed on a reserved IP, send a GET request to `/v2/reserved_ips/$RESERVED_IP/actions`.
func (c *Client) ReservedIPsActionsList(
	ctx context.Context,
	request *godonext.ReservedIPsActionsListRequest,
	opts ...option.RequestOption,
) (*godonext.ReservedIPsActionsListResponse, error) {
	response, err := c.WithRawResponse.ReservedIPsActionsList(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To initiate an action on a reserved IP send a POST request to
// `/v2/reserved_ips/$RESERVED_IP/actions`. In the JSON body to the request,
// set the `type` attribute to on of the supported action types:
//
// | Action     | Details
// |------------|--------
// | `assign`   | Assigns a reserved IP to a Droplet
// | `unassign` | Unassign a reserved IP from a Droplet
func (c *Client) ReservedIPsActionsPost(
	ctx context.Context,
	request *godonext.ReservedIPsActionsPostRequest,
	opts ...option.RequestOption,
) (*godonext.ReservedIPsActionsPostResponse, error) {
	response, err := c.WithRawResponse.ReservedIPsActionsPost(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve the status of a reserved IP action, send a GET request to `/v2/reserved_ips/$RESERVED_IP/actions/$ACTION_ID`.
func (c *Client) ReservedIPsActionsGet(
	ctx context.Context,
	request *godonext.ReservedIPsActionsGetRequest,
	opts ...option.RequestOption,
) (*godonext.ReservedIPsActionsGetResponse, error) {
	response, err := c.WithRawResponse.ReservedIPsActionsGet(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
