// Code generated by Fern. DO NOT EDIT.

package dedicatedinference

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Retrieve an existing Dedicated Inference by ID. Send a GET request to
// `/v2/dedicated-inferences/{dedicated_inference_id}`. The status in the response
// is one of active, new, provisioning, updating, deleting, or error.
func (c *Client) DedicatedInferencesGet(
	ctx context.Context,
	request *godonext.DedicatedInferencesGetRequest,
	opts ...option.RequestOption,
) (*godonext.DedicatedInferencesGetResponse, error) {
	response, err := c.WithRawResponse.DedicatedInferencesGet(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Delete an existing Dedicated Inference. Send a DELETE request to
// `/v2/dedicated-inferences/{dedicated_inference_id}`. The response 202 Accepted
// indicates the request was accepted for processing.
func (c *Client) DedicatedInferencesDelete(
	ctx context.Context,
	request *godonext.DedicatedInferencesDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DedicatedInferencesDelete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Update an existing Dedicated Inference. Send a PATCH request to
// `/v2/dedicated-inferences/{dedicated_inference_id}` with updated `spec` and/or
// `access_tokens`. Status will move to updating and return to active when done.
func (c *Client) DedicatedInferencesPatch(
	ctx context.Context,
	request *godonext.DedicatedInferenceUpdateRequest,
	opts ...option.RequestOption,
) (*godonext.DedicatedInferencesPatchResponse, error) {
	response, err := c.WithRawResponse.DedicatedInferencesPatch(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// List all Dedicated Inference instances for your team. Send a GET request to
// `/v2/dedicated-inferences`. You may filter by region and use page and per_page
// for pagination.
func (c *Client) DedicatedInferencesList(
	ctx context.Context,
	request *godonext.DedicatedInferencesListRequest,
	opts ...option.RequestOption,
) (*godonext.DedicatedInferencesListResponse, error) {
	response, err := c.WithRawResponse.DedicatedInferencesList(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Create a new Dedicated Inference for your team. Send a POST request to
// `/v2/dedicated-inferences` with a `spec` object (version, name, region, vpc,
// enable_public_endpoint, model_deployments) and optional `access_tokens` (e.g.
// hugging_face_token for gated models). The response code 202 Accepted indicates
// the request was accepted for processing; it does not indicate success or failure.
// The token value is returned only on create; store it securely.
func (c *Client) DedicatedInferencesCreate(
	ctx context.Context,
	request *godonext.DedicatedInferenceCreateRequest,
	opts ...option.RequestOption,
) (*godonext.DedicatedInferencesCreateResponse, error) {
	response, err := c.WithRawResponse.DedicatedInferencesCreate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// List all accelerators (GPUs) in use by a Dedicated Inference instance. Send a
// GET request to `/v2/dedicated-inferences/{dedicated_inference_id}/accelerators`.
// Optionally filter by slug and use page/per_page for pagination.
func (c *Client) DedicatedInferencesListAccelerators(
	ctx context.Context,
	request *godonext.DedicatedInferencesListAcceleratorsRequest,
	opts ...option.RequestOption,
) (*godonext.DedicatedInferencesListAcceleratorsResponse, error) {
	response, err := c.WithRawResponse.DedicatedInferencesListAccelerators(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve a single accelerator by ID for a Dedicated Inference instance. Send a
// GET request to `/v2/dedicated-inferences/{dedicated_inference_id}/accelerators/{accelerator_id}`.
func (c *Client) DedicatedInferencesGetAccelerator(
	ctx context.Context,
	request *godonext.DedicatedInferencesGetAcceleratorRequest,
	opts ...option.RequestOption,
) (*godonext.DedicatedInferenceAccelerator, error) {
	response, err := c.WithRawResponse.DedicatedInferencesGetAccelerator(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Get the CA certificate for a Dedicated Inference instance (base64-encoded).
// Required for private endpoint connectivity. Send a GET request to
// `/v2/dedicated-inferences/{dedicated_inference_id}/ca`.
func (c *Client) DedicatedInferencesGetCa(
	ctx context.Context,
	request *godonext.DedicatedInferencesGetCaRequest,
	opts ...option.RequestOption,
) (*godonext.DedicatedInferencesGetCaResponse, error) {
	response, err := c.WithRawResponse.DedicatedInferencesGetCa(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// List all access tokens for a Dedicated Inference instance. Token values are
// not returned; only id, name, created_at, and is_managed. Send a GET request to
// `/v2/dedicated-inferences/{dedicated_inference_id}/tokens`.
func (c *Client) DedicatedInferencesListTokens(
	ctx context.Context,
	request *godonext.DedicatedInferencesListTokensRequest,
	opts ...option.RequestOption,
) (*godonext.DedicatedInferencesListTokensResponse, error) {
	response, err := c.WithRawResponse.DedicatedInferencesListTokens(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Create a new access token for a Dedicated Inference instance. Send a POST
// request to `/v2/dedicated-inferences/{dedicated_inference_id}/tokens` with a
// `name`. The token value is returned only once in the response; store it securely.
func (c *Client) DedicatedInferencesCreateTokens(
	ctx context.Context,
	request *godonext.DedicatedInferenceTokenCreateRequest,
	opts ...option.RequestOption,
) (*godonext.DedicatedInferencesCreateTokensResponse, error) {
	response, err := c.WithRawResponse.DedicatedInferencesCreateTokens(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Revoke (delete) an access token for a Dedicated Inference instance. Send a
// DELETE request to `/v2/dedicated-inferences/{dedicated_inference_id}/tokens/{token_id}`.
func (c *Client) DedicatedInferencesDeleteTokens(
	ctx context.Context,
	request *godonext.DedicatedInferencesDeleteTokensRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DedicatedInferencesDeleteTokens(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Get available Dedicated Inference sizes and pricing for supported GPUs. Send a
// GET request to `/v2/dedicated-inferences/sizes`.
func (c *Client) DedicatedInferencesListSizes(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.DedicatedInferenceSizesResponse, error) {
	response, err := c.WithRawResponse.DedicatedInferencesListSizes(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Get supported GPU and model configurations for Dedicated Inference. Use this to
// discover supported GPU slugs and model slugs (e.g. Hugging Face). Send a GET
// request to `/v2/dedicated-inferences/gpu-model-config`.
func (c *Client) DedicatedInferencesGetGpuModelConfig(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.DedicatedInferenceGpuModelConfigsResponse, error) {
	response, err := c.WithRawResponse.DedicatedInferencesGetGpuModelConfig(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
