// Code generated by Fern. DO NOT EDIT.

package tags

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all of your tags, you can send a GET request to `/v2/tags`.
//
// This endpoint will only return tagged resources that you are authorized to see
// (e.g. Droplets will only be returned if you have `droplet:read`).
func (c *Client) List(
	ctx context.Context,
	request *godonext.TagsListRequest,
	opts ...option.RequestOption,
) (*godonext.TagsListResponse, error) {
	response, err := c.WithRawResponse.List(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a tag you can send a POST request to `/v2/tags` with a `name` attribute.
func (c *Client) Create(
	ctx context.Context,
	request *godonext.Tags,
	opts ...option.RequestOption,
) (*godonext.TagsCreateResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve an individual tag, you can send a `GET` request to
// `/v2/tags/$TAG_NAME`.
//
// This endpoint will only return tagged resources that you are authorized to see.
// For example, to see tagged Droplets, include the `droplet:read` scope.
func (c *Client) Get(
	ctx context.Context,
	request *godonext.TagsGetRequest,
	opts ...option.RequestOption,
) (*godonext.TagsGetResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// A tag can be deleted by sending a `DELETE` request to `/v2/tags/$TAG_NAME`. Deleting a tag also untags all the resources that have previously been tagged by the Tag
func (c *Client) Delete(
	ctx context.Context,
	request *godonext.TagsDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Resources can be tagged by sending a POST request to
// `/v2/tags/$TAG_NAME/resources` with an array of json objects containing
// `resource_id` and `resource_type` attributes.
//
// Currently only tagging of Droplets, Databases, Images, Volumes, and Volume
// Snapshots is supported. `resource_type` is expected to be the string `droplet`,
// `database`, `image`, `volume` or `volume_snapshot`. `resource_id` is expected
// to be the ID of the resource as a string.
//
// In order to tag a resource, you must have both `tag:create` and `<resource type>:update` scopes. For example,
// to tag a Droplet, you must have `tag:create` and `droplet:update`.
func (c *Client) AssignResources(
	ctx context.Context,
	request *godonext.TagsAssignResourcesRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.AssignResources(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Resources can be untagged by sending a DELETE request to
// `/v2/tags/$TAG_NAME/resources` with an array of json objects containing
// `resource_id` and `resource_type` attributes.
//
// Currently only untagging of Droplets, Databases, Images, Volumes, and Volume
// Snapshots is supported. `resource_type` is expected to be the string `droplet`,
// `database`, `image`, `volume` or `volume_snapshot`. `resource_id` is expected
// to be the ID of the resource as a string.
//
// In order to untag a resource, you must have both `tag:delete` and `<resource type>:update` scopes. For example,
// to untag a Droplet, you must have `tag:delete` and `droplet:update`.
func (c *Client) UnassignResources(
	ctx context.Context,
	request *godonext.TagsUnassignResourcesRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.UnassignResources(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
