// Code generated by Fern. DO NOT EDIT.

package vpcnatgateways

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all VPC NAT gateways in your team, send a GET request to `/v2/vpc_nat_gateways`.
// The response body will be a JSON object with a key of `vpc_nat_gateways` containing an array of VPC NAT gateway objects.
// These each contain the standard VPC NAT gateway attributes.
func (c *Client) VpcnatgatewaysList(
	ctx context.Context,
	request *godonext.VpcnatgatewaysListRequest,
	opts ...option.RequestOption,
) (*godonext.VpcnatgatewaysListResponse, error) {
	response, err := c.WithRawResponse.VpcnatgatewaysList(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a new VPC NAT gateway, send a POST request to `/v2/vpc_nat_gateways` setting the required attributes.
//
// The response body will contain a JSON object with a key called `vpc_nat_gateway` containing the standard attributes for the new VPC NAT gateway.
func (c *Client) VpcnatgatewaysCreate(
	ctx context.Context,
	request *godonext.VpcNatGatewayCreate,
	opts ...option.RequestOption,
) (*godonext.VpcnatgatewaysCreateResponse, error) {
	response, err := c.WithRawResponse.VpcnatgatewaysCreate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about an individual VPC NAT gateway, send a GET request to
// `/v2/vpc_nat_gateways/$VPC_NAT_GATEWAY_ID`.
func (c *Client) VpcnatgatewaysGet(
	ctx context.Context,
	request *godonext.VpcnatgatewaysGetRequest,
	opts ...option.RequestOption,
) (*godonext.VpcnatgatewaysGetResponse, error) {
	response, err := c.WithRawResponse.VpcnatgatewaysGet(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update the configuration of an existing VPC NAT Gateway, send a PUT request to
// `/v2/vpc_nat_gateways/$VPC_NAT_GATEWAY_ID`. The request must contain a full representation
// of the VPC NAT Gateway including existing attributes.
func (c *Client) VpcnatgatewaysUpdate(
	ctx context.Context,
	request *godonext.VpcnatgatewaysUpdateRequest,
	opts ...option.RequestOption,
) (*godonext.VpcnatgatewaysUpdateResponse, error) {
	response, err := c.WithRawResponse.VpcnatgatewaysUpdate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To destroy a VPC NAT Gateway, send a DELETE request to the `/v2/vpc_nat_gateways/$VPC_NAT_GATEWAY_ID` endpoint.
//
// A successful response will include a 202 response code and no content.
func (c *Client) VpcnatgatewaysDelete(
	ctx context.Context,
	request *godonext.VpcnatgatewaysDeleteRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.VpcnatgatewaysDelete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
