// Code generated by Fern. DO NOT EDIT.

package partnernetworkconnect

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all of the Partner Attachments on your account, send a `GET` request to `/v2/partner_network_connect/attachments`.
func (c *Client) PartnerAttachmentsList(
	ctx context.Context,
	request *godonext.PartnerAttachmentsListRequest,
	opts ...option.RequestOption,
) (*godonext.PartnerAttachmentsListResponse, error) {
	response, err := c.WithRawResponse.PartnerAttachmentsList(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a new partner attachment, send a `POST` request to
// `/v2/partner_network_connect/attachments` with a JSON object containing the
// required configuration details.
func (c *Client) PartnerAttachmentsCreate(
	ctx context.Context,
	request *godonext.PartnerAttachmentWritable,
	opts ...option.RequestOption,
) (*godonext.PartnerAttachmentsCreateResponse, error) {
	response, err := c.WithRawResponse.PartnerAttachmentsCreate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get the details of a partner attachment, send a `GET` request to
// `/v2/partner_network_connect/attachments/{pa_id}`.
func (c *Client) PartnerAttachmentsGet(
	ctx context.Context,
	request *godonext.PartnerAttachmentsGetRequest,
	opts ...option.RequestOption,
) (*godonext.PartnerAttachmentsGetResponse, error) {
	response, err := c.WithRawResponse.PartnerAttachmentsGet(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete an existing partner attachment, send a `DELETE` request to
// `/v2/partner_network_connect/attachments/{pa_id}`.
func (c *Client) PartnerAttachmentsDelete(
	ctx context.Context,
	request *godonext.PartnerAttachmentsDeleteRequest,
	opts ...option.RequestOption,
) (*godonext.PartnerAttachmentsDeleteResponse, error) {
	response, err := c.WithRawResponse.PartnerAttachmentsDelete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To update an existing partner attachment, send a `PATCH` request to
// `/v2/partner_network_connect/attachments/{pa_id}` with a JSON object containing the
// fields to be updated.
func (c *Client) PartnerAttachmentsPatch(
	ctx context.Context,
	request *godonext.PartnerAttachmentsPatchRequest,
	opts ...option.RequestOption,
) (*godonext.PartnerAttachmentsPatchResponse, error) {
	response, err := c.WithRawResponse.PartnerAttachmentsPatch(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get the current BGP auth key for a partner attachment, send a `GET` request to
// `/v2/partner_network_connect/attachments/{pa_id}/bgp_auth_key`.
func (c *Client) PartnerAttachmentsGetBgpAuthKey(
	ctx context.Context,
	request *godonext.PartnerAttachmentsGetBgpAuthKeyRequest,
	opts ...option.RequestOption,
) (*godonext.PartnerAttachmentsGetBgpAuthKeyResponse, error) {
	response, err := c.WithRawResponse.PartnerAttachmentsGetBgpAuthKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list all remote routes associated with a partner attachment, send a `GET` request to
// `/v2/partner_network_connect/attachments/{pa_id}/remote_routes`.
func (c *Client) PartnerAttachmentsListRemoteRoutes(
	ctx context.Context,
	request *godonext.PartnerAttachmentsListRemoteRoutesRequest,
	opts ...option.RequestOption,
) (*godonext.PartnerAttachmentsListRemoteRoutesResponse, error) {
	response, err := c.WithRawResponse.PartnerAttachmentsListRemoteRoutes(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To get the current service key for a partner attachment, send a `GET` request to
// `/v2/partner_network_connect/attachments/{pa_id}/service_key`.
func (c *Client) PartnerAttachmentsGetServiceKey(
	ctx context.Context,
	request *godonext.PartnerAttachmentsGetServiceKeyRequest,
	opts ...option.RequestOption,
) (*godonext.PartnerAttachmentsGetServiceKeyResponse, error) {
	response, err := c.WithRawResponse.PartnerAttachmentsGetServiceKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// This operation generates a new service key for the specified partner attachment. The operation is asynchronous, and the response is an empty JSON object returned with a 202 status code. To poll for the new service key, send a `GET` request to `/v2/partner_network_connect/attachments/{pa_id}/service_key`.
func (c *Client) PartnerAttachmentsCreateServiceKey(
	ctx context.Context,
	request *godonext.PartnerAttachmentsCreateServiceKeyRequest,
	opts ...option.RequestOption,
) (*godonext.PartnerAttachmentsCreateServiceKeyResponse, error) {
	response, err := c.WithRawResponse.PartnerAttachmentsCreateServiceKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
