// Code generated by Fern. DO NOT EDIT.

package droplets

import (
	context "context"

	godonext "github.com/harshmaru7/godo-next"
	core "github.com/harshmaru7/godo-next/core"
	internal "github.com/harshmaru7/godo-next/internal"
	option "github.com/harshmaru7/godo-next/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// To list all Droplets in your account, send a GET request to `/v2/droplets`.
//
// The response body will be a JSON object with a key of `droplets`. This will be
// set to an array containing objects each representing a Droplet. These will
// contain the standard Droplet attributes.
//
// Note: results are paginated. Use `per_page` and `page` to walk through large
// fleets, and check `meta.total` for the full count across all pages.
//
// ### Filtering Results by Tag
//
// It's possible to request filtered results by including certain query parameters.
// To only list Droplets assigned to a specific tag, include the `tag_name` query
// parameter set to the name of the tag in your GET request. For example,
// `/v2/droplets?tag_name=$TAG_NAME`.
//
// ### GPU Droplets
//
// By default, only non-GPU Droplets are returned. To list only GPU Droplets, set
// the `type` query parameter to `gpus`. For example, `/v2/droplets?type=gpus`.
func (c *Client) List(
	ctx context.Context,
	request *godonext.DropletsListRequest,
	opts ...option.RequestOption,
) (*godonext.DropletsListResponse, error) {
	response, err := c.WithRawResponse.List(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To create a new Droplet, send a POST request to `/v2/droplets` setting the
// required attributes.
//
// A Droplet will be created using the provided information. The response body
// will contain a JSON object with a key called `droplet`. The value will be an
// object containing the standard attributes for your new Droplet. The response
// code, 202 Accepted, does not indicate the success or failure of the operation,
// just that the request has been accepted for processing. The `actions` returned
// as part of the response's `links` object can be used to check the status
// of the Droplet create event.
//
// ### Create Multiple Droplets
//
// Creating multiple Droplets is very similar to creating a single Droplet.
// Instead of sending `name` as a string, send `names` as an array of strings. A
// Droplet will be created for each name you send using the associated
// information. Up to ten Droplets may be created this way at a time.
//
// Rather than returning a single Droplet, the response body will contain a JSON
// array with a key called `droplets`. This will be set to an array of JSON
// objects, each of which will contain the standard Droplet attributes. The
// response code, 202 Accepted, does not indicate the success or failure of any
// operation, just that the request has been accepted for processing. The array
// of `actions` returned as part of the response's `links` object can be used to
// check the status of each individual Droplet create event.
func (c *Client) Create(
	ctx context.Context,
	request *godonext.DropletsCreateRequest,
	opts ...option.RequestOption,
) (*godonext.DropletsCreateResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete **all** Droplets assigned to a specific tag, include the `tag_name`
// query parameter set to the name of the tag in your DELETE request. For
// example, `/v2/droplets?tag_name=$TAG_NAME`.
//
// This endpoint requires `tag:read` scope.
//
// A successful request will receive a 204 status code with no body in response.
// This indicates that the request was processed successfully.
func (c *Client) DestroyBytag(
	ctx context.Context,
	request *godonext.DropletsDestroyByTagRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DestroyBytag(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To show information about an individual Droplet, send a GET request to
// `/v2/droplets/$DROPLET_ID`.
func (c *Client) Get(
	ctx context.Context,
	request *godonext.DropletsGetRequest,
	opts ...option.RequestOption,
) (*godonext.DropletsGetResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To delete a Droplet, send a DELETE request to `/v2/droplets/$DROPLET_ID`.
//
// A successful request will receive a 204 status code with no body in response.
// This indicates that the request was processed successfully.
func (c *Client) Destroy(
	ctx context.Context,
	request *godonext.DropletsDestroyRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Destroy(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To retrieve any backups associated with a Droplet, send a GET request to
// `/v2/droplets/$DROPLET_ID/backups`.
//
// You will get back a JSON object that has a `backups` key. This will be set to
// an array of backup objects, each of which contain the standard
// Droplet backup attributes.
func (c *Client) ListBackups(
	ctx context.Context,
	request *godonext.DropletsListBackupsRequest,
	opts ...option.RequestOption,
) (*godonext.DropletsListBackupsResponse, error) {
	response, err := c.WithRawResponse.ListBackups(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To show information about an individual Droplet's backup policy, send a GET
// request to `/v2/droplets/$DROPLET_ID/backups/policy`.
func (c *Client) GetBackupPolicy(
	ctx context.Context,
	request *godonext.DropletsGetBackupPolicyRequest,
	opts ...option.RequestOption,
) (*godonext.DropletsGetBackupPolicyResponse, error) {
	response, err := c.WithRawResponse.GetBackupPolicy(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list information about the backup policies for all Droplets in the account,
// send a GET request to `/v2/droplets/backups/policies`.
func (c *Client) ListBackupPolicies(
	ctx context.Context,
	request *godonext.DropletsListBackupPoliciesRequest,
	opts ...option.RequestOption,
) (*godonext.DropletsListBackupPoliciesResponse, error) {
	response, err := c.WithRawResponse.ListBackupPolicies(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve a list of all supported Droplet backup policies, send a GET
// request to `/v2/droplets/backups/supported_policies`.
func (c *Client) ListSupportedBackupPolicies(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.DropletsListSupportedBackupPoliciesResponse, error) {
	response, err := c.WithRawResponse.ListSupportedBackupPolicies(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve the snapshots that have been created from a Droplet, send a GET
// request to `/v2/droplets/$DROPLET_ID/snapshots`.
//
// You will get back a JSON object that has a `snapshots` key. This will be set
// to an array of snapshot objects, each of which contain the standard Droplet
// snapshot attributes.
func (c *Client) ListSnapshots(
	ctx context.Context,
	request *godonext.DropletsListSnapshotsRequest,
	opts ...option.RequestOption,
) (*godonext.DropletsListSnapshotsResponse, error) {
	response, err := c.WithRawResponse.ListSnapshots(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve a list of all kernels available to a Droplet, send a GET request
// to `/v2/droplets/$DROPLET_ID/kernels`
//
// The response will be a JSON object that has a key called `kernels`. This will
// be set to an array of `kernel` objects, each of which contain the standard
// `kernel` attributes.
func (c *Client) ListKernels(
	ctx context.Context,
	request *godonext.DropletsListKernelsRequest,
	opts ...option.RequestOption,
) (*godonext.DropletsListKernelsResponse, error) {
	response, err := c.WithRawResponse.ListKernels(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve a list of all firewalls available to a Droplet, send a GET request
// to `/v2/droplets/$DROPLET_ID/firewalls`
//
// The response will be a JSON object that has a key called `firewalls`. This will
// be set to an array of `firewall` objects, each of which contain the standard
// `firewall` attributes.
func (c *Client) ListFirewalls(
	ctx context.Context,
	request *godonext.DropletsListFirewallsRequest,
	opts ...option.RequestOption,
) (*godonext.DropletsListFirewallsResponse, error) {
	response, err := c.WithRawResponse.ListFirewalls(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To retrieve a list of any "neighbors" (i.e. Droplets that are co-located on
// the same physical hardware) for a specific Droplet, send a GET request to
// `/v2/droplets/$DROPLET_ID/neighbors`.
//
// The results will be returned as a JSON object with a key of `droplets`. This
// will be set to an array containing objects representing any other Droplets
// that share the same physical hardware. An empty array indicates that the
// Droplet is not co-located any other Droplets associated with your account.
func (c *Client) ListNeighbors(
	ctx context.Context,
	request *godonext.DropletsListNeighborsRequest,
	opts ...option.RequestOption,
) (*godonext.DropletsListNeighborsResponse, error) {
	response, err := c.WithRawResponse.ListNeighbors(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To list the associated billable resources that can be destroyed along with a
// Droplet, send a GET request to the
// `/v2/droplets/$DROPLET_ID/destroy_with_associated_resources` endpoint.
//
// This endpoint will only return resources that you are authorized to see. For
// example, to see associated Reserved IPs, include the `reserved_ip:read` scope.
//
// The response will be a JSON object containing `snapshots`, `volumes`, and
// `volume_snapshots` keys. Each will be set to an array of objects containing
// information about the associated resources.
func (c *Client) ListAssociatedresources(
	ctx context.Context,
	request *godonext.DropletsListAssociatedResourcesRequest,
	opts ...option.RequestOption,
) (*godonext.DropletsListAssociatedResourcesResponse, error) {
	response, err := c.WithRawResponse.ListAssociatedresources(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// To destroy a Droplet along with a sub-set of its associated resources, send a
// DELETE request to the `/v2/droplets/$DROPLET_ID/destroy_with_associated_resources/selective`
// endpoint. The JSON body of the request should include `reserved_ips`, `snapshots`, `volumes`,
// or `volume_snapshots` keys each set to an array of IDs for the associated
// resources to be destroyed. The IDs can be found by querying the Droplet's
// associated resources. Any associated resource not included in the request
// will remain and continue to accrue changes on your account.
//
// A successful response will include a 202 response code and no content. Use
// the status endpoint to check on the success or failure of the destruction of
// the individual resources.
func (c *Client) DestroyWithassociatedresourcesselective(
	ctx context.Context,
	request *godonext.SelectiveDestroyAssociatedResource,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DestroyWithassociatedresourcesselective(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To destroy a Droplet along with all of its associated resources, send a DELETE
// request to the `/v2/droplets/$DROPLET_ID/destroy_with_associated_resources/dangerous`
// endpoint. The headers of this request must include an `X-Dangerous` key set to
// `true`. To preview which resources will be destroyed, first query the
// Droplet's associated resources. This operation _can not_ be reverse and should
// be used with caution.
//
// A successful response will include a 202 response code and no content. Use the
// status endpoint to check on the success or failure of the destruction of the
// individual resources.
func (c *Client) DestroyWithassociatedresourcesdangerous(
	ctx context.Context,
	request *godonext.DropletsDestroyWithAssociatedResourcesDangerousRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DestroyWithassociatedresourcesdangerous(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To check on the status of a request to destroy a Droplet with its associated
// resources, send a GET request to the
// `/v2/droplets/$DROPLET_ID/destroy_with_associated_resources/status` endpoint.
func (c *Client) GetDestroyassociatedresourcesstatus(
	ctx context.Context,
	request *godonext.DropletsGetDestroyAssociatedResourcesStatusRequest,
	opts ...option.RequestOption,
) (*godonext.AssociatedResourceStatus, error) {
	response, err := c.WithRawResponse.GetDestroyassociatedresourcesstatus(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// If the status of a request to destroy a Droplet with its associated resources
// reported any errors, it can be retried by sending a POST request to the
// `/v2/droplets/$DROPLET_ID/destroy_with_associated_resources/retry` endpoint.
//
// Only one destroy can be active at a time per Droplet. If a retry is issued
// while another destroy is in progress for the Droplet a 409 status code will
// be returned. A successful response will include a 202 response code and no
// content.
func (c *Client) DestroyRetrywithassociatedresources(
	ctx context.Context,
	request *godonext.DropletsDestroyRetryWithAssociatedResourcesRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DestroyRetrywithassociatedresources(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// To retrieve a list of all Droplets that are co-located on the same physical
// hardware, send a GET request to `/v2/reports/droplet_neighbors_ids`.
//
// The results will be returned as a JSON object with a key of `neighbor_ids`.
// This will be set to an array of arrays. Each array will contain a set of
// Droplet IDs for Droplets that share a physical server. An empty array
// indicates that all Droplets associated with your account are located on
// separate physical hardware.
func (c *Client) ListNeighborsids(
	ctx context.Context,
	opts ...option.RequestOption,
) (*godonext.NeighborIDs, error) {
	response, err := c.WithRawResponse.ListNeighborsids(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
